[2017-01-24 17:31] davidamichelson commented on #890
@wsalesky could you please push this to the development server:

“This map displays X of Y places. Only places with coordinates in The Syriac Gazetteer are displayed. [See why?]” See why links to the FAQ as a present.

Also, could you please add a title above the map. Title should be “Related places.” This should be static and part of the frame rather than the function and may vary by instance but

[2017-01-24 17:53] davidamichelson opened #933 "Bug: See search tips for more details."
On search results the link/tooltip for  See search tips for more details. seems not to work on the dev server.

[2017-01-24 17:53] davidamichelson commented on #933
I tested this: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/search.html?q=Tur+Abdin

[2017-01-24 18:07] davidamichelson opened #934 "Advanced search functions"
Here are a few revisions:

In all modules:

Please revise the phrase: "Associated Places" and "Associated Texts" everywhere that they occur in in advanced search to read "Related Places" and "Related Works"

Please revise the phrase: "* Enter syriaca uri. ex: http://syriaca.org/..." everywhere that it occurs in any module to read "* Enter syriaca.org URI, ex: http://syriaca.org/..."

In persons se

[2017-01-24 18:07] davidamichelson commented on #934
Please push to dev and notify us for review before closing this issue.

[2017-01-24 21:39] davidamichelson commented on #874
At the 1/24/17 developers meeting we reviewed the 4 items listed by @tacarlson above and reached the following agreements. @wsalesky would you please read both these comments here and refer to the post by @tacarlson above for reference.

"1. This script does not work as expected on records which have been edited since an earlier run of this script..."

There are a couple of issues here.

First, th

[2017-01-24 21:39] davidamichelson commented on #874
@wsalesky for now please make the change for number 2 above and I will post about number 1 when ready

[2017-01-24 21:44] davidamichelson commented on #874
oops I forgot one item related to numbers 1 and 3 above. @wsalesky We would like to have script delete all previously generated simplified names each time it runs. Could you please add a delete that removes all names based on the "en-x-srp1" tag before running the script. This will prevent duplicates and also help deleted orphaned simplified names whose source name may have changed or been deleted

[2017-01-24 21:45] davidamichelson opened #935 "Running Maintenance Scripts in Perseids"
This is split off from https://github.com/srophe/srophe-eXist-app/issues/874

As part of the Perseids integration, we should include the running of maintenance scripts on the TEI data as part of the finalization of records and before they are fully approved for push to master.

@wsalesky could you please let us know what ways you suggest we integrate that? Would the script be run before or after "

[2017-01-24 21:46] wsalesky commented on #935
I would recommend adding it to the Syriaca.org admin module, and running them before submitting them to Perseids. I can add a button.

[2017-01-24 21:48] davidamichelson commented on #935
Thanks, let's discuss tomorrow. One problem with that is that the record will often get slightly edited while in Perseids and thus the scripts need to be run afterward I think.

[2017-01-24 21:53] davidamichelson commented on #874
Okay, here is a resolution on xml-id generation:

Please have the script derive the new placeName's xml-id  from the xml-id of its source placeName.

Thus:
 ```<placeName xml:id="name221-1" xml:lang="en" syriaca-tags="#syriaca-headword" source="#bib221-2">Ṭur ʿAbdin</placeName>```

produces
[code]

[2017-01-25 03:33] wsalesky commented on #806
Okay, new language options added. Please review.

[2017-01-25 04:17] wsalesky commented on #890
@davidamichelson Ready for review.

[2017-01-25 04:20] davidamichelson commented on #890
I love it. Could the "Related Places" map title be added elsewhere in SBD please such as here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?fq=;fq-Type:http://syriaca.org/q;fq-Century:300-400&view=facets

[2017-01-25 04:22] davidamichelson commented on #806
Fabulous, now in the spirit of always asking for more ;) Can we get the keyboard to toggle its Syriac font to the three options?

[2017-01-25 04:24] wsalesky commented on #806
We can discuss tomorrow.

[2017-01-25 04:32] wsalesky commented on #890
Sure. How does this look:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?fq=;fq-Type:http://syriaca.org/q;fq-Century:300-400&view=facets

[2017-01-25 04:37] davidamichelson commented on #890
Great!

On Jan 24, 2017, at 10:32 PM, Winona Salesky wrote:

[2017-01-25 14:05] wsalesky commented on #934
For all titles, should this include titles in the tei:teiHeader? or just within the tei:body?

[2017-01-25 14:28] tacarlson commented on #890
It looks like there are now map titles across SBD, but the map caveat has not been updated on http://syriaca.org/person/50 or other person records.  The caveat should be made consistent across all modules, pending agreement by the other module editors.

________________________________
From: David Michelson <notifications@github.com>
Sent: Tuesday, January 24, 2017 10:37:22 PM
To: srophe/srophe-eX

[2017-01-25 14:36] wsalesky commented on #890
Thanks @tacarlson I missed that map. Here it is:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/50

[2017-01-25 14:47] wsalesky commented on #933
Fixed.

[2017-01-25 14:47] #933 closed

[2017-01-25 16:08] dlschwartz commented on #890
This looks great! Thanks Winona.

[2017-01-25 17:08] wsalesky commented on #934
For the Gazetteer, there are not currently any related works or persons in the data. Do you still want to add the search box?

[2017-01-25 17:11] wsalesky commented on #927
Add a trigger in config to turn debugging message on or off.

[2017-01-25 17:52] davidamichelson commented on #935
@wsalesky will inquire of Bridget

[2017-01-25 18:09] davidamichelson commented on #806
Please add "Mod. Standard", after Arabic, Greek, Russian...

Please add English QWERTY as a new keyboard and label.

Put Syriac (s) first and then others by alphabetical.

Put Syriac Phonetic first before Syriac Standard

[2017-01-25 18:18] davidamichelson opened #936 "Nav Bar Icons"
Delete the magnifying glass icon
Move keyboard icon to first after search box
Keep gears
Change "font" icon to the word "Font"

In font icon add a choice "Default" as first option. (this option displays the page as encoded).

Bill to corpus app development.

[2017-01-25 18:18] davidamichelson commented on #936
Please put on dev and solicit feedback.

[2017-01-25 20:56] davidamichelson commented on #934
Hmm, good point. We do want to add this eventually to the data (in fact
record place/78 has work data that could be encoded with URIs and
Constantinople the place could have a person URI added to mention of
Constantine) and to the advanced search. @tacarlson, how would you like to
proceed? Should we add them but gray them out at present?

[2017-01-26 04:06] wsalesky commented on #806
Done! Please review.

[2017-01-26 13:58] wsalesky commented on #874
A far as I can tell the new numbering for xml:ids is only used in bibls:
ex:
[code]

[2017-01-26 14:17] wsalesky commented on #934
I think we should add them, but comment them out, in the form. That way when you want to enable them you can simply uncomment the input boxes. The functionality is already in place. (My two cents.)

[2017-01-26 14:18] wsalesky commented on #932
@nathangibson For some reason I'm having a terrible time ordering these... trying again today.

[2017-01-26 14:18] wsalesky commented on #902
When do we want this to move to production?

[2017-01-26 14:28] nathangibson commented on #806
Seems to be working very well for me. Selecting different languages went fine, and keyboard no longer stays active when I click off of it.

Only problem I came up with is that clicking the enter key on the software keyboard does not search whereas pressing it on my hardware keyboard does. I feel like we discussed that before but I don't remember if we decided it should be fixed (or the enter key j

[2017-01-26 14:34] nathangibson commented on #932
OK, let me know what you need.

[2017-01-26 15:04] tacarlson commented on #934
I think @wsalesky 's solution makes sense, but I would like to hear more about the present functionality of this search.  I am surprised to hear that there are no such relations in the data.  We decided earlier that a relationship between two entities would only be maintained in one record, not both, and that the preferred record for maintaining a relationship between a person and a place is in th

[2017-01-26 15:07] wsalesky commented on #934
@tacarlson

Thanks for the reminder, I was not thinking in those terms when I wrote the search, let me play with it and see what I come up with, since you are correct that data is already in the persons and works data.

[2017-01-26 17:32] nathangibson opened #937 "Webhooks down?"
I've pushed changes to http://syriaca.org/bibl/2199 in commit https://github.com/srophe/srophe-app-data/commit/bdf2ca10e4af3551c3f3d3780215468622000fff but I don't see these changes on the production server even with a hard refresh. Are webhooks down?

[2017-01-26 17:47] wsalesky commented on #937
Looks like the request timed out. I have resubmitted it, looks like it was successful. You can check (and resubmit) a webhook request, via the github, under the settings tab. We should probably review it at an upcoming meeting.

[2017-01-26 17:47] #937 closed

[2017-01-26 17:51] nathangibson commented on #937
Thanks!

[2017-01-26 18:39] wsalesky commented on #932
@nathangibson Can you remind me of the order for each of these bibl types? I think I mixed them up.
These are they types I currently have, in the order I have them:
lawd:Edition
lawd:Translation
syriaca:ModernTranslation
lawd:WrittenWork
syriaca:Manuscript
syriaca:Catalogue

[2017-01-27 15:39] davidamichelson commented on #932
Nathan please confer with me on this today thanks

[2017-01-27 17:15] wsalesky opened #938 "Empty headword in search/browse results."
RE: https://github.com/srophe/srophe-app-data/issues/695

[2017-01-27 17:27] #938 closed

[2017-01-27 18:04] nathangibson commented on #932
@wsalesky For the manuscript bibl display with ptr, please use the following:

[2017-01-27 19:37] wsalesky commented on #936
@davidamichelson were we adding more items to the 'gear' option? Or does it just go to the advanced search. I thought we were going to have a drop down menu?

[2017-01-27 22:29] davidamichelson commented on #936
I think in th eend it stays the same since the keyboard button is staying
in the nav bar

On Fri, Jan 27, 2017 at 1:37 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-01-29 03:45] wsalesky commented on #890
Maps for SBD are now on production.

[2017-01-29 03:45] #890 closed

[2017-01-29 03:48] wsalesky opened #939 "Facets for persons type and dates are not working on dev"
See: http://localhost:8080/exist/apps/srophe/persons/browse.html?fq=;fq-Type:http://syriaca.org/q&view=type

[2017-01-29 04:22] wsalesky commented on #936
New version up on dev for review.
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/index.html

[2017-01-29 20:55] jsaintlauren commented on #890
Looks great!!

On Sat, Jan 28, 2017 at 9:45 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-01-31 16:51] davidamichelson commented on #936
Looks good, we would like to have the order be: search box, keyboard, search gear, font please. (ie move font to last.

Second, in the font menu please add as the last item the choice "Help?" and provide a link to: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/documentation/wiki.html?wiki-page=/How-to-view-Syriac-script&wiki-uri=https://github.com/srophe/srophe-app-data/wiki

Related to thi

[2017-02-01 19:57] nathangibson opened #940 "TEI View broken on dev server"
I seem to get the following error when trying to view any TEI on the dev server (e.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/97/tei):

This is on FF. Safari doesn't load anything, not even an error message.

[2017-02-02 03:01] wsalesky commented on #940
Interesting. The corpus restxq script interferes with the syriaca.org script.

[2017-02-02 03:01] #940 closed

[2017-02-02 09:11] nathangibson commented on #940
Thanks!

[2017-02-02 21:12] wsalesky commented on #936
Let me know if we are ready to move any of these features to the Production server.

[2017-02-02 21:17] wsalesky commented on #806
Let me know when we are ready to move this to Production.

[2017-02-02 21:18] dlschwartz commented on #936
I think we are ready to move this to Production now. Thank you Winona!

[2017-02-02 21:24] dlschwartz commented on #806
I glanced back over the comments here and I think we are in good shape with one exception. The enter key on the virtual keyboard does not do anything. Is there a way we can have that button execute the search?

[2017-02-02 21:36] wsalesky commented on #939
Resolved on dev. Prod is still using the old version of the type/date. We have not pushed facets to Prod yet.

[2017-02-02 21:36] #939 closed

[2017-02-02 22:06] dlschwartz commented on #936
We've got a green light from all interested parties. Let's move this to Production. Thank you Winona.

[2017-02-02 23:54] dlschwartz opened #941 "Problem with recaptsha in Additions/Corrections"
I get the following error: ERROR for site owner: Invalid domain for site key

[2017-02-02 23:59] wsalesky commented on #941
From what page?

Sent from my iPhone

[2017-02-03 17:00] dlschwartz commented on #941
I've tried it with several in SBD. For example: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1463.

[2017-02-03 17:00] dlschwartz commented on #941
It only seems to be a problem on dev, by the way.

[2017-02-03 17:03] wsalesky commented on #941
Yes, well dev is using the recaptcha key for prod... I did not realize we would be using this as a feature on the dev branch as well. I can check to see if can share a key.

[2017-02-03 17:06] dlschwartz commented on #941
Maybe we don't need it. Sorry to muddy the waters. We have some differences in our data between dev and production when it comes to people who used to share a URI, but whom we have subsequently tired to assign different URIs. I am trying to work out what is going on with this and found an error in the data that I tried to report using this corrections button. I just won't do that anymore. I'll use

[2017-02-03 17:06] #941 closed

[2017-02-03 17:08] wsalesky commented on #936
Done!

[2017-02-03 17:08] #936 closed

[2017-02-06 14:26] wsalesky commented on #932
I think this can be closed.

[2017-02-06 14:26] #932 closed

[2017-02-06 14:26] wsalesky commented on #935
This has been implemented. Bridget is testing it.

[2017-02-06 14:26] #935 closed

[2017-02-06 14:32] wsalesky commented on #310
I think this can be closed. The date is the heading currently.

[2017-02-06 14:32] #310 closed

[2017-02-06 14:33] wsalesky commented on #311
I think this can be closed. Updates on other bugs seem to have resolved this.

[2017-02-06 14:33] #311 closed

[2017-02-06 14:34] wsalesky commented on #338
I believe this can be closed.

[2017-02-06 14:34] #338 closed

[2017-02-06 14:34] #460 closed

[2017-02-06 14:37] wsalesky commented on #616
Fixed by an earlier commit

[2017-02-06 14:37] #616 closed

[2017-02-06 16:06] wsalesky commented on #806
I think we agreed to table that issue for now. I can force submit on enter, but the code is buggy, and it would take some combing through the source for me to fully debug.

[2017-02-06 17:29] dlschwartz commented on #806
Sorry, I'm sure I was just mis-remembering. Thanks.

[2017-02-08 16:35] dlschwartz opened #942 "SPEAR broken after pushing updates"
My research assistant Kathy and I have both recently pushed changes to SPEAR data. I have made a couple of minor tweaks to the schema and we have both made some changes to the data to bring it into line with the schema. I am now getting a lot of errors throughout SPEAR. Can you please help me troubleshoot this @wsalesky. Thank you.

[2017-02-08 16:39] wsalesky commented on #942
Can you post some links to problematic pages?
Thanks!

[2017-02-08 16:43] dlschwartz commented on #942
It's not quite everything but close to it:

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2200

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=events

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=relations

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=

[2017-02-08 16:43] wsalesky commented on #942
Thanks. I will take a look.

[2017-02-08 17:53] wsalesky commented on #926
For all dates with both tei:@from AND tei:@to use the label “between [Date] - [Date]”
For any dates that have a tei:@notBefore or a tei:@notAfter then use the label:
“Sometime between [Date] - [Date]”
This affects only dates which show up in the HTML H1 titles of person records

[2017-02-08 19:15] wsalesky commented on #942
Fixed. Except I now see a bug in events. I will open a new bug for that.

[2017-02-08 19:15] #942 closed

[2017-02-08 19:15] wsalesky opened #943 "SPEAR events tab not working"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=events

[2017-02-09 20:53] #943 closed

[2017-02-10 18:01] wsalesky commented on #926
Fixed.

[2017-02-10 18:01] #926 closed

[2017-02-14 15:37] wsalesky commented on #934
I did some testing on this. I think we will need to leverage RDF to get decent performance for these relationships. Hope to have a triple store up to test the data on in the next week or two.

[2017-02-14 15:37] #927 closed

[2017-02-14 15:38] wsalesky commented on #891
@nathangibson @dlschwartz @jsaintlauren Is this ready for production?

[2017-02-14 15:41] wsalesky commented on #874
For future records, this has been handled by the update scripts, integrated into the Perseids approval process (https://github.com/srophe/srophe-eXist-app/issues/935). Do we need to run an update on existing records as well? @davidamichelson

[2017-02-14 15:57] nathangibson commented on #891
So far as I can tell, seems to be good except for 1 thing: were we going to make the language tags human-friendly (see https://github.com/srophe/srophe-eXist-app/issues/891#issuecomment-265561322 above)?

[2017-02-14 15:59] wsalesky commented on #891
@nathangibson Yes, we were. Thanks.

[2017-02-15 14:31] wsalesky commented on #891
@nathangibson There are two entries for `xml:lang = 'en-x-gedsh'` in the ODD file, is this intentional?

https://github.com/srophe/srophe-eXist-app/blob/dev/srophe-app/documentation/syriaca-tei-main.odd#L79

[2017-02-15 14:58] wsalesky commented on #891
Okay, here is the updated browse with labels, it is starting to get a little sluggish. I'm currently doing some testing with eXist 3.0 to see if it is any faster.

[2017-02-16 13:01] nathangibson commented on #891
Oops, the double 'en-x-gedsh' is a bad copy-paste. Corrected now.

[2017-02-16 13:01] nathangibson commented on #891
When we push this to production, which ODD file will it look at? We haven't updated the production ODD yet because we were afraid it might interfere with the Perseids work.

[2017-02-16 13:11] nathangibson commented on #891
Seeing it in this form also made me realize the labels I put on the languages were not very list-friendly -- i.e., hard to spot the language you're looking for. So I've changed them. I don't think it should affect your code.

[2017-02-16 15:10] wsalesky commented on #891
We can control the path to the ODD file in the repo.xml file, so we can point it at either.

[2017-02-17 11:59] nathangibson opened #944 "See/Hide bug in relations sidebar"
When I look at http://wwwb.library.vanderbilt.edu/work/235 (FF 51.0.1 on Mac 10.10.5) it says "This work commemorates 7 persons" then shows the work (not person) record first and then a single person (image 1). When I click "See all 7" nothing changes (image 2). Then when I click the "Hide" button all relations vanish along with the button (image 3).
![agapius__two_alexanders__two_dionysii__timoth

[2017-02-17 12:00] nathangibson opened #945 "Relationships sidebar displays work for "syriaca:commemorated""
For the ref="syriaca:commemorated" relation in works, the relationships sidebar is showing both the work (active) and the person (passive). It should only show the person, right?
http://wwwb.library.vanderbilt.edu/work/235
http://wwwb.library.vanderbilt.edu/work/835
Possibly related #944

[2017-02-17 12:02] nathangibson opened #946 "Relationships sidebar doesn't show plural for number 2"
The relationships sidebar correctly says "7 persons" for http://wwwb.library.vanderbilt.edu/work/235 but says "2 person" (singular) and "2 work" for http://wwwb.library.vanderbilt.edu/work/835.

[2017-02-17 13:54] wsalesky commented on #945
Yes, these are related, looks like a problem with the indexes, not the code.

[2017-02-17 14:26] wsalesky commented on #945
@nathangibson do you need the works on the dev server in the next hour? I think to fix the relationship issues I need to reload the works data. I can wait if you are using it today.

[2017-02-17 14:28] wsalesky commented on #944
ID mis-match.

[2017-02-17 14:28] #944 closed

[2017-02-17 14:28] wsalesky commented on #945
Same as: https://github.com/srophe/srophe-eXist-app/issues/946

[2017-02-17 14:28] wsalesky commented on #946
Same as: https://github.com/srophe/srophe-eXist-app/issues/945

[2017-02-17 14:32] nathangibson commented on #945
Go for it. I can use my local copy/github, assuming this won't affect the github repo. Let me know when you're done.

[2017-02-17 15:13] wsalesky commented on #945
It will not make any changes, just a little downtime on dev. Thanks.

[2017-02-17 17:21] nathangibson opened #947 "Do we need to change Perseids board integration in admin module?"
When I submit to perseids from the admin module, I get the error "Failed submission: 405 405 Invalid Community". When I log into perseids, I can see the record, it is just not assigned to a board. I believe Bridget created new boards, so the old links are probably broken.

[2017-02-21 01:34] wsalesky commented on #947
Sorry, that was my error. I fixed it and submitted a record. Seems to have gone to the correct board, although I now do not seem to have permission to delete it! (person-14)

[2017-02-21 01:34] #947 closed

[2017-02-21 15:39] tacarlson opened #948 "Missing bullet point & missing space for "See Also" Google"
On http://syriaca.org/place/15.html , in the "See Also" section in the right-hand column and down, there is are bullet points for Pleiades, ATOM, TEI, and Wikipedia, but not a bullet point for "View in Google Maps".  It also looks like there is no space between the Google Maps icon and the text "View in Google Maps" as there is for the other four entries of "See Also".

[2017-02-21 15:41] wsalesky commented on #948
Thanks, I will take a look.

[2017-02-21 17:15] wsalesky commented on #948
fixed.

[2017-02-21 17:15] #948 closed

[2017-02-21 20:13] dlschwartz opened #949 "Icon in browser tabs"
When I have a lot of tabs open as I move back and forth between person, place, and work records, it is super helpful that the Gazetteer records have a gimel with maroon background. The person and work records currently have the alaph with blue background that is for the Syriaca.org homepage. Can you please make the icon that appears in the tab, the icon for the module (not the volume) of which tha

[2017-02-22 19:13] wsalesky commented on #949
Done!

[2017-02-22 19:13] #949 closed

[2017-02-22 19:29] dlschwartz commented on #949
Thanks Winona! This will be more helpful than you might imagine.

[2017-03-01 18:42] nathangibson opened #950 ".html suffix does not resolve on dev server?"
404 on http://wwwb.library.vanderbilt.edu/place/1261.html
whereas http://wwwb.library.vanderbilt.edu/place/1261 sends me to the equivalent record on the production server.
Is this the expected behavior?

[2017-03-03 05:01] nathangibson opened #951 "Unrelated e-gedsh content appearing in sidebar?"
For example, look at sidebar on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/342.

[2017-03-06 03:33] wsalesky commented on #950
@nathangibson this is due to some redirects I think Dale had added to the dev server. These can be accessed by going to: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/1261.html

I will check with Dale about removing that redirect.

[2017-03-06 03:33] #950 closed

[2017-03-07 16:57] davidamichelson opened #952 "Bad link 500 error http://syriaca.org/documentation/search.html"
http://syriaca.org/documentation/search.html should resolve to advanced search for all of syriaca.org but gives a 500 error

[2017-03-09 16:49] wsalesky opened #953 "XQuery bug in work relationships"
While poking around looking at pages and testing links I ended up here (http://syriaca.org/person/779). I clicked on this link (http://syriaca.org/work/1214) from the Attestation section and it gives an error. This might just be a data problem but it didn't look like it.

[2017-03-09 16:58] dlschwartz opened #954 "broken link"
Link on homepage broken: http://syriaca.org/about-srophe.html

[2017-03-09 16:58] dlschwartz commented on #954
Actually, it's not exactly a broken link but there is an error

[2017-03-09 17:05] #954 closed

[2017-03-09 18:50] #953 closed

[2017-03-09 21:33] wsalesky opened #955 "Keyword module"
Add keyword module. Write documentation for adding new module.

[2017-03-11 19:09] tacarlson opened #956 "New place types"
As discussed in meeting on 3/7/2017, we wish to add three new place types (Natural feature, designated space, composite (unspecified reference to city or diocese or …)).  I am creating this issue to have a pointer to the discussion here, and to have an issue number for which to create the corresponding branch.

[2017-03-12 02:06] #952 closed

[2017-03-12 02:46] wsalesky commented on #945
Resolved.

[2017-03-12 02:46] #945 closed

[2017-03-12 02:46] wsalesky commented on #946
Resolved.

[2017-03-12 02:46] #946 closed

[2017-03-13 11:12] nathangibson opened #958 "Production Server: Error message under "latest news""

[2017-03-14 02:25] wsalesky commented on #958
Needed to be moved to new server.

[2017-03-14 02:25] #958 closed

[2017-03-14 16:27] wsalesky opened #959 "Get .odd file from github dev branch not dev server"
When dev server is down, this really slows down the production server.
http://syriaca.org/person/13

[2017-03-14 16:36] wsalesky commented on #959
Remains very slow.
http://syriaca.org/person/13

[2017-03-14 16:36] #959 closed

[2017-03-14 16:37] wsalesky opened #960 "Debug slow persons pages."
Remains very slow.
http://syriaca.org/person/13

[2017-03-14 16:39] wsalesky opened #961 "Add 'ALL' parameter to browse options"

[2017-03-14 16:39] #961 closed

[2017-03-14 17:14] davidamichelson opened #962 "Lozenges for Sub-Volumes of Modules on Individual Record Pages"
This is a new solution to this old issue: https://github.com/srophe/srophe-eXist-app/issues/438

For individual records which are part of a sub-volume, for example http://syriaca.org/person/13 (Ephrem), we currently add "Saint" and "Author" based on the series statement of the xml file.

We would like to change this visualization.

Please remove the current adding of "Saint", "Author", etc and ins

[2017-03-15 03:20] wsalesky opened #963 "Fix SPEAR"
SPEAR browse is broken.

[2017-03-15 16:44] nathangibson opened #964 "404 on test subject"
The test subject http://wwwb.library.vanderbilt.edu/subject/TEST02/index.html linked from http://wwwb.library.vanderbilt.edu/exist/apps/srophe/keywords/browse.html?lang=&alpha-filter=ALL is a 404 error.

[2017-03-15 17:08] nathangibson opened #965 "Production server BHSE browse lists duplicate entries"
http://syriaca.org/bhse/browse.html?start=1&perpage=405 seems to list every entry twice. E.g., http://syriaca.org/work/429, http://syriaca.org/work/939, etc.

[2017-03-15 17:14] wsalesky commented on #965
Looks like the data got loaded twice! Grr.  I will take care of it. Thanks for noticing.

[2017-03-15 17:15] wsalesky opened #966 "Bug in display of Ancient Versions"
Tiny text in Ancient Versions
http://syriaca.org/work/2057

looks like the text is being wrapped in span class='footnote-content'

[2017-03-15 17:27] dlschwartz opened #967 "search problem"
Advanced search in SBD:
I searched for "shapur~" in a Person Name search and got
http://syriaca.org/persons/search.html?coll=sbd&type=&q=&start-date=&end-date=&date-type=&gender=&state=&related-place=&place-type=&related-persons=&mentioned=

[2017-03-15 20:33] wsalesky commented on #966
Not a bug on dev:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/2057

[2017-03-16 19:40] #965 closed

[2017-03-16 19:45] #967 closed

[2017-03-16 19:50] wsalesky commented on #966
I think this is due to the different structures in the work records on dev and prod.

[2017-03-20 12:54] wsalesky opened #968 "Syriac Keyboard bug"
When you open a keyboard and then close it you can no longer type in the text box.

[2017-03-20 14:22] wsalesky opened #969 "Person 13 is very slow"
Slow down seems to be in xquery, not using correct indexes.

[2017-03-20 14:24] #969 closed

[2017-03-21 02:34] wsalesky commented on #963
Browse works, however place count is way off. Finding 7 places.

[2017-03-21 13:49] wsalesky commented on #963
Fixed. Or at least back to where it was.

[2017-03-21 13:49] #963 closed

[2017-03-21 18:57] nathangibson opened #970 "Error message on persons (bug in authored-by feature?)"
http://wwwb.library.vanderbilt.edu/person/13 and http://wwwb.library.vanderbilt.edu/person/239 , possibly others:

In function:
	person:authored-by(node(), map) [217:18:/db/apps/srophe/modules/person.xqm]

[2017-03-22 14:38] wsalesky commented on #960
Done.

[2017-03-22 14:38] #960 closed

[2017-03-22 14:39] wsalesky opened #971 "Hierarchical search and browse"
See related issues:
https://github.com/srophe/srophe-app-data/issues/463
https://github.com/srophe/srophe-app-data/issues/710

[2017-03-22 16:36] wsalesky commented on #970
Fixed. (Again, I feel like I have fixed this particular xpath bug several times!) I think there may have been some git issues. (My fault.)

[2017-03-22 16:36] #970 closed

[2017-03-22 16:40] nathangibson commented on #970
Thanks!

[2017-03-22 16:45] nathangibson opened #972 "500 error for TEI source on dev server"
The TEI Source button everywhere (?) gives a 500 error, e.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/2335/tei

[2017-03-22 16:45] wsalesky commented on #972
Yep, sorry, I was ignoring that one.

[2017-03-22 17:35] davidamichelson commented on #971
Search looks good.

For browse and search, in the summary view for "composite" URI records, include a sentence with a count like this:

This literary tradition comprises [count] texts with separate URIs.

[2017-03-22 17:55] davidamichelson commented on #971
For places here is a draft:

This composite place includes [count] more narrowly conceived places.

[2017-03-22 18:02] wsalesky commented on #971
Will there be/can there be more then one value in  `@passive` or is there always only one 'parent'?

`<relation active="http://syriaca.org/work/410" ref="skos:broadMatch" passive="http://syriaca.org/work/2057"/>
`

[2017-03-22 18:14] nathangibson opened #973 "CTS URNs"
We would like to look into implementing a bare-bones resolution service for CTS URNs (http://cite-architecture.github.io/). At this point, we would like to be able to resolve URNs pointing to texts in the @srophe/syriac-corpus and to subdivisions within those texts, but do not (yet) need to try to serve up text over an API.

 ### URN Examples
Some examples of a couple possible ways of doing this (

[2017-03-22 18:30] nathangibson commented on #971
Hmm, @davidamichelson and I haven't specifically discussed that. Usually there would only be one, but I can conceive of a work that might belong to multiple literary traditions, such as a saint's life that blends material from multiple other lives.

Is this a we-can-cross-that-bridge-when-we-come-to-it sort of situation, or is it best to future-proof it now?
And does it make a difference in query

[2017-03-22 18:32] nathangibson commented on #972
I have an xslt that queries it, but I can probably point it to the github files instead for now.

[2017-03-22 18:53] wsalesky commented on #971
It would be fine if they each had their own element, it is the text parsing that eats up processing time. Again, rdf may also solve this for us.

Sent from my iPhone

[2017-03-22 18:55] wsalesky commented on #972
I can't fix it until tonight so that might be best. Sorry!

Sent from my iPhone

[2017-03-22 18:56] nathangibson commented on #972
No worries, it looks like github is doing the trick. Thanks!

[2017-03-22 18:58] nathangibson commented on #971
@davidamichelson What would you think about us requiring that if a URI belongs to multiple composite URIs, that we put in multiple `<relation>` elements (instead of simply multiple `@passive` values)? We might even be able to write such a rule into the ODD, though it'd be a little complicated.

[2017-03-22 22:05] dlschwartz commented on #971
@nathangibson You can easily allow only one value for the passive attribute and the encoder would then just have to know that she is supposed to add another relation element.

[2017-03-23 17:25] nathangibson commented on #971
Good to know, thanks! Can we restrict to only relations that have a ref=“skos:broadMatch”?

[2017-03-23 18:28] dlschwartz commented on #971
Yes, but you would have to use schematron in your ODD. You would apply a text that would only allow one value for the passive attribute if there is also a ref element with a value of skos:broadMatch. Multiple values on the passive attribute would render an error in Oxygen. I can help or you can check out Syd Bauman's slides, etc. for the course I took at DHSI last summer (toward the bottom): [http

[2017-03-23 18:47] wsalesky commented on #971
Let's hold off on that until after I test RDF, which may end up. Ring faster.

Sent from my iPhone

[2017-03-23 20:04] davidamichelson commented on #971
Here is a sentence for places:

This composite place URI combines [count] specific places.

[2017-03-27 13:27] wsalesky opened #974 "RDF creation. And queries"

[2017-03-27 13:29] #972 closed

[2017-03-27 13:46] #966 closed

[2017-03-27 13:51] #964 closed

[2017-03-27 13:51] wsalesky opened #975 "Controller does not handle record ids that contain characters"

[2017-03-27 15:47] wsalesky commented on #951
This seems to be resolved.

[2017-03-27 15:47] #951 closed

[2017-03-28 17:05] wsalesky commented on #962
Example with long view:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/13

I have to switch out the xslt to switch views, so I can't really do both at once. We can swap in the short view in real time during a meeting if you want to compare them.

[2017-03-28 17:07] wsalesky commented on #975
This came up in testing the keywords. Will we have id's that are not numeric?
@davidamichelson @dlschwartz

[2017-03-28 17:07] wsalesky commented on #800
Done.

[2017-03-28 17:07] #800 closed

[2017-03-28 17:08] nathangibson commented on #975
My understanding is that the subjects module will use the subject name as the URI. So yes.

[2017-03-28 17:10] wsalesky commented on #975
bummer. ;)

[2017-03-28 17:15] wsalesky opened #976 "Missing google analytics on prod"

[2017-03-28 17:16] dlschwartz commented on #975
Let's discuss tomorrow. We could (and really probably should) give subjects numeric URIs just like our other entities. We prefer human-readable in this instance. If we had a good reason to abandon that though, we could consider it.

[2017-03-28 17:16] #976 closed

[2017-03-28 17:19] wsalesky commented on #975
It is fine, just takes slightly more mental gymnastics on my part and the part of our controller.xql.

[2017-03-28 17:23] wsalesky opened #977 "Facets on persons dev not working."

[2017-03-28 17:28] #806 closed

[2017-03-28 18:25] #968 closed

[2017-03-29 13:35] nathangibson opened #978 "New relation syriaca:isSometimesPartOf"
We have a new `relation/@ref` value (which I've updated in the ODD and RNG on dev). It is `syriaca:isSometimesPartOf`. This should function exactly the same way as `dct:isPartOf` *except* that on the containing work page we would like a star/asterisk after the text title and text at the bottom of the contained works list saying: "Manuscripts of the larger work only sometimes contain the work indic

[2017-03-29 15:02] wsalesky opened #979 "Bug in OAI-Provider"
assorted bugs in OAI provider.xql

[2017-03-29 15:09] dlschwartz commented on #978
@nathangibson Should we also have a note of some sort indicating our assessment of the "sometimes"? Possibilities: incerta, dubia, wahrscheinlich, etc. But seriously, a work might appear in the minority of relevant mss but still rightly belong to the group based on text critical standards. Another example, Chrysostom's catechetical homilies never circulated as a single collection (as far as we kno

[2017-03-29 15:26] #979 closed

[2017-03-29 16:42] wsalesky commented on #874
This has been resolved.

[2017-03-29 16:42] #874 closed

[2017-03-29 17:26] davidamichelson commented on #971
I think we will want different handling for this in Places and Works. For places we will want all the children to show in browse list and also independently but this will be fine because there are not many of the.

[2017-03-29 18:12] nathangibson opened #980 "Bibliography display issues"
E.g. http://wwwb.library.vanderbilt.edu/work/10510

Extra leading space in titles and trailing commas at end.

[2017-03-29 18:31] dlschwartz opened #981 "Persons Forms for May"
For the workshop in May it would be ideal if we could produce a very basic record and reserve a URI for persons. This will mostly be used for anonymous persons. Especially important fields:

`<persName>`: It would be nice if the user had the option to choose between syriaca-tags="#anonymous-description" or syriaca-tags="syriaca-headword" as attributes. If "anonymous-description" is chosen the user

[2017-03-30 09:20] nathangibson commented on #872
Unfortunately the two issues in the above https://github.com/srophe/srophe-eXist-app/issues/872#issuecomment-270621737 are still there. Note the italicized edit I just made -- was maybe confusing before due to my typo!

[2017-03-30 09:22] #871 closed

[2017-03-30 09:26] nathangibson commented on #872
An additional issue is that place/78 is not appearing under browse for alif (http://wwwb.library.vanderbilt.edu/geo/browse.html?lang=ar&alpha-filter=%D8%A7) even though name78-12 (أَذاسا) should as far as I can tell. It does not begin with ال , which we are stripping out.

[2017-03-30 09:34] nathangibson commented on #978
At the moment I was mainly trying to give @wsalesky the basic idea so that we can mock it up. But I'm adding this to editors' meeting agenda. In general, I would be in favor of having a generic property to address present needs but which can be expanded in our ontology with more specific sub-properties.

[2017-03-30 09:37] nathangibson commented on #978
In other words, we need a basic list of rdf properties to use in `relation/@ref` that we can tell @wsalesky should function for visualization the same as dct:isPartOf. Currently this consists of
- dct:isPartOf
- syriaca:isSometimesPartOf
The types of asterisks and explanatory text could be specific to the property, but the basic functionality would still be to list them in the entry for the litera

[2017-03-30 15:04] nathangibson commented on #697
Literary tradition records seem to have stopped showing their constituent branches. E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/2057 and http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9628. I assume because of the relation `@ref` change? The `relation/@ref` is now skos:broadMatch, e.g, http://wwwb.library.vanderbilt.edu/work/1 and http://wwwb.library.vanderbilt.edu/e

[2017-03-30 15:38] nathangibson opened #982 "Separating work titles, rubrics, and abbreviations"
Currently all bibl/title elements of works come under the "Titles" heading. Can we have the following headers and sections instead?

**Titles**
`/TEI/text/body/bibl/title[not(@type=('initial-rubric','final-rubric','abbreviation'))]`

**Initial Rubrics**
`/TEI/text/body/bibl/title[@type='initial-rubric']`

**Final Rubrics**
`/TEI/text/body/bibl/title[@type='final-rubric']`

**Abbreviations**
`/TEI/

[2017-03-30 15:47] nathangibson opened #983 "URIs in "Reference Numbers""
We're not sure we want external URIs appearing under the "Reference Numbers" header in the identity box (e.g., http://wwwb.library.vanderbilt.edu/work/1). Could we do them like we do for persons, which have a "See Also" box in the sidebar (e.g., http://wwwb.library.vanderbilt.edu/person/13)?

I realize we discussed earlier for BHSE that the Syriaca URI for the work should appear alongside numeric

[2017-03-30 16:42] nathangibson opened #984 "Change edition etc. sources to "based on""
Right now the `relation[@ref="dct:source"]` of one bibl to another is visualized as text at the end of the line saying, e.g., "(Edition from Edition 4.)" (http://wwwb.library.vanderbilt.edu/work/1#bib1-1)

Can we please change the "from" to "based on", i.e., "(Edition based on Edition 4.)" This also applies to translations, catalogues, etc.

[2017-04-03 00:55] wsalesky commented on #872
@nathangibson
place/78  is there, if you page through or use the 'all' option:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/geo/browse.html?lang=ar&alpha-filter=%D8%A7&start=1&perpage=50

I tested the new filter it seems to work, so all we have left is the back-to-back repetition error. Thanks for reviewing.

[2017-04-03 01:36] wsalesky commented on #982
@nathangibson
Can I have some test records?

[2017-04-03 01:41] #984 closed

[2017-04-03 02:07] tacarlson commented on #872
It is true that place/78 appears in the list under the name اورفه but not under the name أَذاسا , probably because the initial alif has a hamza on top of it.  In order to have a robust Arabic browse, U+0622, U+0623, and U+0625 should all be alphabetized as if U+0627 (plain alif).

________________________________
From: Winona Salesky <notifications@github.com>
Sent: Sunday, April 2, 2017 7:55:14 P

[2017-04-03 13:14] nathangibson commented on #982
Sure, http://wwwb.library.vanderbilt.edu/work/1 has abbreviation and final-rubric, and http://wwwb.library.vanderbilt.edu/work/9501 has initial-rubric. Thanks!

[2017-04-03 13:18] nathangibson opened #985 "Module icons in page header have shifted"
As of sometime last week, I am seeing something weird happening with the module icons on page headers (all of them, I think, but including http://wwwb.library.vanderbilt.edu/work/1). The Syriac letter is separated from the colored circle, like so (FF and Safari on Mac 10.10.5). It's a cool effect, but I suppose unintentional :-)

![genesis__peshitta_version_](https://cloud.githubusercontent.com/as

[2017-04-03 13:19] nathangibson commented on #984
Yay!

[2017-04-03 13:22] nathangibson commented on #872
Hmm, now it appears to be fixed?! (Place/78 appears under أَذاسا on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/geo/browse.html?lang=ar&alpha-filter=%D8%A7&start=1&perpage=50).

[2017-04-03 13:33] wsalesky commented on #872
@tacarlson thanks for the clarification. We were filtering the the name  أَذاسا out  unintentionally due to the filter on:

`replace('^(\sابن|\sإبن|\sال|أل|ٱل''),'')`

I'm still investigating this, I thought this was just the sort order, not the filter (i.e. if it gets pulled into the letter browse or not).

[2017-04-03 13:34] wsalesky commented on #872
@nathangibson I added the following:
`replace(replace(replace(replace(replace(replace($titlestring,'^\s+',''),'آ|إ|أ','ا'),'^(\sابن|\sإبن|\sبن)',''),'(ال|أل|ٱل)',''),'[ً-ٖ]',''),'[U064B-U0656]','')`

Wondering if it will have unintended consequences... Let me know if you see an issues.

[2017-04-03 13:38] wsalesky commented on #985
Sorry, the new eXist has some issues with spaces when it pretty prints. Every time the app gets redeployed spaces are added in the SVG icons, leading to this.... I have to manually remove them. Still need to file a bug with eXist on this issue.

[2017-04-03 13:43] wsalesky commented on #872
Also, I can not reasonably remove back-to-back records with the current logic we use. We can discuss more at our next meeting if this is a real display concern.

[2017-04-03 14:19] nathangibson commented on #872
Let me comment this up to see if I catch anything:

[code]
5. and 6. appear to be exactly the same.

As far as I can tell, it would work best to switch the order to the following: 1, 5 or 6, 4, 2, 3. My reason for this is that removing vowels/diacritics first may help make sure that the other replacements are processed correctly. But 4 should come before 2 because we want 4 to catch only the defin

[2017-04-03 14:20] nathangibson commented on #872
I don't consider back to back records a major issue. It's OK with me if we drop it, but let's get everyone's opinion at the meeting.

[2017-04-03 14:37] wsalesky commented on #872
@nathangibson Thank you! This is exactly what I needed. I was getting a bit tangled up in the different steps. I will try rewriting as you suggested and we can run a test.

[2017-04-03 15:00] wsalesky commented on #872
@nathangibson How does it look now?

[2017-04-03 15:19] nathangibson commented on #872
Is this being applied yet to persons, e.g. http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?lang=ar&alpha-filter=%D8%A7&start=1&perpage=206 ?

I went to persons to check the alphabetization of ابن and found a good test case. I'm seeing the following order: person/236, person/271, person/1021, person/224. The order should be person/1021, person/224, person/271, person/236. I

[2017-04-03 15:21] wsalesky commented on #872
@nathangibson sadly it is applied to persons. I will do some debugging to see if I can figure out what is going on.

[2017-04-03 15:33] nathangibson opened #986 "Deprecated record redirect not working on production or dev"
http://syriaca.org/person/1809 should redirect to http://syriaca.org/person/236
(See https://github.com/srophe/srophe-app-data/blob/master/data/deprecated/persons/tei/saints/tei/1809.xml and https://github.com/srophe/srophe-app-data/blob/master/data/persons/tei/236.xml respectively.) Instead, I get a 404 error.

On dev, I get a 301 loop -- http://wwwb.library.vanderbilt.edu/person/1809 redirects t

[2017-04-03 15:35] wsalesky commented on #986
Yes, it is on my radar. I was working on it last week. Will try to get back to it this week and resolve it.

[2017-04-03 15:40] nathangibson commented on #986
No problem, I don’t think there’s a huge rush.

[2017-04-03 16:33] wsalesky commented on #982
@nathangibson  How does this look?
http://wwwb.library.vanderbilt.edu/work/1
http://wwwb.library.vanderbilt.edu/work/9501

[2017-04-03 16:46] nathangibson commented on #982
Great, thanks! I forgot to ask for them in a specific order. I'm putting this on the docket for feedback from the others on Wed, so we could decide the order then.

[2017-04-03 17:48] wsalesky opened #987 "Bug in rest.xq search on dev"
See:
/api/search/persName?q=ab*&collection=A%20Guide%20to%20Syriac%20Authors

[2017-04-03 18:09] #987 closed

[2017-04-03 18:17] wsalesky commented on #872
@nathangibson the script currently removes all forms of (ابن) with leading space. I think this is where the problem is, there does not seem to be a space in these names? Correct?

[2017-04-04 12:17] nathangibson commented on #872
@wsalesky Ahh, there is a space, but the regex also says it should be the *beginning* of the string `'^(\sابن|\sإبن|\sبن)'`, right? So that's why it's not catching ابن in البطريرك يوحنا ***ابن*** المعدني

In fact it is probably not catching anything right now because the ones at the beginning don't have a space and the ones with a space are not at the beginning.

But I'm confused regarding in whic

[2017-04-04 13:22] wsalesky commented on #872
@nathangibson Hum, a `'^\s'` snuck into my code ahead of the  ال I have removed it (changed it to ` '^(ال|أل|ٱل)'`). Does that look better re: ال ?

[2017-04-04 16:13] nathangibson commented on #978
@nathangibson Change gloss to "may be part of (in some traditions)"

[2017-04-04 17:52] wsalesky commented on #986
Done.

[2017-04-04 17:52] #986 closed

[2017-04-04 17:52] wsalesky commented on #914
Same as: https://github.com/srophe/srophe-eXist-app/issues/986

[2017-04-04 17:52] #914 closed

[2017-04-04 17:59] #977 closed

[2017-04-05 01:56] davidamichelson opened #988 "Corrections Additions button on Gazetteer does not work"
After I fill everything out and prove I am not a robot, I hit send email and get this error: "please try again"

[2017-04-05 01:57] wsalesky commented on #988
Prod or dev?

[2017-04-05 02:05] davidamichelson commented on #988
Prod

[2017-04-05 03:00] wsalesky commented on #988
Looks like a recaptcha issue. I will do some more debugging tomorrow.

[2017-04-05 12:44] nathangibson commented on #872
@wsalesky That does seem to correctly sort initial ال and place entries beginning with ال on the correct page. I would suggest using `'(^|\s)(ال|أل|ٱل)'` so that it also ignores word-initial ال for words that aren't the first word. This would, for example, correctly put person/271 before person/236 on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?lang=ar&alpha-filter=%D8

[2017-04-05 12:46] nathangibson commented on #914
Thanks!

[2017-04-05 13:25] #988 closed

[2017-04-05 13:26] wsalesky opened #989 "Unintended merge from dev causes bad BHSE browse"
Production only, as BHSE is different on Prod and Dev.

[2017-04-05 13:28] #989 closed

[2017-04-05 14:06] wsalesky commented on #872
Done!

[2017-04-05 14:16] wsalesky commented on #978
@nathangibson Ready for review.

[2017-04-05 17:05] nathangibson commented on #982
We want move all initial rubrics and final rubrics out of identity box to where prologue etc. is.

[2017-04-05 17:19] dlschwartz opened #990 "SPEAR Sources"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=sources
The Chronicle of Edessa is listed twice

[2017-04-05 17:37] dlschwartz opened #991 "Person aggregation pages in SPEAR"
Several person aggregation pages return an error, "ambiguous rule match":

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/51

[2017-04-05 17:39] dlschwartz commented on #991
I just noticed that it's the same error message on the browse event page:
"ERROR XSL transform reported error: Ambiguous rule match for /div/listEvent[1]/event[1]"

[2017-04-05 17:53] wsalesky commented on #962
Some options:
<img width="1422" alt="screen shot 2017-04-05 at 1 52 13 pm" src="https://cloud.githubusercontent.com/assets/1168206/24719281/29edf138-1a07-11e7-9f07-6862065a6a49.png">
<img width="1423" alt="screen shot 2017-04-05 at 1 52 01 pm" src="https://cloud.githubusercontent.com/assets/1168206/24719280/29e86e3e-1a07-11e7-9214-741f5da9f23c.png">

[2017-04-05 17:54] wsalesky commented on #982
Above or below the relationships?
example: http://wwwb.library.vanderbilt.edu/work/9501

Above or below this section:
'Lives of the Eastern Saints contains 59 works.'

Thanks!

[2017-04-05 18:04] wsalesky opened #992 "Display issue person/13"
See Attestations.

[2017-04-06 03:34] nathangibson commented on #982
Above. Also above Prologues, Incipits, and Explicits. Thanks!

[2017-04-06 13:13] davidamichelson commented on #962
I like the first option (in line with URI). I wonder if we could even bump
it up to the line with the headword but justified right?

[2017-04-06 13:14] davidamichelson commented on #988
Thanks!

On Wed, Apr 5, 2017 at 8:25 AM, Winona Salesky <notifications@github.com>
wrote:

[2017-04-06 13:16] wsalesky commented on #962
And bump the 'candy' buttons up?

[2017-04-06 13:20] davidamichelson commented on #962
hmm, maybe swap location of the candy buttons and the volume credits with
candy buttons on URI line?? Otherwise what we have now on dev looks good.
Maybe just leave it for now.

On Thu, Apr 6, 2017 at 8:16 AM, Winona Salesky <notifications@github.com>
wrote:

[2017-04-06 20:28] dlschwartz opened #993 "Errors in search on dev"
I've been using the search box on the Syriaca.org home page on dev. It works most of the time but I am sometimes getting an error: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/search.html?q=huzaya Thanks Winona.

[2017-04-07 16:17] #993 closed

[2017-04-07 16:27] #992 closed

[2017-04-11 09:01] nathangibson commented on #872
Great!
ال looks like it is sorting correctly now.
Can we change '^(\sابن|\sإبن|\sبن)' to '^(ابن|إبن|بن)' and then I think we should be done (fingers crossed) and you can close the issue?

[2017-04-11 09:11] nathangibson commented on #978
Actually, what we were thinking on this is to just include the "sometimes part of" item in the same list as the regular contained works, but to put an asterisk by the title if the relation is "syriaca:isSometimesPartOf" instead of "dct:isPartOf". Is that complicated to do? If so, we can probably just tweak what you've done here.

[2017-04-12 12:47] wsalesky opened #994 "NHSL home page"
Restyle.

[2017-04-12 13:12] wsalesky commented on #872
Done. If it looks right you can close this.

[2017-04-12 13:17] #991 closed

[2017-04-12 13:22] wsalesky commented on #990
The two records that list have the Chronicle of Edessa as a title are:
Pers_Element_Testing.xml
and
ChronEdessa_Complete_Draft.xml

Once you are ready to remove the test record that second title should disappear, or we can give it a different title, so it is easier to distinguish.

[2017-04-12 13:22] #990 closed

[2017-04-12 17:29] dlschwartz opened #995 "browse menu added at bottom"
@wsalesky Please add the browse menu at the bottom of browse pages identical to what is at the top. Thanks!

[2017-04-13 12:36] wsalesky opened #996 "Add Bible module"

[2017-04-13 12:39] wsalesky commented on #996
@nathangibson
Place holder files added. Content of static parts will need to be updated. A line in the repo.xml for this submodule will need to be added as well.

[2017-04-19 17:20] dlschwartz opened #997 "numbering of constituent works"
@wsalesky, please put the label values inside relation elements in the main page and the popup.

[2017-04-19 17:23] nathangibson opened #998 "Composite URIs for persons"
@wsalesky Please implement composite URIs for persons parallel to what you have done for "literary traditions" in works.

The indicator is still a `relation[@ref='skos:broadMatch']` with the composite URI in the `@passive`.

In the composite URI record, this should go under the identity box:
"[Headword] refers to [number of] persons."
And then the list of persons.

I should probably put a special

[2017-04-19 18:22] nathangibson commented on #978
OK, I changed syriaca:isSometimesPartOf to syriaca:sometimesCirculatesWith in the ODD file and in work/850, but this means it no longer displays on work/9501 understandably. Can you update the code with the new relation name? Also the gloss should now be usable. Thanks!

[2017-04-20 13:21] nathangibson commented on #697
Here's one that came up yesterday (gentle reminder)

[2017-04-20 13:22] nathangibson opened #999 "See all works blank for http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/10513"
Just updated this record http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/10513. Pop-up is not displaying contained works. Is this a problem with my data or a bug in the app?

[2017-04-24 12:43] nathangibson opened #1000 "Move literary tradition membership from relations sidebar to identity box"
Where a work belongs to a literary tradition (i.e., has `relation/@ref='skos:broadMatch'` to another work), we would like this info to appear in the Identity box rather than the relations sidebar.

E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/410 currently shows in the sidebar:

We would like this excluded from the relations sidebar and the following shown at the bottom of the i

[2017-04-24 12:55] nathangibson opened #1001 "Change singular headers to plural in NHSL"
More NHSL visualization tweaks:

@wsalesky Our mid-page headers for NHSL entries are singular ("Edition," "Catalogue," etc.). We would like to make them plural. I believe these are pulled from the ODD file. Is it best for me to change the ODD file to plural, or do you have a fancy-schmancy pluralizer function?

Thanks!

[2017-04-24 12:56] nathangibson commented on #1001
E.g., http://wwwb.library.vanderbilt.edu/work/1

[2017-04-24 13:52] wsalesky commented on #1001
Done.

[2017-04-24 13:53] wsalesky commented on #999
I think this is a bug in the app.

[2017-04-24 14:20] nathangibson commented on #1001
Yay, thank you!

[2017-04-24 14:24] wsalesky commented on #995
Done.

[2017-04-24 14:24] #995 closed

[2017-04-24 14:39] wsalesky commented on #982
Done.

[2017-04-24 14:39] #982 closed

[2017-04-24 14:49] wsalesky commented on #978
Done.

[2017-04-24 14:58] wsalesky commented on #978
@nathangibson I changed syriaca:isSometimesPartOf to syriaca:sometimesCirculatesWith in the app, however I think the records are still using syriaca:isSometimesPartOf, as they no longer show up.

[2017-04-24 15:00] wsalesky commented on #998
@nathangibson I have some time tomorrow to work on this if you have some example records for me.

[2017-04-24 16:31] nathangibson opened #1002 "Print & Digital Catalogues"
@wsalesky We decided to distinguish between print and digital catalogues. I've updated the data and changed the labels in the ODD, but I guess there's still something else that needs to be switched. Bibl items under "Print Catalogues" and "Digital Catalogues" are now just displaying as plain text rather than as bibl entries.

Would you please apply to `//bibl[@type=('syriaca:PrintCatalogue','syria

[2017-04-24 16:31] nathangibson commented on #1002
E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/1

[2017-04-24 16:37] nathangibson commented on #978
It's working for me: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9501 shows work/850 at the bottom. Is there something else not showing up?

[2017-04-24 16:49] wsalesky commented on #978
I think I was just experiencing some fierce data caching. I will close this issue.

[2017-04-24 16:49] #978 closed

[2017-04-24 16:50] nathangibson commented on #998
OK, here you go. person/601 should show up under person/3501 in the same way as texts belonging to literary traditions. Thanks and let me know if you have questions!

[2017-04-24 16:57] wsalesky commented on #1002
Done.

[2017-04-24 16:57] #1002 closed

[2017-04-25 20:43] wsalesky commented on #981
@dlschwartz Can I get an example `persName` with trait and labels?

[2017-04-25 21:19] dlschwartz commented on #981
Sure, here's one from our live data: http://syriaca.org/person/3057/tei

[2017-04-26 01:23] wsalesky commented on #981
Do you want me to automatically add a:
[code]
If the user selects the `syriaca-tags="#anonymous-description"`?

[2017-04-26 14:31] dlschwartz commented on #981
Yes, that sounds good, thanks. And if someone chooses that syriaca-tag, we could also automatically add
`<persName xml:id="name####-#" xml:lang="en" syriaca-tags="#syriaca-headword">Anonymous ####</persName>` with the new URI number filled in. That would be perfect.

[2017-04-26 17:31] nathangibson opened #1003 "Highlight target footnote"
When a footnote is clicked, in addition to going to the target bibl (as now) please highlight the bibl so you can see which one is intended.

[2017-04-26 17:34] wsalesky commented on #1003
Additionally, fix offset for anchors.

[2017-04-26 17:35] nathangibson opened #1004 "NHSL Section Header Table of Contents buttons"
At top of work records, please put buttons above identity box for each header category (editions, manuscripts, etc.) in the record (not including the ones in the identity box). These should jump to the correponding section. These should be in the order the headers appear on the page, and the buttons should only appear if that category is actually on the page.

[2017-04-26 17:39] nathangibson opened #1005 "Collapse 8+ items in bibl sections of work records"
Please collapse items 8 or higher in bibl sections (editions, manuscripts, etc.) on work record pages. This can be an inline "Show All" / "Hide" button.

[2017-04-26 17:44] nathangibson opened #1006 "Reorder bibl sections of work records"
Please put bibl sections of work records in the following order on the HTML page. (I'm indicating the `@type` here.) Would it help if I just arranged them in the correct order in the ODD file?

1. lawd:Edition
2. syriaca:Apparatus
3. syriaca:Manuscript
4. syriaca:AncientVersion
5. syriaca:ModernTranslation
6. syriaca:DigitalCatalogue
7. syriaca:PrintCatalogue
8. syriaca:Glossary

As before, lawd:C

[2017-04-26 17:57] nathangibson commented on #994
Like the new style!

A couple tweaks:

- Please change the labels to "All Works", "Hagiographic Works", "Biblical Works" respectively.
- Please remove the numbers on the top titles and instead put "Volume 1" on bottom left opposite "BHSE", "Volume 2" on bottom left opposite "Bible", etc.

[2017-04-27 15:14] wsalesky commented on #971
This is causing some issues and will need to be reworked. Expect to see some odd search results over the next week as I sort it out.

[2017-04-27 17:04] nathangibson commented on #999
Thanks!

[2017-04-27 17:05] wsalesky commented on #999
@nathangibson is this working for you now?

[2017-04-28 11:41] nathangibson commented on #999
Yes, thanks!

[2017-04-28 11:41] #999 closed

[2017-05-01 17:26] wsalesky commented on #1006
Done.

[2017-05-01 17:26] #1006 closed

[2017-05-01 18:16] wsalesky commented on #994
@nathangibson Take a look at the updated page.

[2017-05-01 18:31] nathangibson commented on #994
I like the new titles and placement of volume numbers, thanks! Will discuss with @davidamichelson .

If I might be rather picky, the volume numbers are not aligned vertically with the volume icons, and I find the text in the bottom translucent bars somewhat difficult to read (maybe needs to be bold or something)?

[2017-05-02 02:36] wsalesky commented on #994
How about now?

[2017-05-02 02:38] wsalesky commented on #962
@davidamichelson Can this be closed?

[2017-05-02 12:03] nathangibson commented on #994
I like the bold. But now there are a couple spacing/alignment issues :-(. Ahh, those CSS grids!

![syriaca_org__the_syriac_reference_portal](https://cloud.githubusercontent.com/assets/3083452/25616959/fbab62c6-2f3f-11e7-8429-a891dacf5e44.png)
![syriaca_org__the_syriac_reference_portal](https://cloud.githubusercontent.com/assets/3083452/25616965/000c722e-2f40-11e7-98ed-19f666c53310.png)

[2017-05-02 12:03] nathangibson commented on #994
The second screenshot is with my window at about half-width, i.e. 800px across or so.

[2017-05-02 12:35] wsalesky commented on #994
Okay, I think I have the alignment worked out.

[2017-05-02 12:37] nathangibson commented on #994
Looks great! Thanks!

[2017-05-02 12:37] #994 closed

[2017-05-02 13:22] wsalesky commented on #998
First run:
http://wwwb.library.vanderbilt.edu/person/3501

[2017-05-02 13:31] nathangibson commented on #998
Great! This appears to work as expected. I will put it on the agenda for today's editors' meeting so that we can discuss any tweaks and get back to you.

[2017-05-03 17:04] nathangibson opened #1008 "Search in "Bible" module returns "bibl" records"
E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bible/search.html?q=john

[2017-05-03 21:03] dlschwartz opened #1009 "Problem with SPEAR aggregate page for the test doc"
The aggregate page for the test doc and for the Chronicle of Edessa are identical, but they shouldn't be: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/spear/119

An earlier version of this xml file, made by copying the Chron. of Ed. file, has some information in the header that shouldn't have been there. When I noticed the problem in the html, I r

[2017-05-04 13:02] nathangibson commented on #697
Not sure if this is related to the literary traditions issue we discussed yesterday (the one you needed some time to solve). Anyway, it's important so I just don't want this one dropping off the radar. Thanks!

[2017-05-05 12:13] nathangibson commented on #1005
@wsalesky This is working well but we would like a couple tweaks.

1. Can we set the limit higher, so that it shows 5 items instead of just 2?
2. It's easy to miss the "Show" link. A couple things could help:
 a. Could you include a count, so that instead of, e.g., "Show all Manuscripts" it says "Show all 23 Manuscripts"? http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/77 as example.
  b

[2017-05-05 18:33] nathangibson opened #1010 "Broken browse link in Taxonomy module"
The browse link at http://wwwb.library.vanderbilt.edu/exist/apps/srophe/subject/02 points to
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/subject/browse.html (404) instead of http://wwwb.library.vanderbilt.edu/exist/apps/srophe/taxonomy/browse.html

[2017-05-05 21:19] wsalesky commented on #1008
@nathangibson  Can I have a sample record that belongs to this collection?

[2017-05-08 10:27] nathangibson commented on #1008
http://wwwb.library.vanderbilt.edu/work/1

[2017-05-08 12:35] nathangibson opened #1011 "Ptr appears unexpectedly in Bibliography Display"
Last footnote of http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/81 has the following:

`A. Juckel, " Bible, New Testament manuscripts," in Sebastian P. Brock et al. (eds.), The Gorgias Encyclopedic Dictionary of the Syriac Heritage ( Piscataway, NJ: Gorgias Press, 2011) http://syriaca.org/bibl/115`

Why does the bibl URI appear at the end?

Thanks!

[2017-05-08 13:25] wsalesky commented on #1011
The idno in this record (http://syriaca.org/bibl/115) appears in a different place then in other bibl records. I believe that was some holdover code and have suppressed it. idno's should now all be rendered via templates with `mode="links"` this will render them with the link/icon/tooltip combination.

[2017-05-08 13:25] #1011 closed

[2017-05-09 14:55] #975 closed

[2017-05-09 17:58] #1010 closed

[2017-05-10 01:47] wsalesky commented on #1009
@dlschwartz They had duplicate tei:idno's on the server, even though it was correct on github. I'm guessing there was a bad webhook at some point.  I manually updated the dev server record.

[2017-05-10 01:47] #1009 closed

[2017-05-10 01:49] wsalesky commented on #1005
Limit set to 8. Leaving open so I can add in the fancy gradient fade.

[2017-05-10 01:55] wsalesky opened #1012 "Browse tabs are passing element parameter when they should not."
See local version of taxonomy browse.

[2017-05-10 01:57] wsalesky opened #1013 "Bug in spear facets"
See:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?fq=;fq-&view=keywords

[2017-05-10 09:38] nathangibson commented on #1005
Thanks!

[2017-05-10 11:53] nathangibson opened #1014 "Error on http://wwwb.library.vanderbilt.edu/person/3272"
Is this a data or display error? http://wwwb.library.vanderbilt.edu/person/3272 and http://wwwb.library.vanderbilt.edu/person/3273

[code]

[2017-05-10 12:12] nathangibson opened #1015 "Author/Editor roles for Works"
I feel like this used to work but doesn't anymore. E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9723 shows the following

It should grab the `gloss[@type='short']` from the referenced file like so:

If it would be easier to have these values in the ODD file, we can discuss that.

[2017-05-10 12:24] nathangibson commented on #1001
Sadly, I don't think this is going to work as is. E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9724. Should we put an extra gloss containing the plural label in the ODD file?

| Currently   |      Should Be      |
|----------|-------------|
| Final Rubrics |  Final Rubrics |
| Incipit (Opening Line) |    Incipits (Opening Line)   |
|Explicit (Closing Line) | Explicits (Closing L

[2017-05-10 12:25] nathangibson opened #1016 "Citations not displaying correctly in certain categories"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9724 For some reason bibls under "Original Language Edition...", "Apparatus", and "Glossary" are not displaying like regular citations.

[2017-05-10 12:48] wsalesky commented on #1014
XQuery error.

[2017-05-10 12:48] #1014 closed

[2017-05-10 13:18] #1016 closed

[2017-05-10 13:56] #1015 closed

[2017-05-10 14:00] nathangibson commented on #1015
Looks great.

[2017-05-10 14:17] #1008 closed

[2017-05-10 14:19] wsalesky commented on #1001
Hum, yes I suppose we could try that. I think otherwise it will be to convoluted to get plurals correct via the xslt.

Let me know when it is added and I will adjust the lookup.

[2017-05-10 15:22] wsalesky commented on #1004
See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/1
for a working example.

[2017-05-10 15:42] dlschwartz opened #1017 "Name variants in SPEAR"
@wsalesky SPEAR aggregation pages are currently incorrectly grabbing some name variants. See here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201. The third name variant is actually a name for an anonymous group that happens to include the URI for person/2201.

In such cases, the name variant applies only to the URI in the ref attribute

[2017-05-10 15:43] dlschwartz commented on #1017
That code didn't render very well in the issue. See here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/119-29/tei

[2017-05-10 16:06] wsalesky commented on #1017
So which names do you expect to see here?

[2017-05-10 16:16] dlschwartz commented on #1017
The third example, "The nobles of Abgar....", appearing here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201
should not appear as a name variant for Abgar VIII.

Rather, this name variant should only appear as a name variant here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2233

[2017-05-10 16:22] dlschwartz opened #1018 "Factoid advance button"
@wsalesky Would it be possible to add a factoid advance button for SPEAR like we have on dev for advancing from one URI to the next? It would be very helpful to have this here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/796-1

For editing purposes, I would like to be able to click through all of the factoids in a single document to ensure th

[2017-05-10 17:13] davidamichelson opened #1019 "Wording on relations in keyword module"
Please change subject to keyword and record to keyword and refers to encompasses.

Religion encompasses 134 keywords.

This keyword has broader match with 1 keyword.

[2017-05-10 17:13] dlschwartz opened #1020 "Change name in drop down on nav bar"
Currently the drop down on the nav bar lists "subjects" for keywords. Instead, we would like this to say "Taxonomy" which will be the name of this module. Thanks.

[2017-05-10 17:14] davidamichelson commented on #902
Yes please!

[2017-05-10 17:21] wsalesky commented on #985
Submitted bug.
https://github.com/eXist-db/exist/issues/1437#issuecomment-300460042

[2017-05-11 12:24] nathangibson commented on #1001
All right, there you go! E.g.,

[code]
https://github.com/srophe/srophe-eXist-app/commit/4ae8bd0d27161c7361f82b89ddfa03f287b1ad59

[2017-05-11 12:29] nathangibson commented on #1004
I like this and it will be a big help. Maybe could we change "Table of Contents:" to "Jump to:" and make it not a button? Thanks.

[2017-05-11 13:11] nathangibson opened #1021 "Weird sort on contained works (dct:isPartOf)"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9643 lists items 2, 8, 10 and then "see all". It should be items 1, 2, and 3. When you click "see all" the items all display in the correct order. It's as if the list is sorting alphabetically even though the correct number is associated with each item.

What should display is

[2017-05-11 13:35] nathangibson opened #1022 "Move "contains works" above Final Rubrics"
Can we put the "contains works" section immediately below the identity box? E.g., in http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/159 it is below "Final Rubrics."

[2017-05-11 14:20] wsalesky opened #1023 "Bug in API"
**From user:**

Bug in xpath filter.

[2017-05-11 17:17] #1023 closed

[2017-05-12 16:51] dlschwartz opened #1024 "Add "See all factoids for this work" link for SPEAR"
@wsalesky For each work aggregation page (i.e. http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/spear/119) could we add a link labeled "See all factoids for this work" that will simply take users to the advanced browse with that work selected: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?fq=;fq-Source%20Text:Chronicle%20of%20

[2017-05-15 15:34] #1024 closed

[2017-05-15 16:20] #1021 closed

[2017-05-15 16:22] #1020 closed

[2017-05-15 17:29] wsalesky commented on #1018
Okay. You have to use the short version of the URL, we should probably discuss short URLs for SPEAR in general, for now you can use this pattern for factoids:

http://wwwb.library.vanderbilt.edu/spear/119-8

[2017-05-15 17:29] #1018 closed

[2017-05-15 18:20] dlschwartz commented on #1018
Thanks!

[2017-05-16 13:43] #1013 closed

[2017-05-16 17:53] #1017 closed

[2017-05-16 18:10] wsalesky commented on #1019
@nathangibson were you going to change the text in the ODD file? Or should I make a special case for keywords?

[2017-05-16 20:20] dlschwartz opened #1025 "Links to SPEAR events broken"
@wsalesky The links on "See factoid page" from the events tab in SPEAR browse all lead to the same thing: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=

They don't have a URI attached at the end of them. Thanks!

[2017-05-16 20:28] dlschwartz opened #1026 "Missing links on factoid pages"
It would be great if we could include links to places and persons on individual factoid pages. For example,

Links appear here in the events box at the bottom:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/18

When I go the the factoid page is get the factoid without the links:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoi

[2017-05-16 20:32] dlschwartz opened #1027 "Choice with dates in SPEAR"
I'm not sure why there is a difference between these two factoids and how they display the two dating systems. They encoding looks identical to me

Compare:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/119-531
and
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/119-542

Note also that the sec

[2017-05-17 12:57] #1001 closed

[2017-05-17 15:17] #1025 closed

[2017-05-17 16:15] wsalesky commented on #1027
119-542 is trying (unsuccessfully to output the tei:relation element in a sentence. ) I will need to revisit the logic for how these work.

[2017-05-17 17:35] nathangibson opened #1028 "Move NHSL landing page to production"
Would like http://wwwb.library.vanderbilt.edu/exist/apps/srophe/nhsl/index.html to show on production, except that "Biblical Works" should *not* link anywhere and should be titled "Biblical Works (forthcoming)".

We are not ready to push data from non-BHSE works to production.

You can mention here any issues with data headers or otherwise that need to be fixed so that search, browse, etc. still w

[2017-05-17 18:13] wsalesky commented on #1026
You mean links within the text of the factoid?

[2017-05-17 18:21] dlschwartz commented on #1026
Yes. In the first link above, if you scroll down to the events box and look at the text for the event, you get links to Aleppo, Antioch, etc. in the text for the event.

However, when you go to the factoid page (second link above), those links do not show up.

Does that help explain it?

[2017-05-17 18:30] davidamichelson opened #1029 "Navigation Menu and Sliders Changes"
Please revise the "publications" drop down menu in the following way:

Change the order and introduce indentations:

Gazetteer
SBD
-Authors
-Qadishe
NHSL
-BHSE
-Bible
MSS
Taxonomy
Gateway to the Saints
SPEAR
Works Cited
Documentation

[2017-05-17 18:37] davidamichelson commented on #1029
For the main slider at www.syriaca.org/index, list only main modules and in this order:
Gazetteer (Places), SBD (Persons), NHSL (Works), MSS (Manuscripts), SPEAR (Factoids), Works Cited (Citations) [Note some of these labels have changed, and some modules are removed]

Eventually (but not by the 23rd): Please add the following to the main slider:
Taxonomy (Keywords), Gateway to the Saints (Hagiogr

[2017-05-17 18:38] davidamichelson commented on #1029
In the sliders, please revise the label so the pop up label for the module becomes a live link (for example The Syriac Gazeetter is...)

[2017-05-17 20:49] dlschwartz opened #1030 "Anonymous 2234 in SPEAR"
@wsalesky Most of the anonymous and anonymi show up here in browse: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=persons&alpha-filter=Anonymous

This is exactly where they should show up. However, Anonymous 2234 does not show up there but instead shows up under the As.

I can't figure out why but I hope this is an easy one. Thanks!

[2017-05-17 21:50] davidamichelson commented on #902
@wsalesky @dlschwartz Could you please move this to production before next week? Thanks!

[2017-05-17 21:51] dlschwartz opened #1031 "Connecting data to the wrong persons"
@wsalesky This issue is related to #1017 but deals with other types of person data. See occupation here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201

The second occupation is not an occupation held by Abgar, but rather an occupation held by others that relates to Abgar.

I think things are sorted out for name variants. The problem is

[2017-05-17 22:27] dlschwartz opened #1032 "Search in SPEAR down"
@wsalesky Search and Advanced Search on SPEAR are down. Thanks!

[2017-05-18 15:59] dlschwartz opened #1033 "Strange data in SPEAR"
@wsalesky See here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?fq=;fq-Type:head&view=advanced.

Somehow, this file (https://github.com/srophe/srophe-app-data/blob/dev/data/spear/schema/schemas/odd4odds.odd) seems to have been ingested into SPEAR even though it is in spear/schema/schemas and not in spear/tei.

[2017-05-18 16:01] wsalesky commented on #1033
I would move the spear schema folder to the app under documentation. Anything in the data app, under the data directory will get indexed by eXist.

[2017-05-18 16:06] dlschwartz commented on #1033
Ah, very good! I will do that. Should I put in in dev or master?

[2017-05-18 16:07] wsalesky commented on #1033
Dev please

[2017-05-18 17:00] dlschwartz commented on #1033
Great, thanks

[2017-05-18 17:00] #1033 closed

[2017-05-18 23:11] nathangibson commented on #1019
@wsalesky Can you remind me, where would I make this change? I believe this is just the passive of the skos:broadMatch relation, right? So do we need different glosses for active and passive?

[2017-05-18 23:16] nathangibson commented on #697
@wsalesky If you get a break from workshop stuff, this is one of the top NHSL issues I would like to get solved. It was working earlier -- it may be just a matter of updating it to recognize the skos:broadMatch relation.

[2017-05-18 23:41] wsalesky commented on #697
I will take a look tonight. Thanks for the reminder.

[2017-05-19 01:44] wsalesky commented on #902
Moved to production.

[2017-05-19 01:44] #902 closed

[2017-05-19 01:59] wsalesky commented on #697
Done.

[2017-05-19 01:59] #697 closed

[2017-05-19 02:26] #1032 closed

[2017-05-19 02:53] wsalesky commented on #1029
Updated on dev. Should I move the new index page and menu to production?

[2017-05-19 15:28] davidamichelson commented on #1029
Will that be easy to merge? It may not be since it is not identical (ie there is no Taxonomy or Spear). Dev is probably fine for now unless it is easy.

On the other had if you could make the SBD index page slider on dev that woudl be great.

[2017-05-19 15:29] davidamichelson commented on #1029
Lastly, just a note to discuss having a front and center search box below the slider. Probably not, but we should discuss.

[2017-05-22 01:50] #1026 closed

[2017-05-22 20:40] nathangibson opened #1034 "Error on taxonomy search box"
When I search for "syrian" in the top-right search in taxonomy (http://wwwb.library.vanderbilt.edu/exist/apps/srophe/taxonomy/browse.html?fq=;fq-Broad%20Match:http://syriaca.org/keyword/ethnicity&view=facets) I get the following error. (Could be just that I'm on a slow connection?)

[2017-05-22 20:41] wsalesky commented on #1034
Looks like a bad connection on your end. I get results.

[2017-05-22 21:06] nathangibson commented on #1034
OK, thanks. The weird thing is everything else seems to be working, just slowly on this connection.

[2017-05-22 21:07] nathangibson commented on #1034
And unfortunately this is the connection people will be on tomorrow :-(

[2017-05-22 21:08] wsalesky commented on #1034
The advanced browse is probably slower then the categories tab. I will take a look later and see if there is anything I can do to speed it up.

[2017-05-22 21:34] nathangibson commented on #1034
I think there are still problems. Unfortunately this is really important for the workshop tomorrow. Regardless of which page I'm on, entering something in the top-right search box gives me a 502 error. The advanced search works but doesn't actually display results. E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/taxonomy/search.html?qs=rhetor*&headword=&related-terms= says "2 results" b

[2017-05-22 21:37] wsalesky commented on #1034
I will take a look tonight

[2017-05-22 21:46] wsalesky commented on #1034
@nathangibson There is a quick fix up on dev right now, so you should at least get some results. I will take a closer look later tonight. Please add any additional bugs to this issue.

[2017-05-22 21:52] nathangibson commented on #1034
Fantastic! Advanced search is now working correctly. However I get different results for the top-right search box http://wwwb.library.vanderbilt.edu/exist/apps/srophe/taxonomy/search.html?q=rhetor* than for "search anywhere" field in advanced search http://wwwb.library.vanderbilt.edu/exist/apps/srophe/taxonomy/search.html?qs=rhetor*&headword=&related-terms=. The search box gives returns *all* keyw

[2017-05-23 01:55] wsalesky commented on #1034
Okay. I think this addresses both of the issues mentioned above.

[2017-05-23 02:18] #1034 closed

[2017-05-27 10:15] nathangibson opened #1035 "Error on work/1598"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/1598 gives the following error:

[2017-05-27 10:20] nathangibson commented on #1035
Removing duplicate relation fixed error for this record. (https://github.com/srophe/srophe-app-data/commit/c7b0ead7b6a6ef6aa6c17d3848aa2dd95af6f772)

Still, it would be nice to fix this so that the app doesn't break if there are others.

[2017-05-27 18:29] wsalesky commented on #1035
Fixed for future records.

[2017-05-27 18:29] #1035 closed

[2017-05-30 20:28] nathangibson commented on #1035
Thanks!

[2017-06-02 15:30] nathangibson opened #1036 "Editions, etc. for literary traditions"
When you are available again (i.e., not urgent), can you check out http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9606 ? The edition in the record is showing up in "Sources" but not in "Editions"? It may be that we turned off editions for literary traditions, but we have now come up with a use case for them (and the other types of bibls that can be cited in a work record). Thanks!

[2017-06-04 01:55] wsalesky commented on #1036
Fixed.

[2017-06-04 01:55] #1036 closed

[2017-06-04 02:11] wsalesky commented on #1031
Fixed

[2017-06-04 02:11] #1031 closed

[2017-06-05 13:53] #1019 closed

[2017-06-05 15:44] nathangibson commented on #1036
Thanks!

[2017-06-05 15:51] nathangibson opened #1037 "editors.xml unavailability kills dev server records"
When I try to load records on the dev server, I can't because it can't access documentation/editors.xml on the prod server.

At the moment this is happening on all records I try to load, e.g., http://wwwb.library.vanderbilt.edu/person/13

Can we set up a fallback to the dev server editors.xml or some way to keep this from stopping the record display? Thanks!

Error:
[code]

[2017-06-05 16:36] wsalesky commented on #1037
Fixed.

[2017-06-05 16:36] #1037 closed

[2017-06-05 16:59] wsalesky commented on #1027
I'm not sure what this should look like in English:

[code]

What do you think @dlschwartz ?

[2017-06-05 17:02] wsalesky commented on #1030
It is misspelled in the title.
Anonmyous

See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2234/tei

[2017-06-05 17:02] #1030 closed

[2017-06-05 17:06] dlschwartz commented on #1030
I should have caught that! Sorry and thanks.

[2017-06-05 17:09] dlschwartz commented on #1027
We encode for two different types of relationships in event factoids. The English rendering of these can be found in column E here: https://docs.google.com/spreadsheets/d/1aDICk8lrQ7cospr2yVlMYLXavMbaTDxbgr1GDrqfWDw/edit#gid=2112895728. Thanks Winona.

[2017-06-05 17:13] wsalesky commented on #1030
That is okay, I didn't notice at first either!

[2017-06-05 17:59] wsalesky commented on #1028
Done.

[2017-06-05 17:59] #1028 closed

[2017-06-05 18:05] nathangibson commented on #1028
Looks great!

[2017-06-05 18:24] wsalesky commented on #1027
How do you want the relationship to look on this page:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/119-542

**Relationship:**  This relationship is used to indicate that two or more event factoids refer to closely related events such as meaningful close proximity, cause and effect, part to whole, etc. Related: http://syriaca.org/spear/119-542

[2017-06-05 18:37] dlschwartz commented on #1027
How about this --
"Relationship: Factoid http://syriaca.org/spear/119-542 and factoid http://syriaca.org/spear/119-424 deal with closely related events."

On the individual factoid pages I think this should be sufficient as the user will have the option to click through to the other event factoid. Through the event graph the user will also be able to see additional connections.

[2017-06-05 18:38] dlschwartz commented on #1027
I just re-read this. I guess the sentence approach is not working, sorry. Give me just a minute.

[2017-06-05 18:39] wsalesky commented on #1027
Actually I think what you proposed will work, and will speed things up as well.
Let me implement it and then you can see what you think.

[2017-06-05 18:42] dlschwartz commented on #1027
OK, great. Alternately, we could try
"SPEAR contains two or more factoids dealing with a closely related event: http://syriaca.org/spear/119-542 and http://syriaca.org/spear/119-424"

And for the sameAs relationship
"SPEAR contains two or more factoids dealing with the same event: http://syriaca.org/spear/119-542 and http://syriaca.org/spear/119-424"

[2017-06-05 18:45] dlschwartz commented on #1027
Alternately, we could give only the passive attribute
"SPEAR contains at least one additional factoid dealing with a related event: http://syriaca.org/spear/119-424"

And for the sameAs relationship
"SPEAR contains at least one additional factoid dealing with the same event: http://syriaca.org/spear/119-424"

[2017-06-06 02:34] wsalesky commented on #1027
Okay, I have made some adjustments. There are  some other display issues I noticed in SPEAR that I will try to address in the next few days as well, such as empty names:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/119-241

Let me know what you think of the current relationship output.

[2017-06-06 03:01] wsalesky commented on #1004
I think this can be closed? @nathangibson?

[2017-06-06 03:01] #1004 closed

[2017-06-06 09:06] nathangibson commented on #1004
Yes, thanks!

[2017-06-06 15:37] dlschwartz commented on #1027
Actually Winona, I just recently realized that some sex factoids do not have notes that they should have. I need to put those in.

[2017-06-06 15:37] nathangibson opened #1038 "Strange NHSL search results"
When I search for "gospels" http://wwwb.library.vanderbilt.edu/exist/apps/srophe/nhsl/search.html?q=gospels I get good matches. But when I search for "arabic gospels" http://wwwb.library.vanderbilt.edu/exist/apps/srophe/nhsl/search.html?q=arabic+gospels or "arabic gospel*" http://wwwb.library.vanderbilt.edu/exist/apps/srophe/nhsl/search.html?q=arabic+gospel* I get

but no actual results. If I sear

[2017-06-06 15:38] dlschwartz commented on #1027
And I think the relationship factoid page looks good. Thanks.

[2017-06-07 17:21] wsalesky opened #1039 "Bug in html display"
http://syriaca.org/about-srophe.html

[2017-06-07 17:33] #1039 closed

[2017-06-07 18:54] davidamichelson opened #1040 "More Information menu items are no longer easily accessible from anywhere"
After we redid the home page the following menu items got buried:
see here: http://syriaca.org/project-team.html

More Information
(see links below in the HTML)
What is Syriac?
Project Overview
Project Team
Project Partners
Media Releases
Support Our Work
Contact Us

Should we add these items to the menu found under "Editorial Documentation:
http://syriaca.org/documentation/index.html

Could I ple

[2017-06-07 19:05] davidamichelson commented on #1040
If we do integrate this with documentation we may wish to change the sidemenu onthose pages to the documentation side menu for consistency of navigation

[2017-06-09 19:55] dlschwartz opened #1041 "Revisions to front and back of e-GEDSH"
@wsalesky I have made major revisions to the front and back of e-GEDSH. In short, I have taken each of the items in the Table of Contents of the print edition and treated them like an entry. This should allow linking to these entities from elsewhere and allow for them each to appear on a separate page.

For the major (left-adjusted) sections, I have wrapped them in a div type="section" and added a

[2017-06-09 19:59] dlschwartz commented on #1041
@wsalesky Sorry, I thought I was in  the GEDSH app issues. I'll cut and paste this issue there and then close this here. Thanks.

[2017-06-09 20:01] #1041 closed

[2017-06-12 19:16] wsalesky commented on #1040
@davidamichelson  @dlschwartz  What about adding an 'About' dropdown next to the 'Publications' dropdown in the main nav?

[2017-06-12 19:17] wsalesky commented on #1029
I think this has been completed. Reopen if I have missed anything.

[2017-06-12 19:17] #1029 closed

[2017-06-12 19:18] #1027 closed

[2017-06-12 19:19] wsalesky commented on #1005
@nathangibson The fancy gradient is actually quite difficult unless you have a fixed height element, which we do not for lists. I can leave this open, and if I get a chance to reinvestigate I will.

[2017-06-12 19:20] wsalesky commented on #981
I think this has been done. There are a few bugs that should be posted in the https://github.com/srophe/srophe-admin/issues repository.

[2017-06-12 19:20] #981 closed

[2017-06-12 19:21] #996 closed

[2017-06-12 19:21] #997 closed

[2017-06-12 21:10] davidamichelson commented on #1040
I like that. But I also think integrating those pages into the wiki makes
sense in terms of making them easy to update. Could we some how have an
about column?

On Mon, Jun 12, 2017 at 2:16 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-06-13 12:20] nathangibson commented on #1005
No problem. Gradient isn't important. Feel free to close and we can reopen later if needed. Thanks!

[2017-06-13 15:02] nathangibson opened #1042 "bibl cites manuscript prose description"
In http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9515 Print Catalogue 2 (#bib9515-14) it says "(Print Catalogue based on Print Catalogues 2.)" In other words it cites itself.

The underlying relationship is `<relation active="#bib9515-11" ref="lawd:hasCitation" passive="#bib9515-14"/>` (https://github.com/srophe/srophe-app-data/blob/dev/data/works/tei/nhsl/tei/9515.xml#L237).

The RDF

[2017-06-13 17:35] wsalesky commented on #998
@nathangibson Can this be closed?

[2017-06-13 17:40] #872 closed

[2017-06-13 17:41] #955 closed

[2017-06-13 17:42] #962 closed

[2017-06-13 17:59] wsalesky commented on #985
Solution to this bug has been found. Will need to get changes made to production and development eXistdb instances.

[2017-06-13 17:59] #985 closed

[2017-06-13 18:57] #983 closed

[2017-06-13 18:57] wsalesky commented on #983
Done!

[2017-06-14 10:16] nathangibson commented on #872
Thanks!

[2017-06-14 10:18] nathangibson commented on #998
Thanks. I'm not sure the editors actually managed to discuss this yet, but we can reopen if any changes are needed.

[2017-06-14 10:19] nathangibson commented on #983
Great!

[2017-06-14 13:39] #1022 closed

[2017-06-14 13:41] #1005 closed

[2017-06-14 17:37] nathangibson commented on #998
Can we change "Pseudo-Macarius refers to 1 person." to "Pseudo-Macarius refers to 1 anonymous author."?

[2017-06-14 18:25] wsalesky opened #1043 "NHSL index page"
Change table to use bootstrap responsive layout.

[2017-06-14 18:26] #1043 closed

[2017-06-15 12:59] nathangibson opened #1044 "NHSL landing page div margin causes horizontal scroll"
https://github.com/srophe/srophe-eXist-app/blob/dev/srophe-app/nhsl/index.html#L109 Not sure why the margin is needed on this page and not on others but it is causing the page to scroll horizontally when the window is approx. 1000 to 1350 px wide (FF 53.0.3 on Mac 10.10.5). Hard to capture with a screenshot but I'll try.

<img width="580" alt="screenshot_6_15_17__2_54_pm" src="https://user-images.

[2017-06-16 14:42] dlschwartz opened #1045 "Comma separate multiple glosses in a single language in Taxonomy module"
@wsalesky See http://wwwb.library.vanderbilt.edu/exist/apps/srophe/keyword/anchorites. When we have multiple English (or any other language) glosses they each appear as separate lines. Can we group these by language and comma separate them? Right now this is encoded as follows:
` <gloss xml:lang="en">
               <term>eremites</term>
            </gloss>
            <gloss xml:lang="en">

[2017-06-16 15:21] wsalesky commented on #1045
Done.

[2017-06-16 15:21] #1045 closed

[2017-06-16 15:24] wsalesky commented on #1044
I removed it. If we need some additional space, we can add padding, but I think it is fine without. .

[2017-06-16 15:24] #1044 closed

[2017-06-16 16:00] wsalesky commented on #1042
@nathangibson How would you like to handle a relationship that cites a full uri?
See the 1st Print Catalogue on the above record. TEI looks like this:

[code]
Can I just print out the URL or do you want a full citation from that URL?

[2017-06-16 16:04] wsalesky commented on #1040
@davidamichelson Do you want to add them to the wiki, or just add them as an additional column/menu on the documentation pages?

[2017-06-16 16:06] wsalesky commented on #980
Related to:
https://github.com/srophe/srophe-eXist-app/issues/985

Now I just have to find where the space was introduced.

[2017-06-16 16:06] nathangibson commented on #1044
Thanks!

[2017-06-16 16:19] dlschwartz commented on #1045
Brilliant! Thanks.

[2017-06-16 16:30] wsalesky commented on #980
@nathangibson I fixed the space, in the case of the comma, should it be a period instead?

[2017-06-16 16:37] #1003 closed

[2017-06-16 16:43] davidamichelson commented on #1040
Maybe just add them to the wiki?

On Jun 16, 2017, at 11:04 AM, Winona Salesky wrote:

[2017-06-16 17:23] wsalesky commented on #973
I am starting work on this project.
@nathangibson can I get some more examples (5-10 would be fine), with explicit expectations for returned results?

Thanks!
-Winona

[2017-06-16 17:45] wsalesky commented on #973
@nathangibson
Also, should this service point you to the HTML version of the page? Or return the XML version of the page/subsection?

[2017-06-19 09:24] nathangibson commented on #980
Wonderful! Yes final comma should be a period.

[2017-06-19 11:26] nathangibson commented on #973
Great!

In my opinion, it should return the HTML page (a specific anchor where relevant), but @jedwardwalters and others should weigh in.

# Examples
You'll notice below that sometimes certain parts of the URN are not needed for resolution in our system. For the WORK part of the URN (see http://cite-architecture.github.io/ctsurn_spec/specification.html#syntax-of-a-cts-urn) you can grab the most sp

[2017-06-20 15:32] nathangibson opened #1046 "blank result in SBD search"
Search for http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/search.html?q=nazi* result 9 doesn't have any text or URI. Not sure if this is a data or app issue.

<img width="419" alt="syriaca_org__the_syriac_reference_portal" src="https://user-images.githubusercontent.com/3083452/27341768-7936db0c-55de-11e7-95b6-70c3588eddbf.png">

[2017-06-20 18:49] wsalesky commented on #1046
I think it is a data problem, this is the record that is returned:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2783

The idno in the body uses type='URL' not type='URI'
See: https://github.com/srophe/srophe-app-data/blob/dev/data/persons/tei/2783.xml#L175

Perhaps the code needs to be a little more flexible also.

[2017-06-21 14:16] nathangibson opened #1047 "blank search results"
This search http://wwwb.library.vanderbilt.edu/exist/apps/srophe/nhsl/search.html?q=Aristotelis+Categoriae+et+Liber says "5 matches for Keyword" but doesn't return any.

[2017-06-21 15:54] nathangibson opened #1048 "Can we move abbreviations to identity box?"
Please move Abbreviations `/TEI/text/body/bibl/title[@type='abbreviation']` to identity box between Abstract and Reference Numbers. Thanks!

[2017-06-22 13:47] wsalesky commented on #1047
This is a hierarchical browse issue. I was waiting for RDF resolutions.

[2017-06-22 13:48] wsalesky commented on #1047
RE: #971

[2017-06-22 14:38] wsalesky commented on #1040
@dlschwartz
I added an 'About' dropdown to the main pages and added an additional menu to the documentation pages.

I think this works, but let me know what you think.

[2017-06-22 14:47] wsalesky commented on #1038
See: #971

[2017-06-22 14:50] dlschwartz commented on #1040
I like the drop down. I think it's important to front this. There may not be much you can do, but I did notice that things got a bit wonky when I reduced the size of my browser.
![about](https://user-images.githubusercontent.com/4984270/27440367-1f636f48-5730-11e7-9eba-23e89c729267.PNG)
This isn't a huge deal but maybe you can tweak things a bit. We should get broader input on Tuesday but I'm in s

[2017-06-22 14:52] wsalesky commented on #1040
What browser are you using? Firefox?

[2017-06-22 14:57] #980 closed

[2017-06-22 15:04] wsalesky commented on #1048
@nathangibson
I changed the code, can you give me a record to spot check this change on?

[2017-06-22 15:14] dlschwartz commented on #1040
I'm in Chrome on a PC.

[2017-06-22 15:16] wsalesky commented on #1040
What happens when you go a little smaller? (Can you post a screen shot?)

[2017-06-22 15:21] wsalesky commented on #1048
@nathangibson never mind. I found one.

[2017-06-22 15:21] #1048 closed

[2017-06-22 15:22] dlschwartz commented on #1040
This is an image from slightly larger than the earlier:
![about2](https://user-images.githubusercontent.com/4984270/27441874-5e82849e-5734-11e7-9f47-091b396c3ad0.PNG)

And this is an image from smaller than the earlier image. Note that there is no way to get to the label "About Syriaca.org". The bar on the far right is scrolled all the way up.
![about3](https://user-images.githubusercontent.com/49

[2017-06-22 15:23] wsalesky commented on #1040
Thanks! Those menu items should be pushed into the little 'hamburger menu' on the smaller sizes. So this is clearly a bug. I will take a another look.

[2017-06-22 15:25] dlschwartz commented on #1040
Great. One more thing. Should we move the "Documentation" link from the "Publications" dropdown and place it into the "About" dropdown?

[2017-06-22 15:29] wsalesky commented on #1040
I like that idea. Should I go ahead, or should we check in with @davidamichelson  at the next meeting?

[2017-06-22 15:40] dlschwartz commented on #1040
Since we're just on production at the moment, let's go ahead and do it so that everyone can look at it. It really isn't a "publication" anyway. I think it would be much preferable to have it in "about". Am I right that it wouldn't take a lot of work to move it back if need be?

[2017-06-22 15:58] wsalesky commented on #1040
Yes, it is easy, I will make the change.

Sent from my iPhone

[2017-06-23 13:30] nathangibson commented on #1046
Thanks, I've fixed the record.

[2017-06-23 13:30] #1046 closed

[2017-06-23 14:39] wsalesky commented on #1040
Done.

[2017-06-23 14:48] nathangibson commented on #1047
I'll close it in that case?

[2017-06-23 14:48] #1047 closed

[2017-06-23 14:57] nathangibson commented on #1042
Sorry I was slow getting back to you on this. It is possible to grab the reference to the manuscript list item whose bibl pointer matches this?

Thus "(Print Catalogue cites http://syriaca.org/manuscript/124.)" would instead be be "(Print Catalogue cites Manuscript 2.)" [Example from http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9515]

The xpath for this bibl would be //bibl[@type='syr

[2017-06-23 14:58] nathangibson commented on #1048
Great, thanks!

[2017-06-23 15:00] wsalesky commented on #1042
Looks like there are two that reference it, should they both be listed?

[code]

[2017-06-23 15:15] nathangibson commented on #1042
This was a mistake. I’ve just removed one of the references.

[2017-06-26 17:23] wsalesky commented on #1042
Okay. I think I have it working correctly now.

[2017-06-26 17:23] #1042 closed

[2017-06-27 03:19] wsalesky commented on #973
Bare bones implementation (still needs some work):
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/CTS/index.html

[2017-06-27 17:55] nathangibson opened #1049 "API filter for ektobe headwords"
Please add an API filter for person names `syriaca-tags="#ektobe-headword"`. E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/21

`<persName xml:lang="fr" source="#bib21-13" syriaca-tags="#ektobe-headword" xml:id="name21-11">Grégoire le moine</persName>`

Once tested this will need to be able to be used on production server API.

[2017-06-27 19:05] nathangibson opened #1050 "Change literary tradition skos:broadMatch visualization wording"
As hard as we tried to generalize the wording for composite URI skos:broadMatch relations, we think it's just too vague for literary traditions in NHSL (`/TEI/text/body/bibl[@type='syriaca:literaryTradition']`).

So could we please change the wording (for works only)? I like the old wording: "This tradition comprises at least 4 branches." @davidamichelson Would you agree or do you have something d

[2017-06-29 15:53] dlschwartz opened #1051 "Re-label "Sources" to "Works Cited""
@wsalesky As discussed in our meeting on Tuesday, we would like to go ahead and re-label the "Sources" section in all modules to read "Works Cited". Thank you.

[2017-06-30 21:11] wsalesky commented on #1040
Resolved and moved to master.

[2017-06-30 21:11] #1040 closed

[2017-06-30 21:38] nathangibson opened #1052 "Popup not loading for literary tradition branches"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9648 doesn't load when you click "See all 6 records."

[2017-06-30 21:39] nathangibson commented on #1050
Please also change the header at the top of the popup window to match. Currently says "Luke (literary tradition) contains works" http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9648.

[2017-07-04 00:12] wsalesky commented on #1052
@nathangibson  I only see 5 records and no link to the popup? And it does work for
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9501

Are you still having this issue?  Maybe I can get a screen shot?

[2017-07-04 00:16] wsalesky commented on #1051
@dlschwartz Done.

[2017-07-04 00:16] #1051 closed

[2017-07-04 01:58] wsalesky commented on #1049
@nathangibson Can you clarify the use case for this request? How/who will be using it, what results are expected?

[2017-07-04 13:00] wsalesky commented on #1052
Fixed. (You may need to do a hard refresh to see the change.)

[2017-07-04 13:00] #1052 closed

[2017-07-04 13:00] wsalesky commented on #1050
Fixed.

[2017-07-04 13:00] #1050 closed

[2017-07-05 13:29] nathangibson commented on #1049
You might need to get details from @dlschwartz and/or the eKtobe developer. So far as I understand:

1. Queries on persName should include ektobe-headwords. I assume they already would. Perhaps it would be helpful to have a way of prioritizing/only returning the records having an ektobe-headword that begins with the query string.

2. Being able to query a URI and get back the ektobe-headword.

[2017-07-05 13:56] nathangibson commented on #1050
Thanks!

[2017-07-05 13:59] nathangibson commented on #1052
Oops, I probably changed one of the relations and it now has 5 instead of 6. Anyway, I'll close this for now.

[2017-07-11 11:13] wsalesky commented on #138
This is a stale issue. Has been resolved for quite a while.

[2017-07-11 11:13] #138 closed

[2017-07-11 11:16] wsalesky commented on #598
stale issue which has been fixed.

[2017-07-11 11:16] #598 closed

[2017-07-11 11:17] wsalesky commented on #586
Stale issue that has been resolved.

[2017-07-11 11:17] #586 closed

[2017-07-11 11:18] wsalesky commented on #342
Fonts render but do not connect correctly. Currently no known solution.

[2017-07-11 11:19] wsalesky commented on #481
This has been resolved.

[2017-07-11 11:19] #481 closed

[2017-07-11 11:22] wsalesky commented on #707
Stale issue.

[2017-07-11 11:22] #707 closed

[2017-07-11 11:22] wsalesky opened #1053 "Bad link in nav dropdown. BHSE goes to Bible module."

[2017-07-25 04:17] tacarlson opened #1054 "operational bug"
I accidentally typed "Turk&" into the search box on the Gazetteer and got a large error:

<?xml version="1.0" ?><exception><path>/db/apps/srophe/modules/view.xql</path><message>exerr:ERROR Error while evaluating expression: collection('/db/apps/srophe-data/data/places/tei')//tei:body[ft:query(.,'Turk&',data:search-options()) or ft:query(descendant::tei:placeName,'Turk&',data:search-options()) or f

[2017-07-25 13:04] wsalesky commented on #1054
Add `&` to filter for illegal characters

[2017-07-25 13:04] #1054 closed

[2017-07-25 13:05] #1053 closed

[2017-07-25 13:46] wsalesky commented on #974
RDF has been implemented on the dev servers. SPARQL queries will be written as needed.

[2017-07-25 13:46] #974 closed

[2017-07-27 16:54] davidamichelson opened #1055 "BQG landing page"
Hi W,

Here is the list of editors for the landing page.

Dr. Haya Al Thani (Qatar University)
Dr. Saif al-Murikhi (Qatar University)
Dr. Abdulrahim Abu-Husayn (American University of Beirut)
Dr. George Kiraz (Beth Mardutho: The Syriac Institute)
Dr. Mario Kozah (American University of Beirut)
Dr. David Michelson (Vanderbilt University)
Dr. Thomas Carlson (Oklahoma State University)

Also, just an

[2017-07-27 16:57] davidamichelson commented on #1055
Also here is draft text for the paragraph on the landing page:

Beth Qaṭraye, Syriac for “region of the Qataris”, is a term found in Syriac literature referring to
the region of North-East Arabia including Qatar and Bahrain from the fourth to the ninth
centuries. Beth Qaṭraye was an important cultural, linguistic and religious crossroads in the pre-
Islamic and early Islamic period, when it produc

[2017-07-27 17:01] davidamichelson commented on #1055
One more edit, everywhere that the word Beth Qaṭraye appears needs the unicode small dot under the t in Qaṭraye please.

[2017-07-27 17:16] tacarlson commented on #1055
I almost have the data in order, but I will be out of the office 7/29-8/5

[2017-07-27 17:55] davidamichelson commented on #1055
Wow! Great work! One thing that Winona will need us to do is make a series
stmt specific to BQG. Would you like me to make that?

On Thu, Jul 27, 2017 at 12:16 PM, tacarlson <notifications@github.com>
wrote:

[2017-07-27 19:27] davidamichelson commented on #1055
Right, sorry too vague, I am happy to draft that, but will need to do it
next week.

You can see an example of how we mark records that appear in multiple
volumes with a series/Stmt in person/13.

On Thu, Jul 27, 2017 at 1:14 PM, tacarlson <notifications@github.com> wrote:

[2017-08-11 01:48] wsalesky opened #1056 "BQG module"
Add new module for Beth Qatraye Gazetteer.

[2017-08-11 01:48] #1056 closed

[2017-08-11 02:07] wsalesky opened #1057 "Add seriesStmt display to new Beth Qatraye Gazetteer records"
See persons/authors/saints as examples of how this would look.
example: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1534

[2017-08-11 02:19] wsalesky commented on #1057
@davidamichelson
The seriesStmt does not include a biblscope, should it?
I am comparing it to this (http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1534/tei):
[code]

[2017-08-11 15:46] davidamichelson commented on #1057
Sorry out of commission until Aug 15th, will get to it then

On Thu, Aug 10, 2017 at 9:19 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-08-17 14:09] davidamichelson opened #1058 "Restore Browse by Type and Fix Bug"

[2017-08-17 14:11] davidamichelson opened #1059 "For logo please reverse the order of the characters"
From right to left it should be reversed

[2017-08-18 00:36] wsalesky commented on #1059
Done.

[2017-08-18 00:36] #1059 closed

[2017-08-18 00:43] wsalesky commented on #1058
Fixed.

[2017-08-18 00:43] #1058 closed

[2017-08-18 00:57] wsalesky opened #1060 "Banner credit not showing up"

[2017-08-18 00:58] #1060 closed

[2017-08-18 01:00] wsalesky opened #1061 "Add link to about pages."

[2017-08-18 01:51] #1061 closed

[2017-08-18 21:38] davidamichelson opened #1062 "Restore "Help" menu button to header on BQG header"
Could this help button point to http://syriaca.org/geo/help/index.html and not to bethqatraye/help.html? It would be better to just have a single help page.

[2017-08-20 15:04] wsalesky commented on #1062
Done.

[2017-08-20 15:05] #1062 closed

[2017-08-22 02:07] wsalesky opened #1063 "browse BQG Arabic on the basis of Arabic headwords"

[2017-08-22 02:09] wsalesky commented on #1063
Should be fixed. @tacarlson @davidamichelson can one of you review and close this if the Arabic browse works as expected.

[2017-08-22 02:13] #973 closed

[2017-08-22 02:16] wsalesky commented on #723
Closing, this was resolved but never closed.

[2017-08-22 02:16] #723 closed

[2017-08-22 02:17] wsalesky commented on #378
Closing stale issue. XSLT handles either tei:note or tei:desc.

[2017-08-22 02:17] #378 closed

[2017-08-29 15:45] nathangibson opened #1064 "Corrections/additions button down on dev"
One of our contributors has been getting errors on the corrections/additions button (e.g., for http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1469). I'm getting the same message "ERROR for site owner:
Invalid domain for site key"

and then "please try again" when I try to submit.

Production seems to be working I think.

[2017-09-06 15:40] davidamichelson opened #1065 "Qadishe volume is not filtering out non-saints in Browse"

[2017-09-06 15:51] wsalesky commented on #1065
@davidamichelson Production or Dev? Can you add a link to the issue so I can easily see where the problem is?

[2017-09-06 16:10] jsaintlauren commented on #1065
On the Production server... for example see this:

http://www.syriaca.org/q/browse.html?lang=&alpha-filter=M

On Wed, Sep 6, 2017 at 10:51 AM, Winona Salesky <notifications@github.com>
wrote:

[2017-09-06 16:11] wsalesky commented on #1065
Okay, thanks!

[2017-09-07 13:32] wsalesky commented on #1065
Resolved. Thanks.

[2017-09-07 13:32] #1065 closed

[2017-09-07 13:33] wsalesky commented on #1064
@davidamichelson I think you have the recaptcha information, can you check our settings and see if you can add the dev server to the same key?

[2017-09-07 13:35] wsalesky opened #1066 "Advanced browse on BHSE has map rendering issues"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bhse/browse.html?view=facets

[2017-09-08 17:15] wsalesky opened #1067 "Slow load time reported on Taxonomy browse."
Partially due to server, partially due to code.

[2017-09-08 17:21] wsalesky commented on #1067
Fixed on dev. Testing for merge into production.

[2017-09-08 17:56] wsalesky commented on #1067
This seems to be resolved. @jsaintlauren @davidamichelson please let me know if you continue to have issues with speed. The dev server does seem to be noticeably slower then the production server.

[2017-09-08 17:56] #1067 closed

[2017-09-09 03:01] jsaintlauren opened #1068 "browse feature on BHSE broken"
Hi Winona!  The advanced search on BHSE does not seem to be working.  For example, if I type in the word "saint" under prologues (and many have this word in them) nothing is returned.  Can you check this please?  @wsalesky Thanks!

[2017-09-11 11:30] wsalesky commented on #1068
Fixed.

[2017-09-11 11:30] #1068 closed

[2017-09-25 13:10] wsalesky commented on #480
Does not seem to be fixed in v 3.3.0

[2017-09-25 16:10] nathangibson commented on #714
Sadly we are still seeing an extra space inside the parentheses in certain citations throughout the site. E.g., http://wwwb.library.vanderbilt.edu/work/694 has

There are also extraneous commas showing up as you can see after the date and cited ranges above.

[2017-09-25 16:20] nathangibson opened #1069 "Syriac (?) characters not displaying in NHSL title"
At http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/9726 I'm seeing some unicode boxes in one of the titles. It looks like all the Syriac characters are there, so I'm not sure why the boxes are appearing.
Is this an issue with my computer, the data, or the srophe app?
<img width="489" alt="categories__aristotle___anonymous_version" src="https://user-images.githubusercontent.com/3083452/30

[2017-09-25 16:31] wsalesky commented on #1069
It looks like it is in the data, you can see it by opening the file in oXygen.
<img width="894" alt="screen shot 2017-09-25 at 12 26 08 pm" src="https://user-images.githubusercontent.com/1168206/30819499-d9152ae2-a1ec-11e7-8ba8-66a8b5f4829d.png">

I can delete them, but perhaps you should do it, just to make sure there isn't any missing data represented by the boxes.

[2017-09-26 11:31] nathangibson commented on #1069
Thanks, I've fixed it now.

[2017-09-26 11:31] #1069 closed

[2017-09-26 13:20] wsalesky commented on #1069
Thanks!

[2017-10-04 14:27] #1066 closed

[2017-10-27 16:41] davidamichelson opened #1071 "There is a labeling issue with the " Relationships" box"
See for example: http://syriaca.org/person/13

The labels under the "Relationships" box

This person has-literary-connection-to-place 4 place s . (note the white space or missing elements)

This is true for various kinds of relationships.

[2017-11-01 13:04] wsalesky opened #1072 "Update app:other-data-formats"
Remove request variables, causes problems in tcadrt app, which does not use the request library in app.xql due to restxq requirements. Prepare for possible merge of the tcadrt restxq functions in to Syriaca.org.

[2017-11-01 13:14] #1072 closed

[2017-11-08 14:00] wsalesky opened #1073 "Bug in keyboard"

[2017-11-08 14:38] #1073 closed

[2017-11-08 16:03] #1071 closed

[2017-11-27 16:21] wsalesky opened #1077 "Better git-sync integration"

[2017-11-28 19:21] wsalesky opened #1078 "RDF for SPEAR"

[2017-12-04 14:25] wsalesky opened #1079 "Update code base for eXist 3.6.0"

[2017-12-04 17:28] wsalesky commented on #1079
Done on dev.

[2017-12-04 17:28] #1079 closed

[2017-12-06 17:01] dlschwartz opened #1081 "SPEAR is down"
@wsalesky The index page and the advanced search page work but browse does not and I can't get search records to turn work properly.

[2017-12-11 19:05] #1081 closed

[2017-12-13 14:37] #1077 closed

[2017-12-15 13:50] wsalesky opened #1082 "Automate RDF updates"

[2017-12-15 14:00] #1082 closed

[2017-12-15 14:01] wsalesky commented on #1082
Go to admin module for user friendly interface.

[2017-12-15 14:10] wsalesky opened #1083 "CTS for SPEAR"
See: https://github.com/srophe/srophe-app-data/issues/728

[2017-12-15 15:40] wsalesky commented on #1083
See online: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/119-1

[2017-12-19 14:20] wsalesky opened #1084 "Add rdf github repository"

[2017-12-19 18:28] #282 closed

[2017-12-19 18:28] wsalesky commented on #1084
Done. See: https://github.com/srophe/srophe-data-rdf

[2017-12-19 18:28] #1084 closed

[2017-12-20 13:49] wsalesky opened #1085 "RDF endpoint"
Currently uses the controller, would like to use restxq, encountering some errors.

[2018-01-07 02:10] wsalesky opened #1087 "Updates for new version of eXist"

[2018-01-10 14:59] wsalesky opened #1088 "SPEAR updates"
Update functions on SPEAR browse and search pages, for better/faster processing.

[2018-01-22 03:52] wsalesky opened #1089 "RESTXQ bug"
RESTXQ code does not set accept headers correctly for JSON output. Problem reported by user attempting to use API via Java.

[2018-01-24 14:27] wsalesky commented on #1089
Not actually a RESTxq problem, the problem was in the Java code.

[2018-01-24 14:27] #1089 closed

[2018-02-01 17:54] wsalesky commented on #1078
Error in rdf generations:
err:XPST0081 No namespace defined for prefix dct:source [at line 35, column 2] In function: tei2rdf:create-element(xs:string?, xs:string?, xs:string*, xs:string?) [183:37:/db/apps/srophe/modules/lib/tei2rdf.xqm] tei2rdf:relations(item()*, item()*) [332:9:/db/apps/srophe/modules/lib/tei2rdf.xqm] tei2rdf:make-triple-set(item()*) [378:20:/db/apps/srophe/modules/lib/tei2rdf.x

[2018-02-01 17:55] wsalesky commented on #1078
http://localhost:8080/exist/apps/srophe/sparql/update-rdf.xql?action=initiate&collection=bibl
Error in rdf generation
err:FORG0001 An empty string is not a valid lexical representation of xs:QName. [at line 35, column 2] In function: tei2rdf:create-element(xs:string?, xs:string?, xs:string*, xs:string?) [183:37:/db/apps/srophe/modules/lib/tei2rdf.xqm] tei2rdf:relations(item()*, item()*) [332:9:/db

[2018-02-06 20:36] #1085 closed

[2018-02-06 20:37] #1087 closed

[2018-02-06 20:37] wsalesky commented on #1078
@dlschwartz I'm going to close this. We can open new issues if we run into specific problems with the RDF

[2018-02-06 20:37] #1078 closed

[2018-02-06 20:38] #1083 closed

[2018-02-07 16:46] davidamichelson opened #1090 "Extra white space in RDF relation label generation"
See https://github.com/srophe/srophe-data-rdf/blob/dda77153346cce47e27435dacc7c9c21420d391f/rdf/srophe/spear/syriaca-org-spear-119-10.rdf#L4

[2018-02-07 17:11] davidamichelson opened #1091 "Change to RDF Serialization"
In event factoids, get rid this serialization forschema:location:
//div/@uri | schema:location | //div/listEvent/event/desc//placeName/@ref | n/a

[2018-02-07 17:31] davidamichelson commented on #1091
New serialization for all modules including SPEAR and Gazetteer etc.

all | //div/@uri | dcterms:hasFormat | @uri/html, @uri/tei, @uri/ttl, @uri/RDF

[2018-02-07 17:52] davidamichelson commented on #1091
Two new serialization for sources of the RDF and factoid:

all | //div/@uri | dcterms:isPartOf | rdf:resource="http://syriaca.org/spear/URI" |   |   | derived from teiHeader//publicationStmt/idno@type="URI"(with /tei removed)

all | //div/@uri | dcterms:source | rdf:resource="http://syriaca.org/work/URI" |   |   | (may be multiple) derived from teiHeader//sourceDesc ALL URIs with http://syriaca.or

[2018-02-08 17:37] wsalesky commented on #1090
Will resolve with the next run of the RDF data dump.

[2018-02-08 17:37] #1090 closed

[2018-02-08 17:56] wsalesky commented on #1091
@davidamichelson @dlschwartz
For the new sources (the above comment.)
Do I include the work URIs in the relation element? Both? Just passive?
RE: https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/John_Ephesus_Lives_26.xml#L91

Thanks!

[2018-02-08 18:12] #1012 closed

[2018-02-08 18:47] dlschwartz commented on #1091
@wsalesky We only want to grab this xpath: //sourceDesc/p/title/@ref. I can ensure that this is in every sourceDesc, regardless of whether or not there is a containing relationship. The goal is ultimately to remove the listRelations from the sourceDesc: https://github.com/srophe/srophe-app-data/issues/730#issuecomment-363198171. I'll do that once we have everything we need in the works RDF. Thanks

[2018-02-08 18:47] wsalesky commented on #1091
Thanks for the clarification.

[2018-02-15 17:46] wsalesky opened #1092 "SPARQL and d3js visualizations."

[2018-02-16 15:54] dlschwartz opened #1094 "Recaptcha"
@wsalesky, on all modules of dev except SPEAR and MSS I get the following pop-up any time I try to access a record: "Cannot contact reCAPTCHA. Check your connection and try again." I just have to click "OK" to bypass to the record but it would be nice if we could fix this. Thank you.

[2018-02-16 16:11] dlschwartz opened #1095 ""See all records" not working"
@wsalesky The "See all records" button in NHSL for showing containing works does not seem to be working. I've checked work/10541, work/10543, and work/9501. The first two are new works and I thought it might be a problem with the data but I couldn't see anything off. I checked 9501 because it used to work. Turns out it no longer does.

I was about to submit this when I noticed another (related?) p

[2018-02-16 16:20] dlschwartz opened #1096 "abstract in search results"
@wsalesky and @nathangibson I'm not sure what's causing this, data or app, so I'm just writing this up here. A search for "severus letters" turns up his letters (which is great!) but some of the abstracts appear in the results and some only get the first letter of the abstract. I checked the data and can't see a difference in how the encoding of the abstract is structured, so I don't think it's a

[2018-02-16 16:22] wsalesky commented on #1096
@dlschwartz @nathangibson looks like an app bug to me. Due to nested content. Should be easy to resolve.

[2018-02-16 16:23] wsalesky commented on #1095
@dlschwartz interesting (by which I mean, oh no!) I will take a look, this is most likely related to the dct: namespace switch.

[2018-02-16 16:25] nathangibson commented on #1095
For me, the "See all" works on work/9501 ... if you give it about 15 seconds to load! And once it loads the URIs in that popup look correct.

[2018-02-16 16:33] dlschwartz commented on #1095
Weird, the "See all" on work/9501 now works and in that long list shows the correct URIs. However, for the three preview works that appear on the main page of work/9501 above the "See all" button, the containing work URI (9501) appears on each of those.

[2018-02-19 04:00] wsalesky commented on #1095
Okay, this should be displaying correctly and also should be faster. Let me know if you are still experiencing slow load times.

[2018-02-19 04:00] #1095 closed

[2018-02-19 13:30] wsalesky commented on #1096
This seems to have been resolved with this commit : c9ab23544724aed58e199a5d4f88e73e672cdfa8

[2018-02-19 13:30] #1096 closed

[2018-02-19 13:49] wsalesky commented on #1094
@davidamichelson The dev server needs to be registered with reCAPTCHA, I wonder if the address is  wrong and that is why we are getting the error?

[2018-02-19 13:51] wsalesky commented on #1091
@dlschwartz This line causes trouble when outputting RDF from SPEAR:
https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/John_Ephesus_Lives_55.xml#L304

[2018-02-19 15:52] dlschwartz commented on #1091
@wsalesky This is an editing problem as in, I haven't yet finished editing the workshop contributions from last spring. In a way, all of SPEAR is draft data as I keep tweaking the data model. However, some of the drafts are more drafty than others.  I know there are a few places where we don't have URIs where they are required, etc. Perhaps your transform can handle when data is missing but not wh

[2018-02-19 15:56] wsalesky commented on #1091
It can not handle the invalid namespaces. You can just comment that line out and it will run fine, and the data will still be there, holding a place. Thanks for the fix! Looks like everything else is running okay.

[2018-02-19 15:58] dlschwartz commented on #1091
Got it. I've actually added a relationship to fix this. It's one we needed.

[2018-02-19 15:59] wsalesky commented on #1091
Even better!

[2018-02-19 16:00] dlschwartz commented on #1095
Looks great! Thanks.

[2018-02-19 16:39] wsalesky opened #1098 "Bug in SPEAR advanced browse"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=advanced

Can't group on multiple values for group-by source. (Facet issue)

[2018-02-21 16:40] davidamichelson commented on #1094
Done

[2018-02-21 16:40] #1094 closed

[2018-04-15 14:39] wsalesky opened #1099 "Update RESTXQ to use content negotiation module."
This will also fix issues with SPARQL endpoint.

[2018-04-23 13:53] dlschwartz opened #1101 "Replace IDHMC logo with CoDHR logo"
We should change all IDHMC logos on landing pages to CoDHR logos. It's not pressing though. Thanks.
![codhr-logo](https://user-images.githubusercontent.com/4984270/39130831-ad4fe38e-46d3-11e8-980e-49ac5f0d0143.png)

[2018-04-24 21:30] dlschwartz commented on #1101
I forgot to add that the link should also change, throughout Syriaca.org but also on e-GEDSH. It's now http://codhr.tamu.edu. Thanks.

[2018-04-25 01:13] wsalesky commented on #1101
Added to e-GEDSH, Syriac Corpus, Syriaca.org

[2018-04-25 01:13] #1101 closed

[2018-05-07 10:52] nathangibson opened #1102 "eXist error on bibl/2275 and bibl/2276 (dev)"
@wsalesky I get the following error when I try to go to bibl/2275 or 2276 on dev server. (They work on production.) Is this a problem with the app or data? I don't see any XML validation errors.

[code]

[2018-05-07 12:38] wsalesky commented on #1102
Fixed. @nathangibson That was an xquery issue.

[2018-05-07 12:38] #1102 closed

[2018-06-07 16:57] wsalesky opened #1103 "How to encode personGrp"
@dlschwartz We need a way to encode personGrp to distinguish them from person factoids in SPEAR RDF. Any thoughts?

[2018-06-07 17:46] dlschwartz commented on #1103
@wsalesky foaf:group should work fine: http://xmlns.com/foaf/spec/#term_Group. Do you have an idea of how to implement it? I'd have to think about that. (I'm in my LOD course right now, discussing databases actually.)

[2018-06-07 17:52] wsalesky commented on #1103
I was thinking of using rdf:type. An example:
`http://syriaca.org/spear/119-13 rdf:type foaf:group`
in addition to
`http://syriaca.org/spear/119-13 rdf:type syriaca:personFactoid`

[2018-06-07 17:58] dlschwartz commented on #1103
In that context, would it be best to use syriaca:personGrpFactoid? Am I right that what you write above would basically assert that the factoid is a group then what we want to assert is that it is a factoid that contains data about a personGrp?

[2018-06-07 18:03] wsalesky commented on #1103
Hum, yes, that might be right. And/Or perhaps we need to add the foaf:group to the actual person factoid instead?

[code]

[2018-06-07 18:08] dlschwartz commented on #1103
I think that would be a good approach. Would we then want to add this where relevant

http://syriaca.org/person/# rdf:type foaf:person

[2018-06-07 18:10] wsalesky commented on #1103
currently the have lawd:Person should we change it?

[2018-06-07 18:21] dlschwartz commented on #1103
Oh that's right. No, if we have lawd:Person we should keep that.

[2018-06-07 18:23] wsalesky commented on #1103
okay, so I will just add the `rdf:type foaf:group` Now I just have to figure out how to query that correctly.

[2018-06-07 18:23] #1103 closed

[2018-06-23 01:56] #1099 closed

[2018-07-10 21:27] dlschwartz opened #1104 "Taxonomy categories not displaying"
@wsalesky With the push of the newly transformed taxonomy TEI records to dev, the categories tab has stopped working: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/taxonomy/browse.html?view=categories. It only lists languages and then when you select that only three of the 27 languages in the taxonomy appear. Interestingly, things seem to be working correctly in the advanced browse tab (my

[2018-07-13 02:04] wsalesky commented on #1104
The browse categories tab uses `tei:entryFree[@subtype='category']` this does not seem to be in the updated version of the data. Should I use the `tei:relation[ref="skos:broadMatch"]/@passive` instead?

[2018-07-13 02:04] wsalesky commented on #1098
Irrelevant, as new browse is SPARQL based.

[2018-07-13 02:04] #1098 closed

[2018-07-13 16:22] dlschwartz commented on #1104
Of course, now I remember adding those in manually after the fact. I'll do that again and see how things go. Then I'll add that to the spreadsheet/xslt.

I trust the RDF generation wasn't looking at the subtype="category". It seems like the skos:broadMatch would be preferable and the subtype="category" was solely for the categories tab. Please correct me if I'm wrong about that.

Thanks Winona.

[2018-07-13 16:36] wsalesky commented on #1104
That is correct.

Sent from my iPhone

[2018-07-13 17:01] dlschwartz commented on #1104
I think this is all fixed (although I clearly have some work yet to do on my xslt!) Thanks Winona.

[2018-07-18 20:49] dlschwartz commented on #1104
@wsalesky There seems to be an additional problem I can't figure out. The taxonomy categories now appear which is why I closed this issue. However, when you select one of the categories and see all of the keywords nested inside of it, the URI's/links are for the category, not for the nested keyword. See http://wwwb.library.vanderbilt.edu/exist/apps/srophe/keyword/administration.

I spot-checked th

[2018-07-18 20:58] wsalesky commented on #1104
FYI Dan the server was restarted and it looks like we lost some data. I’m talking to Dale about it.

Sent from my iPhone

[2018-07-18 21:00] dlschwartz commented on #1104
Thanks Winona.

[2018-07-19 20:05] #1104 closed

[2018-07-30 13:21] wsalesky commented on #1091
I think this can be closed.

[2018-07-30 13:21] #1091 closed

[2018-07-30 13:21] wsalesky commented on #1092
Dev branch for this work: https://github.com/srophe/srophe-eXist-app/tree/spearSPARQL

[2018-07-30 14:41] dlschwartz opened #1105 "Dates display in SPEAR events results"
@wsalesky In the events results display in SPEAR, we get Gregorian and non-Gregorian dates appearing side-by-side. It would be great to tweak how these display. We should always display the text node of date calendar="Gregorian" as plain text and any other date should appear next to it in parentheses. Would it be possible to have this in the results section? Right now it appears correctly on the f

[2018-07-30 14:48] dlschwartz opened #1106 "Dates in SPEAR timeline"
@wsalesky It looks like we are catching all dates in the SPEAR timeline, regardless of calendar. When I look at the timeline bar on the events browse page, the highest date is 830. The only dates in SPEAR currently that go that high are dates according to the Seleucid calendar. I have been working on the schema for SPEAR in hopes of doing a bit of editing on the SPEAR documents over the next week

[2018-07-30 14:48] wsalesky commented on #1105
@dlschwartz The results page is directly from the RDF, so I will need to change how the RDF is generated and then rerun the page. I will do that after our meeting, shouldn't be a problem.

[2018-07-30 14:49] wsalesky commented on #1106
@dlschwartz okay. This is another case of RDF data tweaking.

[2018-07-30 14:56] dlschwartz opened #1107 "Names in relationship on aggregation page"
@wsalesky On the aggregation page we have URIs appearing instead of names in the relationships. Can we pull those names from our persons data and display them with a hyperlink to the URI?

[2018-07-30 14:58] dlschwartz commented on #1107
Oh wait, these might flag instances where we do not yet have persons records.

[2018-08-06 14:51] wsalesky commented on #1106
@dlschwartz I think this is fixed. (dev is down but it looks good locally. )

[2018-08-06 14:51] #1106 closed

[2018-08-06 14:51] wsalesky commented on #1105
Fixed. (May need to rerun RDF on dev when it is back up. )

[2018-08-06 14:51] #1105 closed

[2018-08-06 17:00] dlschwartz opened #1108 "LOD Box to SPEAR factoid pages"
@wsalesky Please add the LOD box to SPEAR factoid pages. Thank you.

[2018-08-06 22:14] dlschwartz opened #1109 "Factoid pages from Chron. Ed. not displaying"
@wsalesky Factoid pages from the Chronicle are not displaying. Might this be a problem with the links to the Corpus? A quick spot check of the other works suggest they're fine. Thanks.
![chonedevent](https://user-images.githubusercontent.com/4984270/43743590-12ec76ec-999c-11e8-8c60-b59425495812.JPG)
![chonedperson](https://user-images.githubusercontent.com/4984270/43743600-1b3e9500-999c-11e8-9f52-

[2018-08-07 12:52] wsalesky commented on #1109
@dlschwartz I think you just happened to hit the server when it was being restored. Should work now.

[2018-08-07 14:10] dlschwartz commented on #1109
@wsalesky Uh oh, now I get a different problem. The data isn't showing up at all.
![spear](https://user-images.githubusercontent.com/4984270/43781064-adedbb44-9a21-11e8-9a83-b16df7743f6d.JPG)

[2018-08-07 15:19] wsalesky commented on #1109
@dlschwartz Try now

[2018-08-07 15:19] #1109 closed

[2018-08-13 15:56] wsalesky opened #1110 "Missing map markers on dev maps."

[2018-08-13 16:10] #1110 closed

[2018-08-14 19:14] #1092 closed

[2018-08-15 02:11] wsalesky commented on #1108
@dlschwartz Added to the factoid pages: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/3020-16

Do you also want it on the aggrigate pages?
example: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/430

[2018-08-15 02:14] wsalesky commented on #1088
I think this can be closed.

[2018-08-15 02:14] #1088 closed

[2018-08-15 02:23] #3 closed, assigned to nobody

[2018-08-15 02:25] wsalesky commented on #280
@davidamichelson I think this can be closed.

[2018-08-15 02:25] #280 closed

[2018-08-15 02:26] wsalesky commented on #316
Done.

[2018-08-15 02:26] #316 closed

[2018-08-15 02:27] #327 closed

[2018-08-15 02:27] wsalesky commented on #342
We do not use PDF.

[2018-08-15 02:27] #342 closed

[2018-08-15 02:27] wsalesky commented on #361
Done

[2018-08-15 02:27] #361 closed

[2018-08-15 02:33] #459 closed

[2018-08-15 02:35] #516 closed

[2018-08-15 02:40] #837 closed

[2018-08-15 15:35] dlschwartz commented on #1108
@wsalesky Yes! Let's put it there too. Great idea. Thanks.

[2018-08-20 15:02] dlschwartz opened #1111 "Data counts in SPEAR"
@wsalesky There are a number of things that don't seem to be displaying correctly in the counts, or maybe they just aren't showing up in the display at all. I'm not sure how recent this is. I've thought that some things might be missing but I wasn't sure if it was a data problem or a bug. Now that this data is mostly cleaned it seems pretty clear it's either a bug or something I don't understand.

[2018-08-20 15:06] wsalesky commented on #1111
@dlschwartz I will take a look. It looks like a SPARQL problem to me. Maybe the wrong things are getting counted.

[2018-08-20 15:10] dlschwartz opened #1112 "work URIs in SPEAR"
@wsalesky The first bibl in this factoid is missing data because it points to a work URI instead of a bibl URI. The work URIs in SPEAR are place holders until we can get a proper URN and a text to point the URN to. We should simply drop these from the display and display only bibl elements that contain a bibl URI.

[2018-08-20 15:14] dlschwartz commented on #1111
Maybe, but there is also legacy data being visualized. It's complicated so I'll make another issue as I'm not sure how this relates to what I've done in this issue.

[2018-08-20 15:27] dlschwartz opened #1113 "Legacy data (?) in SPEAR"
@wsalesky The first thing I noticed is that the sex element data is still appearing and the trait type="gender" data is not appearing. This is the case even though there are no longer any sex elements in the tei. This appears to be the case only on the browse pages, which suggests a SPARQL problem. If you do a keyword search for female you get many hits.

Then I noticed the following oddity:
I jus

[2018-08-20 15:30] wsalesky commented on #1113
Hum, that seems to indicate a problem with the RDF generation. I think I will need to investigate this tonight.

[2018-08-20 15:35] dlschwartz commented on #1113
Oh, and I might not be updating the RDF correctly. I select "run" here (http://wwwb.library.vanderbilt.edu/exist/apps/srophe/sparql/update-rdf.html) and it doesn't give me much indication of anything happening. I've selected "run" a handful of times in the last three weeks. Perhaps I've never actually run anything.

[2018-08-20 15:45] wsalesky commented on #1113
I'm going to work on it tonight, after 8 EST. As for the update rdf, it takes a long time, and on the dev server gets a server timeout message, however, it does continue to run in the background after returning the error. So while not very informative on the dev server it is running. I suspect a combination of RDF generation problems and SPARQL issues. Hopefully I can get it all fixed tonight for

[2018-08-20 15:48] dlschwartz commented on #1113
Okay, thanks Winona!

[2018-08-21 01:28] wsalesky commented on #1112
@dlschwartz link to record?

[2018-08-21 14:18] dlschwartz commented on #1112
@wsalesky Ah, how did I forget my link?

Here's the xml: https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/John_Ephesus_Lives_56.xml#L434

Here's the current display: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/847-17

In some instances there are multiple bibl URIs but every factoid should have at least one bibl URI.

[2018-08-21 14:35] dlschwartz commented on #1111
@wsalesky Things are looking pretty good. I can't see counts though because the sources aren't showing up:
![sourcesspear](https://user-images.githubusercontent.com/4984270/44407888-d07c1a80-a524-11e8-8954-ceb6e5dd13fb.JPG)

Also, on the browse page, the persons and places are being moved to the end of the sentence:
![prose](https://user-images.githubusercontent.com/4984270/44408141-63b55000-a525-

[2018-08-21 14:39] wsalesky commented on #1111
@dlschwartz Still a work in progress, I ran into a nasty bug last night so I didn't get everything worked out as I wanted.

[2018-08-21 14:45] wsalesky commented on #1112
@dlschwartz can you screen shot and highlight the problem area? My brain needs some extra help today.

[2018-08-21 14:50] dlschwartz commented on #1111
@wsalesky Very good. I wasn't sure where things stood but thought I'd offer some feedback. Thanks!

[2018-08-21 14:59] dlschwartz commented on #1112
The circled bit is a display of the citedRange but not the work. Compare image below with the tei link above. Without a URN, it doesn't make sense to display the work or the cited range. I think we should simply not display any bibl element that doesn't have a syriaca.org/bibl URI.
![workuri](https://user-images.githubusercontent.com/4984270/44409827-ba705900-a528-11e8-83d6-0812a2fd5efe.JPG)

[2018-08-21 15:01] wsalesky commented on #1112
I see. I will take care of it.

[2018-08-21 17:27] wsalesky commented on #1111
@dlschwartz As an update, I have rerun the data but am still getting bad counts, and I can not figure out what is causing the malformed labels, they show up fine when I run them one at a time. So, still debugging. Sorry it is taking so long.

Also, I think a future development will be to split the facets out to make them run faster (each facet being a single sparql request, right now they are all

[2018-08-21 17:37] dlschwartz commented on #1111
@wsalesky Not slow at all Winona. I'm worried I'm taking you away from your kids on the last week of their summer break. We'll get this sorted. Thanks Winona!

[2018-08-21 17:41] dlschwartz opened #1114 "Taxonomy Link"
@wsalesky The link on the factoid page that would take you to the taxonomy says "The Syriac Gazetteer". Can that read "View entry in A Taxonomy of Syriac Studies"? Thanks.
![taxonomylink](https://user-images.githubusercontent.com/4984270/44418966-79d00a00-a53f-11e8-8123-5d67d9e2dd46.JPG)

[2018-08-21 18:59] wsalesky commented on #1114
@dlschwartz okay, this one is fixed.

[2018-08-21 19:04] wsalesky commented on #1113
@dlschwartz I think this one is fixed as well.

[2018-08-21 19:04] #1113 closed

[2018-08-21 19:04] wsalesky commented on #1112
@dlschwartz This one is fixed.

[2018-08-21 19:04] #1112 closed

[2018-08-21 19:16] wsalesky commented on #1111
@dlschwartz I think I now have the correct data. Just need to troubleshoot the SPARQL queries.

[2018-08-22 01:38] dlschwartz commented on #1111
@wsalesky Thanks! Things are looking great.

[2018-08-22 12:49] wsalesky commented on #1111
@dlschwartz I think it is fixed. However, the 'Persons' tab is a little odd. The facet counts are based on the number of person factoids, but the results just show the Person, so the counts look off if there are multiple matching factoids about a particular person. Do we want to show the factoids on this page instead of just the person?

Also, tomorrow I think I will try to speed up the facets I t

[2018-08-22 14:07] dlschwartz commented on #1114
@wsalesky One quick thing here, it looks like the link on "A Taxonomy of Syriac Studies" points to production instead of dev. I get a 404 error: Document /db/apps/srophe/keyword/councils/index.html not found

[2018-08-22 14:26] dlschwartz opened #1115 "Gender display"
@wsalesky You've worked some magic on the keywords to have English instead of URIs (not sure if you're pulling from the taxonomy or converting URIs in the app). Can we apply the same procedure to the Gender keywords that we've applied to the Occupation keywords in the image below? Thanks!

![keywords](https://user-images.githubusercontent.com/4984270/44469403-04bb0e00-a5ed-11e8-855b-8a52b050c484.J

[2018-08-22 14:34] wsalesky commented on #1115
@dlschwartz They are using the taxonomy records, I do not think there are records for the gender URIs. Can you add them? Or should I just display the last part of the URI.

[2018-08-22 14:38] wsalesky commented on #1111
@dlschwartz I need to do some more SPARQL experiments, I was aiming for option 2 but got some very odd results. I think step one is faster facets, step 2 will be to address this. I will probably hold off until next week unless you feel it is a real problem for your paper.

[2018-08-22 15:30] dlschwartz commented on #1115
@wsalesky Oh of course. I've pushed those to dev but I'm not sure the web hooks grabbed them.

[2018-08-23 11:09] wsalesky commented on #1114
@dlschwartz  Fixed.

[2018-08-23 11:09] #1114 closed

[2018-08-23 11:43] wsalesky commented on #1115
Fixed.

[2018-08-23 11:43] #1115 closed

[2018-08-23 15:53] dlschwartz opened #1116 "Search in Taxonomy"
@wsalesky I've found some issues with search in the taxonomy. I expect these are easy to fix but just so you know they aren't the highest priority. Thanks.

The search box at the top of all taxonomy pages doesn't seem to return any results. The same is the case for "Search Anywhere" in advanced search. (Am I right that these should perform the same search?)

The "Headword" search in advanced seems

[2018-08-24 13:16] wsalesky commented on #1116
@dlschwartz Thanks, I will take a look.

[2018-10-15 07:16] nathangibson opened #1118 "Error in API results"
On behalf of eKtobe:
The API is not functioning again. Last time I checked, it looked like it was spitting out results in a kind of XML although FF was expecting JSON. Not sure if that's the reason.
For questions, please reach out to the eKtobe team -- probably [Cyril Masset](https://www.irht.cnrs.fr/?q=fr/annuaire/masset-cyril) on the dev side and [André Binggeli](https://www.irht.cnrs.fr/?q=fr/a

[2018-10-15 07:18] nathangibson commented on #1118
I can't give an example since Syriaca appears down at the moment.

[2018-10-15 15:14] wsalesky commented on #1118
@nathangibson can you provide the link or specific API call?

[2018-10-16 13:18] wsalesky commented on #1118
@nathangibson Thanks for reporting this. I have fixed it on both sites.

[2018-10-16 13:18] #1118 closed

[2018-10-16 13:37] nathangibson commented on #1118
Thanks!

[2018-10-30 17:57] dlschwartz opened #1119 "White space in search results"
@wsalesky I noticed the following problem with name parts run together in the results of this search: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/search.html?q=ephrem. The name parts are all properly separated at http://syriaca.org/person/701.

![whitespace](https://user-images.githubusercontent.com/4984270/47739212-e0aa2780-dc42-11e8-95bf-9f9865067750.JPG)

I haven't found this i

[2018-10-30 18:10] wsalesky commented on #1119
@dlschwartz thanks, I will take a look.

[2018-11-08 20:41] davidamichelson opened #1121 "Add Markdown TOC plug in"
@wsalesky So we would like to start auto generating a table on contents for the Markdown Wikis on github when they render into HTML.

i.e. when https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer becomes https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer

https://github.com/jonschlinkert/markdown-toc

[2018-11-14 09:28] nathangibson opened #1122 "Incorrect page title for some modules"
In the new app, person entries (and perhaps some other entry types) are displaying "The Srophe web application" as the page title in the browser. This also affects the Zotero metadata.

E.g., http://syriaca.org/person/13 is incorrect but on dev it is correct: http://wwwb.library.vanderbilt.edu/person/13. Also it seems NHSL is displaying the title correctly: http://syriaca.org/work/1000.

[2018-11-14 09:52] nathangibson opened #1123 "Zotero metadata"
A wishlist & discussion item, also related to a request from Phil Forness regarding his future Homilies NHSL volume:

The metadata the Zotero plugin currently recognizes on Syriaca.org pages is minimal. It only captures the page title and URL, as a "web page", plus an HTML "Snapshot."

I have found that a useful way to enter Syriaca entries into Zotero is as a "book section" type. This has contain

[2018-11-14 13:50] wsalesky commented on #1122
@nathangibson Thanks I will take look.

[2018-11-15 12:54] nathangibson opened #1124 "URL rewriting for module/volume home pages"
URLs for module and volume home pages are working differently from the way they used to.

E.g., http://syriaca.org/persons and http://syriaca.org/authors show an XML file. With trailing slash, e.g., http://syriaca.org/authors/ they redirect to the less-than-pretty eXist path http://syriaca.org/exist/apps/srophe/authors/index.html.

Not sure if this is related but the page http://syriaca.org/nhsl/i

[2018-11-15 13:40] wsalesky commented on #1124
@nathangibson Thanks Nathan, I will take a look.

[2018-11-15 14:38] wsalesky commented on #1124
@nathangibson Is NHSL live? I thought it was not? That is a dev page on prod, because I know the Bible module is not live.

[2018-11-15 14:56] wsalesky commented on #1124
Resolved.

[2018-11-15 14:56] #1124 closed

[2018-11-15 14:58] wsalesky commented on #1123
@nathangibson Thanks, I think this would be a great addition.

[2018-11-15 15:03] #1122 closed, assigned to wsalesky

[2018-11-15 15:10] wsalesky commented on #1122
@nathangibson resolved. Thanks for catching that.

[2018-11-15 19:00] nathangibson commented on #1124
NHSL is supposed to be live as BHSE is part of it. It now looks correct. (The Biblical Works volume is not linked—it merely says “forthcoming.”) Thanks!

[2018-11-15 19:02] nathangibson commented on #1122
Thanks!

[2018-11-15 19:31] wsalesky commented on #1124
Okay. Sorry, it was actually just missing a link to the correct css.

[2018-12-10 15:52] wsalesky opened #1125 "Update spam filters."

[2018-12-10 18:25] wsalesky commented on #1125
@davidamichelson This should be fixed. Let me know if you still get spam.

[2018-12-10 18:25] #1125 closed

[2018-12-11 17:44] davidamichelson opened #1128 "For discussion with editors"
When precision elements are used the dates indicated in the <precision> element(s) are used for search but do not currently display in the HTML. Should we include an asterisk or other note that indicates the lack of precision?

[2019-01-15 19:24] davidamichelson opened #1129 "Change to display of deprecated persName or placeName and other deprecation notes."
@wsalesky This is related to https://github.com/srophe/srophe-app-data/issues/744 and illustrated in record: http://syriaca.org/place/1471.html

We will to start adding @type="deprecated" directly as an attribute to persNames or placesNames that are deprecated.

For example:
Example of new encoding:
<placeName xml:id="name1471-5" xml:lang="en" source="#bib1471-3" type="deprecated">Antaracus</place

[2019-01-29 20:53] davidamichelson opened #1130 "HTML rendering of Confessions in place/78"
@wsalesky, this is not a bug to fix, so please don't change it just now even it if turns out to be a bug.

We are having trouble figuring out why the HTML for http://syriaca.org/place/78.html looks different from the XML (especially the dates).

Specifically, see this section in the HTML:
[code]
This does not seem to have the same data for dates as found here: https://github.com/srophe/srophe-app-

[2019-01-30 16:30] wsalesky commented on #1130
@davidamichelson The confessions HTML output is pretty knarly. The XSLT looks for a `t:event[@type='attestation']` which references the confession via a `t:link[@target="#CONFESSION-ID"]`, and then uses the date from the tei:event, not the dates in the `t:state[@type="confession"]`

So the data behind the first confession in place 78:

Is pulled from this line: https://github.com/srophe/srophe-app

[2019-03-07 12:05] nathangibson opened #1131 "API broken"
@wsalesky Sorry for the vague ticket. Don't have details yet.

[2019-03-07 15:21] wsalesky commented on #1131
RESTXQ was down after a restart. Run `xrest:register-module(xs:anyURI('/db/apps/srophe/modules/rest.xqm'))` to re-register restxq module.

[2019-03-07 15:21] #1131 closed

[2019-04-03 11:44] nathangibson opened #1132 "500 Server error on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/44/tei"
I get this error when I click the "TEI" source button

[2019-04-03 13:40] wsalesky commented on #1132
It is breaking because there are two idno = http://syriaca.org/person/44. One is in the depreciated directory. I added the correct filter.

[2019-04-03 13:40] #1132 closed

[2019-04-03 13:41] nathangibson commented on #1132
Thanks!

[2019-04-24 15:35] dlschwartz opened #1135 "language documentation page"
@wsalesky In our headers we currently refer to this file: http://syriaca.org/documentation/langusage.xml (the misspelling might be original to the address or might be a type on our part. Since we can't find either, we aren't certain).

Dan and I don’t see that file anywhere. But we do have https://github.com/srophe/srophe-eXist-app/blob/master/documentation/isostandards.xml which does the same thi

[2019-04-24 16:09] wsalesky commented on #1135
Fixed the link issue. I do not see any langusage.xml even in the old versions I have stashed on my laptop.

[2019-04-24 16:09] #1135 closed

[2019-04-25 17:40] dlschwartz opened #1137 "SPEAR text box label"
@wsalesky The label on the text box that brings text from the Corpus into the SPEAR factoid page reads "Text from The Oxford-BYU Syriac Corpus". Since the name has changed, could we change that to "Text from The Syriac Corpus"? Thanks.

[2019-04-26 12:36] wsalesky commented on #1137
Sure

[2019-04-26 12:36] #1137 closed

[2019-04-26 14:07] dlschwartz commented on #1137
Thanks @wsalesky

[2019-04-29 15:55] dlschwartz opened #1138 "title and buttons cut off"
@wsalesky At certain screen sizes, like my laptop, I get the title cut in half and the tei, print, etc. buttons totally missing. I normally look on my large screen in my office where everything looks fine. Unfortunately, it's best to grab screen shots from a smaller screen and then I'm missing things. Thanks.
![title](https://user-images.githubusercontent.com/4984270/56909142-413ce480-6a6d-11e9-86

[2019-04-29 17:33] wsalesky commented on #1138
@dlschwartz Thanks I will take a look.

[2019-04-29 17:52] #1138 closed

[2019-04-29 19:07] dlschwartz commented on #1138
Thanks!

[2019-05-03 15:27] dlschwartz opened #1139 "RDF button on entity pages"
@wsalesky @davidamichelson Let's discuss adding an rdf button to our pages.
![rdfButton](https://user-images.githubusercontent.com/4984270/57147755-e87f8b80-6d8d-11e9-8100-97f665ef1117.JPG)

[2019-05-20 15:33] davidamichelson opened #1140 "Webhooks for Documentation"
@wsalesky I just pushed https://github.com/srophe/srophe-eXist-app/blob/master/documentation/editors.xml

But it has not updated at http://syriaca.org/documentation/editors.html

Should the webhooks do that?

[2019-05-20 15:34] wsalesky commented on #1140
@davidamichelson Yes, they should. Let me do some troubleshooting

[2019-05-22 16:35] wsalesky commented on #1140
I added it manually. There is a problem with webhooks on production.

[2019-09-17 15:44] #1140 closed

[2019-09-17 15:45] wsalesky opened #1141 "Remove Syriaca.org Drop Down Menu"
Remove submodules menu.

[2019-09-17 15:46] wsalesky opened #1142 "Add about pages and menu"
Add “About” Page Menu Drop Down with:

- Overview  (Link to CBSC About page)
- 		On this page: About, Team, and sponsors
- Contact (link to CBSC contact page)
- CSC @ HU (link to http://www.csc.org.il/)
- Documentation (Link to Syriaca.org Documentation Page)
-

[2019-09-17 15:46] wsalesky opened #1143 "Revise Advanced Search"
Place holder

[2019-09-17 15:47] wsalesky opened #1144 "Update Sponsors Logos"
“Project Partners” with Vanderbilt and TAMU Codhr and link to additional sponsors anchor on the CBSC Overview page

[2019-09-17 15:47] wsalesky opened #1145 "Update browse"
Browse pages:

- Sorted by Keyword (multiple languages eventually)
- Sorted by Author (multiple scripts)

Faceted Browse within Keyword and Author

- Publication Date
- Multiple Keyword/author combination (like in Spear)
- Types of Keyword (wait on this)
  - Ancient Author (person)
  - Place
  - Work

[2019-09-22 18:12] #1142 closed

[2019-09-23 15:10] davidamichelson commented on #1145
Current functionality to mirror is here: http://www.csc.org.il/db/browse.aspx?db=SB

[2019-09-23 15:17] davidamichelson commented on #1145
The browse by "heading" for the bibl module, will actually be browse by all Syriaca.org URIs tagged in the data (Keywords, Persons, MSS, Places, etc.). We will want to have a browse by all tags and also facet by person, place, etc.

Present just the tag/heading list and then when selected show results, with facet options on the side

[2019-09-23 15:23] davidamichelson commented on #1145
We need to decide on what this default browse is called: Heading, Topic, Subject, Tag

Let's go with "Subject"

Sub-categories are:
Topic
-Genre?
Persons
Places
Works
Historical Era
Historical Authors

Separate browse by "Publication Information"
Author
Historical Authors
Place of Publication
Date of Publication

[2019-09-23 21:04] wsalesky commented on #1145
@davidamichelson @dlschwartz is there a relation element in the bibl data linking to the keywords?

[2019-09-24 14:58] dlschwartz commented on #1145
@wsalesky I haven't really been involved in the Zotero export so I'm not really sure. @davidamichelson?

[2019-09-24 16:03] wsalesky commented on #1145
@davidamichelson Perhaps the Zotero script needs to be rerun, can you send me the zotero info for the correct Zotero group? I will do all of this locally before moving it to the dev app.

[2019-09-25 18:49] dlschwartz opened #1148 "SPEAR visualization: general"
@wsalesky I'm not sure about the best plan for approaching this rebuild so I'm just going to jump in with a series of issues. This first one will contain helpful links, some changes to SPEAR data, and some reminders I think might be helpful.

The xml files are here: https://github.com/srophe/draft-data/tree/master/data/spear/SPEAR_updates/tei

In case it's helpful to see the schema, it's here: htt

[2019-09-25 19:05] dlschwartz opened #1149 "SPEAR visualization: landing page"
@wsalesky I'm thinking that what we want here is something more like gazetteer landing page than the old SPEAR landing page. In particular, I'm not sure there's much value in a list of all factoids, especially since you only see a fraction of them without having to advance at the bottom. However, I would still like to use of tabs that persist at the top of every page so users can navigate easily.

[2019-09-25 19:13] dlschwartz opened #1150 "SPEAR visualization: browse persons"
@wsalesky This page should contain a list of all the person URIs contained in SPEAR.

The name listed should be the Syriaca headword from the person record and the list should be alphabetized by that Syriaca headword in the person record. It would be great to grab English and Syriac when available.

A link on each of those names should take users to a page aggregating all data in SPEAR about that

[2019-09-25 19:15] dlschwartz opened #1151 "SPEAR visualization: person aggregation page"
@wsalesky I've generally liked the person aggregation pages you've produced in the past. I hope that code is still around and you can just use it as is. That seems like a great place to start at least.

[2019-09-25 19:20] dlschwartz opened #1152 "SPEAR visualization: browse events"
@wsalesky This page should contain a list of all the events in SPEAR.

The link on each factoid should take users to the individual factoid pages.

[2019-09-25 19:24] dlschwartz opened #1153 "SPEAR visualization: browse relations"
@wsalesky This page should contain a list of all the events in SPEAR.

The link on each factoid should take users to the individual factoid pages.

[2019-09-25 19:26] dlschwartz opened #1154 "SPEAR visualization: browse places"
@wsalesky This page should contain a list of all the place URIs contained in SPEAR.

The name listed should be the Syriaca headword from the place record and the list should be alphabetized by that Syriaca headword in the person record. It would be great to grab English and Syriac when available.

A link on each of those names should take users to a page aggregating all data in SPEAR about that pl

[2019-09-25 19:28] dlschwartz opened #1155 "SPEAR visualization: place aggregation page"
@wsalesky I've liked the place aggregation pages you've produced in the past. I hope that code is still around and you can just use it as is. That seems like a great place to start at least.

[2019-09-25 19:41] dlschwartz opened #1156 "SPEAR visualization: browse persons page facets"
@wsalesky This is where things have always gotten messy. I trust we want to keep this along the left hand side. I'm probably getting too greedy here (please tell me if I am!) but might we be able to have faceted browse by:
- gender: [sample code](https://github.com/srophe/draft-data/blob/master/data/spear/SPEARdataTypes#L269)
- ethnicity: [sample code](https://github.com/srophe/draft-data/blob/mas

[2019-09-25 19:43] dlschwartz opened #1157 "SPEAR visualization: browse events page facets"
@wsalesky Again, potentially messy. Can we try to allow users to facet on keyword URIs? These keywords are located on @ana attributes on the event element: [sample code](https://github.com/srophe/draft-data/blob/master/data/spear/SPEARdataTypes#L329).

[2019-09-25 19:46] dlschwartz commented on #1156
<div type="factoid" xml:id="factoid-7" resp="#ktorabi #dschwartz">
                <idno type="URI">http://syriaca.org/spear/3012-7</idno>
                <listPerson>
                    <person>
                        <persName ref="http://syriaca.org/person/2416"/>
                        <trait type="gender" ana="http://syriaca.org/keyword/female">
                            <note type="desc

[2019-09-25 19:47] dlschwartz commented on #1156
<div type="factoid" xml:id="factoid-23" resp="#ktorabi">
                <idno type="URI">http://syriaca.org/spear/10510-23</idno>
                <listPerson>
                    <person>
                        <persName ref="http://syriaca.org/person/3218"/>
                        <trait type="ethnicLabel" ana="http://syriaca.org/keyword/syrian">
                            <note type="desc"><

[2019-09-25 19:47] dlschwartz commented on #1156
<div type="factoid" xml:id="factoid-4" resp="#ktorabi">
                <idno type="URI">http://syriaca.org/spear/794-4</idno>
                <listPerson>
                    <person>
                        <persName ref="http://syriaca.org/person/1524"/>
                        <state type="sanctity" ana="http://syriaca.org/keyword/saints">
                            <note type="desc"><persNam

[2019-09-25 20:04] dlschwartz opened #1158 "SPEAR visualization: browse relations page facets"
@wsalesky Again, potentially messy. Let's try to allow users to facet on relations keywords, but just the keywords located the [@ref attribute](https://github.com/srophe/draft-data/blob/master/data/spear/SPEARdataTypes#L365) on the relation element. For this faceted browse we won't include the keywords on the [@type attribute](https://github.com/srophe/draft-data/blob/master/data/spear/SPEARdataTy

[2019-09-25 20:33] dlschwartz opened #1159 "SPEAR Visualization: @resp on Factoid pages"
@wsalesky I've always thought these looked good. I would like to add two things that we've never done before. I'll use separate issues.

Every div has a @resp attribute [[link to example](https://github.com/srophe/draft-data/blob/master/data/spear/SPEARdataTypes#L9)] with one or more pointers to the person responsible for the factoid. A full name is listed in the header of each document and the co

[2019-09-25 20:41] dlschwartz opened #1160 "SPEAR Visualization: Notes on Factoid pages"
@wsalesky It is possible for factoids to contain one or more discursive notes where the encoder can make comments and highlight things like errors in the primary source text. This has been in the data for some time but never visualized. See [example here](https://github.com/srophe/draft-data/blob/master/data/spear/SPEARdataTypes#L407). These notes nest directly under div. They can be treated like

[2019-09-25 20:46] dlschwartz opened #1161 "SPEAR Visualization: Linked data to the right of the page."
@wsalesky All of the links on the browse pages and the aggregation pages should keep users in SPEAR. The links on the right should take users out of SPEAR to other modules. I believe this can all come from stuff you've already built for person URIs, place URIs, and keyword URIs. I've liked what you did in the past in this regard. I hope this is pretty straightforward. Please let me know if there a

[2019-09-25 20:48] dlschwartz commented on #1148
Here is a link to the [data types file](https://github.com/srophe/draft-data/blob/master/data/spear/SPEARdataTypes) I link to in a number of the issues on data visualization. This should contain an example of each type of person factoid, event factoid, and relation factoid. I thought it might be helpful to have this all in one place.

[2019-09-26 14:56] wsalesky commented on #1141
@wsalesky  Done (locally).

[2019-09-26 14:56] wsalesky commented on #1144
@wsalesky done (locally)

[2019-10-01 13:28] wsalesky commented on #1152
@dlschwartz how would you like these ordered?

[2019-10-01 14:29] dlschwartz commented on #1152
@wsalesky If I recall correctly, we used to have a default view with the timeline visible and the list of events laid out chronologically. It should be fine to do that same thing again.

Then we had the option to view them in text order. Now I'm trying to figure out what text order should mean since we have so many texts, and more coming. In the spirit of keeping things simple, I would suggest we

[2019-10-01 16:48] wsalesky opened #1162 "Issue with relationship display when nested in other types of factoids"
Issue with relations nested in events.
example:
[code]

[2019-10-01 18:19] wsalesky commented on #1150
@dlschwartz Any facets on this browse?

[2019-10-01 18:21] wsalesky commented on #1150
@dlschwartz never mind, I see it is a different issue.

[2019-10-01 18:21] wsalesky commented on #1150
@wsalesky  - done pending approval

[2019-10-03 14:36] wsalesky commented on #1154
@dlschwartz No facets? Do you want a map?

[2019-10-03 14:54] dlschwartz commented on #1154
@wsalesky I think a map would be great! Thanks for thinking of it. The best option I can think of for faceting on places would be keywords used in the same factoid. A person search for persons appearing in the same factoid as a place would be a possibility as well. Give me a minute to think on this. Thanks.

[2019-10-03 15:01] dlschwartz commented on #1154
@wsalesky I just looked at the advanced search on the Gazetteer. I trust we can use Gazetteer data to allow browse by place type. I think that would be a nice feature. It would be fantastic to have this along with a search by related person box (like on the Gazetteer search page) that would return all the places appearing in the same factoid as the person URI searched for. Thanks Winona.

[2019-10-03 15:48] wsalesky commented on #1154
We could put the type filter right on the map like we are doing for The Beth Qaṭraye Gazetteer.
See:
<img width="1396" alt="Screen Shot 2019-10-03 at 11 46 47 AM" src="https://user-images.githubusercontent.com/1168206/66142569-ac1db900-e5d3-11e9-83d2-ce540cf71922.png">

[2019-10-03 16:17] wsalesky commented on #1160
@dlschwartz Is there a SPEAR record I can look at that has notes encoded?

[2019-10-03 16:18] wsalesky commented on #1159
@dlschwartz Any preference where you would like the name to show up? At the bottom of the factoid? Top? Any specific formatting?

[2019-10-03 16:25] dlschwartz commented on #1160
@wsalesky

Un-typed note: https://github.com/srophe/draft-data/blob/master/data/spear/SPEAR_updates/tei/3038.xml#L387

Typed note: https://github.com/srophe/draft-data/blob/master/data/spear/SPEAR_updates/tei/794.xml#L352

[2019-10-03 16:27] dlschwartz commented on #1154
@wsalesky In theory this would be great. I'm guessing everything in the Beth Qaṭraye Gazetteer has coordinates. I'm not sure what the percentage is, but many places in the Syriac Gazetteer do not. This might be best over on the side and used to sort the full list of place types rather than just those with coordinates.

[2019-10-03 16:29] wsalesky commented on #1154
Sounds good.

[2019-10-03 17:55] dlschwartz commented on #1159
@wsalesky Let's put it at the bottom, like we would expect in an encyclopedia article. It will need some introduction though. How about: "This data collected by n1, n2, and n3" as needed. Feel free to play around with this a bit if what I'm suggesting looks odd for whatever reason. Thanks.

[2019-10-04 13:48] wsalesky commented on #1160
@dlschwartz I have added this, I think we may want to change the display so it adds a footnote to the note with a link to the bibl element, currently (with the default stylesheets) it is outputting as:
<img width="772" alt="Screen Shot 2019-10-04 at 9 45 18 AM" src="https://user-images.githubusercontent.com/1168206/66212437-e8aceb80-e68b-11e9-9c1f-598d058b5eb5.png">

[2019-10-04 14:39] wsalesky commented on #1159
Note to self: Added.

[2019-10-04 14:41] wsalesky commented on #1158
@dlschwartz how would you like the keyword facets sorted? Alphabetical or numeric (keywords with the most hits appearing first)?

[2019-10-04 14:42] wsalesky commented on #1157
@dlschwartz how would you like keywords to sort? (See question on relations browse page issue)

[2019-10-04 14:43] wsalesky commented on #1156
note to self: done

[2019-10-04 14:53] wsalesky commented on #1154
Note to self: links on maps will have to be changed to go to SPEAR entry.

[2019-10-04 14:54] wsalesky commented on #1153
note to self: done

[2019-10-04 14:57] dlschwartz commented on #1160
@wsalesky I like what you've made here and the suggestions for development as well. Thanks.

[2019-10-04 15:00] dlschwartz commented on #1158
@wsalesky I think numeric would be great. It will immediately show what the sources in the database emphasize. Let's do it that way. Thanks for asking.

[2019-10-04 15:00] dlschwartz commented on #1157
@wsalesky numeric (see answer on relations browse page issue).

[2019-10-04 15:38] wsalesky opened #1163 "SPEAR - keyword aggregation page"

[2019-10-07 16:11] wsalesky commented on #1163
Fixed

[2019-10-07 16:11] #1163 closed

[2019-10-07 16:36] wsalesky commented on #1152
@wsalesky note to self - it would be useful to have links to factoids on the timeline.

[2019-10-07 23:29] wsalesky commented on #1149
@dlschwartz do you have any images or anything else you would like to see on the landing page? I can probably move my changes over tomorrow, but I don't have anything on the landing page currently.

[2019-10-07 23:43] wsalesky opened #1164 "Sources?"
@dlschwartz do we need a browse for sources? There is one currently, also, without it there is no way to link to the sources, should we add a link into the factoid or aggrigate pages?

[2019-10-08 14:12] dlschwartz commented on #1164
@wsalesky I probably should have raised this when I was making issues. My thinking on this has evolved and I'm waffling a bit on how to navigate this. I certainly don't want to emphasize the single source approach to factoids. Factoids from a single source aren't much more than a peculiar kind of index of that source. We enter the world of prosopography when we aggregate factoids from multiple sou

[2019-10-08 14:50] wsalesky commented on #1162
Need to pass relationship data to XSLT or move SPEAR display into XQuery.

[2019-10-08 15:14] wsalesky opened #1166 "Issues with relationship sentence"
See: http://localhost:8787/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2032

Some names are not showing up.

[2019-10-08 15:17] dlschwartz commented on #1149
@wsalesky I still like the one on the current landing page but maybe we should use it differently. I would be happy with the same layout as the Gazetteer but with [this image](https://upload.wikimedia.org/wikipedia/commons/d/da/Moqimu_mosaic_Edessa.jpg) replacing the map.

I also found these images ([1](https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Funerary_mosaic_Louvre_AO22917_n01.jp

[2019-10-08 15:32] wsalesky opened #1167 "More relationship display bugs"
See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/18

[2019-10-08 15:33] wsalesky opened #1168 "Display issue in events"
http://localhost:8787/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/3058-18

[2019-10-11 19:35] dlschwartz opened #1169 "Names variants in SPEAR"
@wsalesky it looks like the app assigns a name variant to a person provided that the person's URI appears anywhere inside //personGrp//persName or //person//persName. This means that the name variant "James, the brother of Jesus" would get assigned as a name variant both for James and for Jesus. Instead the app should only assign the name as a variant for the URI in the @ref attribute on the persN

[2019-10-11 19:51] dlschwartz opened #1170 "Non-gregorian dates"
@wsalesky on the browse events page, the non-Gregorian dates show up correctly: "28 October A. D. 457 (28 Teshri I A. Gr. 769)". However, they don't show up correctly on the factoid page, i.e. there's no parentheses around the non-Gregorian part. Example: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/8559-344

The parentheses also don't appear

[2019-10-11 19:55] dlschwartz opened #1171 "Calculated dates"
@wsalesky The calculated dates have the note appearing in line on event browse, timeline, and factoid page. Example of the latter: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/8559-72. I believe we're still working out how to handle notes but this should be added to the list.

[2019-10-11 20:27] dlschwartz opened #1172 "Source errors in dates"
@wsalesky dates are hard. When there is an error in a date, we've collected the error in a sic element and the correction in a corr element. See: https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/8559.xml#L1331.

I'm not sure what to do with this. Can you think of any way to visualize this as is? If not, I could move the sic element down to the note (see below). It separates it fro

[2019-10-11 21:04] dlschwartz opened #1173 "Change "more" to "see factoid page""
@wsalesky it seems that some of the data types have a link to the factoid page that reads "more" while most of them have "See factoid page".

Here is one link: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201

I see it on occupations and social ranks but it may appear elsewhere.

[2019-10-11 21:11] dlschwartz opened #1174 "Birth date and death date not showing in person aggregation page"
@wsalesky I don't see examples of birth place and death place appearing in the "Person factoids about ...." section on a person aggregation page.

Death
HTML: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/13
TEI: https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/8559.xml#L3796

Birth
HTML: http://wwwb.library.vanderbilt.edu/e

[2019-10-11 22:18] dlschwartz opened #1175 "aggregation page appears even if there is no data in SPEAR"
@wsalesky the app creates an aggregation page for any person URI that exists in our person data even if there is no spear data about that person. Most users aren't likely to do what I did, which is take an aggregation page URL and replace the person number. Is there an easy fix for this? If not, let's not worry about it. Also, when we implement a search by person URI we'll want to make sure it doe

[2019-10-14 22:28] wsalesky commented on #1166
This is because the get-related.xqm uses titles, some of these do not have an english name in the title. Example: http://syriaca.org/person/2032/tei

[code]

The title for the HTML page is constructed by grabbing the english headword. This may slow down the name script. Needs testing.

[2019-10-14 23:14] wsalesky commented on #1166
Fixed. (Ish)

[2019-10-14 23:22] wsalesky commented on #1175
@dlschwartz what do you think should happen here? A page that says 'No SPEAR data on this person' ? A redirect to a 404?  Something else?

[2019-10-14 23:54] wsalesky commented on #1174
@dlschwartz How do we want dates in a `tei:choice` element to display? See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/13

[2019-10-14 23:57] wsalesky commented on #1173
Fixed!

[2019-10-14 23:57] #1173 closed

[2019-10-15 13:58] dlschwartz commented on #1175
@wsalesky I hate to have a 404 error. The "No SPEAR data on this person" might be the best option. I think people are unlikely to type in a URI but they could do. I do this for element pages in the TEI guidelines all the time. It's a very handy shortcut. Thanks.

[2019-10-15 15:03] dlschwartz commented on #1174
@wsalesky I think on the aggregation page we should just have "Ephrem died on 9 June 373". And actually, the aim of the factoid page is to present a human readable version of the data so there as well I believe we would want the same. For serialization into RDF we'd get into the `tei:choice` element.

[2019-10-15 15:21] dlschwartz commented on #1166
@wsalesky I reopened this because I think this might be a data problem and not a problem that the app needs to address. I don't think there should be any persons who lack a syriaca-headword with an xml:lang="en". @davidamichelson and @jsaintlauren can you weigh in on this. The example Winona sites is a saint. I think we need to offer at least a transliteration of the Syriac if not some other stand

[2019-10-15 16:07] wsalesky commented on #1166
@dlschwartz The records (or at least the few I checked) do have an en-gedsh xml:lang tag, but no English headword in the title. The lack of an English headword in the titleStmt was tripping up the script. (Just as a clarification.)

[2019-10-15 16:30] dlschwartz commented on #1166
@wsalesky that's what I thought. I believe it is the case that every SBD record must have a `<persName xml:lang="en" syriaca-tags="#syriaca-headword"/>` and every Gazetteer record must have a `<placeName xml:lang="en" syriaca-tags="#syriaca-headword"/>`. Other xml:lang values are optional but this data must appear in every record as far as I'm aware. Those lacking it need to have it added. @davida

[2019-10-15 16:34] wsalesky commented on #1174
Fixed.

[2019-10-15 16:34] #1174 closed

[2019-10-15 16:54] wsalesky commented on #1175
Fixed.

[2019-10-15 17:00] wsalesky commented on #1168
@dlschwartz This is a problem in the data, there are no spaces before and after the persName element.
<img width="776" alt="Screen Shot 2019-10-15 at 12 59 02 PM" src="https://user-images.githubusercontent.com/1168206/66852762-addc6a80-ef4b-11e9-9751-2d26a91c102d.png">

[2019-10-15 17:16] wsalesky commented on #1175
Just found an issue in this. See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/18

Note to self: Need to test if there are any factoids in each of the aggrigate types.

[2019-10-15 17:41] dlschwartz commented on #1168
@wsalesky thanks. I had noticed that and fixed some of it but need to do a systematic fix. Thanks.

[2019-10-15 18:08] wsalesky commented on #1170
Fixed.

[2019-10-15 18:08] #1170 closed

[2019-10-15 18:11] wsalesky commented on #1171
@dlschwartz  I will just suppress the note in the description, so it only appears once, does that work for you?

[2019-10-15 18:12] wsalesky commented on #1172
@dlschwartz Why don't we leave the code as is and see if I can get the display how you would like. What is the preferred output of the first bit of code?

[2019-10-15 18:23] wsalesky commented on #1175
Fixed again.

[2019-10-15 18:23] #1175 closed

[2019-10-15 18:36] dlschwartz commented on #1172
@wsalesky this is really tricky. This isn't particularly elegant but it gets everything in there.
"In 44 B.C. [not 46/5 B.C. (A. Gr. 266)] Augustus became King of Rome."
Combined with the note "The author has apparently mistaken the date of Augustus' accession." this should be clear enough. Also, the Syriac text (and eventually English translation) will also get sucked into this page so the user c

[2019-10-15 18:37] dlschwartz commented on #1171
@wsalesky yes, that sounds correct. Thanks.

[2019-10-15 18:40] dlschwartz commented on #1171
@wsalesky FYI, the "\" shouldn't be there. I'll remove it and push to Github.

[2019-10-16 14:09] wsalesky commented on #1169
Fixed.

[2019-10-16 14:41] wsalesky commented on #1172
fixed.

[2019-10-16 14:41] #1172 closed

[2019-10-16 14:43] wsalesky commented on #1150
@dlschwartz please close the visualization issues, if they meet expectations.

[2019-10-16 14:44] wsalesky commented on #1151
@dlschwartz please close the visualization issues, if they meet expectations.

[2019-10-16 14:44] wsalesky commented on #1153
@dlschwartz please close the visualization issues, if they meet expectations.

[2019-10-16 14:45] wsalesky commented on #1157
@dlschwartz please close the visualization issues, if they meet expectations.

[2019-10-16 14:45] wsalesky commented on #1158
@dlschwartz please close the visualization issues, if they meet expectations.

[2019-10-16 14:45] wsalesky commented on #1159
@dlschwartz please close the visualization issues, if they meet expectations.

[2019-10-16 14:45] wsalesky commented on #1161
@dlschwartz please close the visualization issues, if they meet expectations.

[2019-10-16 14:57] wsalesky commented on #1167
Partially corrected. Removed event relationships from aggrigate pages. (Error noted above)

Now need to add a relationship sentence to event pages.

[2019-10-16 15:02] dlschwartz commented on #1150
@wsalesky Looks great, thanks!

[2019-10-16 15:10] dlschwartz commented on #1154
@wsalesky I'm getting some bugs in results here. Some of the place types show a count on the main browse page but then nothing appears when I select it. An example is "Synagogue" but there are others. Also, in some cases the count shows a different number from what appears when that place type is selected. See "Church" in this example.
![placeBrowse02](https://user-images.githubusercontent.com/498

[2019-10-16 15:12] dlschwartz commented on #1150
@wsalesky oops, one more. Can gender, sanctity, and occupation facet? Thanks.

[2019-10-16 15:36] dlschwartz commented on #1153
Thanks @wsalesky

[2019-10-16 15:36] #1153 closed

[2019-10-16 15:42] dlschwartz commented on #1155
@wsalesky similar to the person aggregation page, we've lost some data here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/572.
![placeAggregation](https://user-images.githubusercontent.com/4984270/66935434-9364c880-f001-11e9-81b4-638377aec522.JPG)

[2019-10-16 15:45] dlschwartz commented on #1156
@wsalesky I referenced this in another issue but these options don't currently offer faceted browse. Thanks.

[2019-10-16 15:45] dlschwartz commented on #1157
Thanks @wsalesky

[2019-10-16 15:45] #1157 closed

[2019-10-16 15:49] dlschwartz commented on #1159
Thanks @wsalesky

[2019-10-16 15:53] dlschwartz commented on #1159
@wsalesky sorry, I just saw something here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/847-18. With multiple names, there is a space between the name and the comma.

[2019-10-16 16:11] dlschwartz commented on #1168
@wsalesky I fixed this. I'll close this but if you see anything else that I missed I'd appreciate it if you could let me know. Thanks.

[2019-10-16 16:11] #1168 closed

[2019-10-16 16:19] wsalesky opened #1176 "Links in events panel on aggrigate pages are not going to SPEAR."
Example record: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/10

[2019-10-16 16:20] wsalesky commented on #1151
Fixed.

[2019-10-16 16:20] #1151 closed

[2019-10-16 16:26] dlschwartz opened #1177 "Facoid page, pull text from Corpus using URN"
@wsalesky can we pull text from the Corpus using URN and display it on the factoid page? These are bibl elements with type="urn".
https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/8559.xml#L100
Thanks.

[2019-10-16 16:36] wsalesky commented on #1154
Thanks I will take a look.

[2019-10-16 16:48] #1167 closed

[2019-10-16 22:04] wsalesky commented on #1177
@wsalesky Note to self, need to use ajax to load this (make sure CORS is enabled).

[2019-10-16 22:11] wsalesky commented on #1159
Fixed.

[2019-10-16 22:11] #1159 closed

[2019-10-20 18:28] wsalesky commented on #1177
@wsalesky Note: works beautifully locally but throwing an error on dev.

[2019-10-21 16:16] dlschwartz opened #1178 "Person/place search box"
@wsalesky please add faceted search boxes to the events browse and the relations browse pages. On events, search by person and place would be great. On relations, only person would return results.

I looked at the advance search page on the Gazetteer: http://syriaca.org/geo/search.html. It requires someone to enter in the entire URI. Might it be possible to auto populate the search box with the "h

[2019-10-21 21:17] wsalesky commented on #1176
Fixed.

[2019-10-21 21:17] #1176 closed

[2019-10-21 21:22] wsalesky commented on #1158
Fixed

[2019-10-21 21:22] #1158 closed

[2019-10-21 22:10] wsalesky commented on #1154
Inconsistent capitialization in place types. Facet code now accounts for this.

[2019-10-21 22:10] #1154 closed

[2019-10-21 23:32] wsalesky commented on #1155
@dlschwartz Fixed. There are no person factoids referencing places, that box should not show up at all.

[2019-10-21 23:32] #1155 closed

[2019-10-21 23:34] wsalesky commented on #1150
Same as: https://github.com/srophe/srophe-eXist-app/issues/1156

[2019-10-21 23:34] #1150 closed

[2019-10-28 22:59] wsalesky commented on #1178
Added

[2019-10-28 22:59] #1178 closed

[2019-10-28 23:05] wsalesky commented on #1156
Closing this, just so I can keep track of things

[2019-10-28 23:05] #1156 closed

[2019-10-28 23:05] wsalesky commented on #1148
Closing.

[2019-10-28 23:05] #1148 closed

[2019-10-29 12:59] wsalesky commented on #1149
@dlschwartz What do you think of this updated home page: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/index.html

[2019-10-29 13:47] #1162 closed

[2019-10-29 13:47] #1161 closed

[2019-11-01 21:03] davidamichelson opened #1180 "Right to Left Text in Arabic or Syriac in a Quote or Desc can we have the quotation marks and footnotes wrap on the other side (like in Arabic not English)"
Let's discuss on Monday

[2019-11-04 15:55] dlschwartz opened #1181 ""browse path" showing up on browse pages"
@wsalesky At the top of each browse page we get some version of this "browse path" statement.
![browsePath](https://user-images.githubusercontent.com/4984270/68135450-4762c080-fee9-11e9-9a7b-c08047e697c6.JPG)

[2019-11-04 15:58] dlschwartz opened #1182 "Browse places, alphabetical lists"
@wsalesky The browse places page doesn't seem to change when selecting a letter of the alphabet.

[2019-11-04 16:06] dlschwartz opened #1183 "Delete "Place URI" on browse relations page"
@wsalesky The browse relations page has a box for "Person URI" and one for "Place URI". It looks like the "Place URI" box actually searches person URIs. I think this should be deleted though because I can't figure out what a search for place URIs in relations would return.

[2019-11-04 16:21] davidamichelson opened #1184 "Restructure use of facets in the App"
Please investigate and

1. Take 5 hours to fix the facet issue as a stop gap. Bill half to Tracy?

2. report back a time frame to restructure and redeploy (docker)  a long term solution?

[2019-11-04 16:30] davidamichelson commented on #1180
Put on hold for right now.

[2019-11-04 16:57] davidamichelson opened #1185 "Copyright information in SPEAR footer"
Currently reads:
 Creative Commons License This work is licensed under a Creative Commons Attribution 3.0 Unported License.
Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.

[2019-11-05 16:29] dlschwartz opened #1186 "replace hover label on advanced search"
@wsalesky please replace the hover pop-up on the down-arrow for the advanced search. It reads "Select font" but should read advanced search.

[2019-11-05 16:32] dlschwartz opened #1187 "Remove Syriac keyboard"
@wsalesky since SPEAR only displays Syriac drawn from the Gazetteer and SBD, I don't believe searching in the search bar for Syriac text will return anything. I've tested it a bit and that seems to be the case. I think we should remove the Syriac keyboard tab.

[2019-11-05 16:33] dlschwartz opened #1188 "Label SPEAR "Beta""
@wsalesky since we're taking a streamlined approach to data visualization, I think a beta label is in order.

[2019-11-05 16:43] dlschwartz opened #1189 "Draft label on SPEAR factoid pages."
@wsalesky the data is currently has the labeled "draft": revisionDesc status="draft". I thought we used to use a "draft" label in the top left corner of records that had this status. That doesn't seem to be the case anymore: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/10. I think it's a good idea to include such a label on the factoid page. It would indicate "draft" if this status h

[2019-11-05 16:47] dlschwartz opened #1190 "remove image banner from the browse, aggregate, and factoid pages"
@wsalesky I kind of hate to do it but I think the mosaic banner on the browse and aggregate pages ought to come down.

[2019-11-05 16:49] dlschwartz opened #1191 "Browse tabs"
@wsalesky please make the browse tabs the same color but highlight and/or bold the text of the one that the user is looking at. The banner containing these should also be sticky.

[2019-11-06 18:24] wlpotter opened #1192 "Html displaying duplicate names in BethQatraye Gazetteer"
@wsalesky it looks like the transform is displaying English placeNames multiple times in the html
 For example,
https://bqgazetteer.bethmardutho.org/place/5237
"Baynūna" appears twice.

[2019-11-06 18:26] wlpotter commented on #1192
Wait, wrong place...oops! This is BQ specific, so see https://github.com/srophe/bethqatraye/issues/14

[2019-11-06 18:26] #1192 closed

[2019-11-08 16:57] dlschwartz opened #1193 "TEI link on factoid page"
@wsalesky I seem to recall that we used to have a TEI button on the factoid pages like we do on the other entity pages. Can we add that to the factoid pages? Thanks.

[2019-11-13 14:01] wsalesky commented on #1182
Fixed.

[2019-11-13 14:01] #1182 closed

[2019-11-13 14:09] wsalesky commented on #1193
Fixed.

[2019-11-13 14:09] #1193 closed

[2019-11-13 14:56] wsalesky commented on #1191
Fixed

[2019-11-13 14:56] #1191 closed

[2019-11-13 15:27] wsalesky commented on #1190
fixed

[2019-11-13 15:27] #1190 closed

[2019-11-13 15:36] #1189 closed

[2019-11-13 15:42] #1188 closed

[2019-11-13 15:47] #1187 closed

[2019-11-13 15:54] wsalesky commented on #1186
Fixed. Fixed on other pages and in master.

[2019-11-13 15:54] #1186 closed

[2019-11-13 16:00] wsalesky commented on #1183
Done

[2019-11-13 16:00] #1183 closed

[2019-11-13 16:01] wsalesky commented on #1181
Removed

[2019-11-13 16:01] #1181 closed

[2019-11-18 19:18] dlschwartz opened #1194 "Notes not showing up"
@wsalesky the child note type="desc" is not showing up in the following contexts on either the aggregation page or factoid page

birth/date OR choice/reg/date
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2245

death/date OR choice/reg/date
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person

[2019-11-18 19:27] dlschwartz opened #1195 "Factoid types, esp. birth and death"
@wsalesky birth/death place factoids each getting registered as both birth/death date and birth/death place:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/1546
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2032

I'm wondering if all factoids should have a subtype attribute: name, birth

[2019-11-18 19:44] dlschwartz commented on #1194
@wsalesky by the way, there are a couple types of data that are only in draft data and have not yet been moved over to the dev branch. Both langKnowledge and trait type="ethnicLabel" should work the same as the above. I'm not sure what will happen when these get moved over to dev.

Also, it might help to know that the child note is properly displayed with trait type="physical", trait type="gender"

[2019-11-21 14:48] wsalesky commented on #1195
@dlschwartz I can catch this in the XSLT. Taking a look today.

[2019-11-29 21:20] wsalesky commented on #1149
@dlschwartz do you want to make any changes to the home page or can I close this?

[2019-12-02 15:37] dlschwartz commented on #1149
@wsalesky I have a couple of things we can discuss in our meeting today. The one thing that should change for sure is the text. Can you cut the last paragraph and change the second-to-last paragraph to:

SPEAR provides scholars in Syriac Studies, Classics, Byzantine, and Islamic Studies access to a prosopgraphical database containing information on all of the individuals and groups appearing in th

[2019-12-02 15:39] dlschwartz commented on #1149
@wsalesky sorry, that's actually a bit repetitive of what's in the previous paragraph. Let me take another crack at this.

[2019-12-03 15:01] wsalesky commented on #1194
Fixed.

[2019-12-03 15:01] #1194 closed

[2019-12-04 01:55] wsalesky commented on #1184
Testing on Corpus. 12/03/2019

[2019-12-04 14:53] wsalesky commented on #1185
@dlschwartz How would you like the copyright info on SPEAR to read?

[2019-12-08 20:50] wsalesky commented on #1195
@dlschwartz I think this has been fixed.

[2019-12-08 20:50] #1195 closed

[2019-12-08 20:52] wsalesky commented on #1149
@dlschwartz Let me know about the updates for the home page. I think I am waiting for text.

[2019-12-09 19:19] dlschwartz commented on #1195
@wsalesky Thank you. I've added the subtype attribute on div in case you hadn't seen that. I did it late on Friday and forgot to send you a message about it. Thanks.

[2019-12-09 19:25] dlschwartz commented on #1149
@wsalesky Here's the text. Thanks!

Syriac Persons, Events, and Relations Project (SPEAR) is a prosopographical database providing information about persons and their relationships within the context of historical events. SPEAR uses a "factoid" approach to prosopography that captures data points asserted in historical texts. A factoid differs from a fact in that it indicates an assertion made by a

[2019-12-09 19:28] dlschwartz commented on #1149
@wsalesky I forgot to mention that I'm still thinking about the "browse sources" we discussed last week. I need some place to discuss the sources included and I would also like a place where I can mention the encoders who worked on a text. This is especially important since I would like to solicit contributions and would want to highlight these kinds of contributions. I will put some options toget

[2019-12-09 21:21] dlschwartz commented on #1166
@wsalesky once https://github.com/srophe/srophe-app-data/issues/783 is implemented, tested, and ready to be merged into dev, we will need to do the following:

Remove the auto-generated text and replace it with the hard-coded text.

Also, we are currently generating a relationship when a relation element appears in an event factoid, [example](http://wwwb.library.vanderbilt.edu/exist/apps/srophe/sp

[2019-12-11 16:44] davidamichelson opened #1196 "@subtype on TEI:location"
See issue: https://github.com/srophe/bethqatraye/issues/46

[2019-12-11 17:59] wsalesky commented on #1196
@wsalesky done for maps, will need to add to XSLT. When there is an answer on desired display.

[2019-12-11 18:09] dlschwartz opened #1197 "SPEAR on the Syriaca.org landing page"
@wsalesky on the Syriaca.org landing page the SPEAR box needs a short blurb and some sample data.

Text: “SPEAR is a prosopographical database providing information about persons and their relationships within the context of historical events.”

Sample data on dev: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201

Sample data on production

[2019-12-11 18:17] dlschwartz opened #1198 "Qualifier relationships"
@wsalesky  we will need to display the "qualifier" relationships. These are the one's with a namespaced value in column F here: https://docs.google.com/spreadsheets/d/1aDICk8lrQ7cospr2yVlMYLXavMbaTDxbgr1GDrqfWDw/edit?pli=1#gid=0.

These don't need to display in the list on the browse relations page but just on the factoid page itself.

I would suggest that after the display of the desc, there shou

[2019-12-11 18:21] wsalesky commented on #1198
@dlschwartz I was wondering how to handle that data. ;)

[2019-12-11 18:22] dlschwartz commented on #1185
@wsalesky For SPEAR this should read:

Creative Commons License This work is licensed under a Creative Commons Attribution 3.0 Unported License.
Copyright Vanderbilt University, Texas A&M University, and the Contributor(s), 2020.

[2019-12-11 23:57] wsalesky commented on #1198
@dlschwartz Added. Will show up when the new version of the data is loaded.

[2019-12-12 00:22] wsalesky commented on #1197
Done

[2019-12-12 00:22] #1197 closed

[2019-12-12 00:22] wsalesky commented on #1149
Added.

[2019-12-12 00:22] #1149 closed

[2019-12-16 19:20] davidamichelson opened #1199 "Change to Geography Schema for Use of Title in Note"
We would like to be able to use TEI:title inside TEI:note in a way that is similar to how we are using it here inside event: https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer#attestations-using-event-optional

Originally here: https://github.com/srophe/srophe-app-data/issues/784

[2019-12-16 19:22] davidamichelson opened #1201 "Change to Schema Allow Location to have @resp or @source"
Instead of requiring @source could we require @resp or @source

[2019-12-16 19:22] davidamichelson commented on #1201
See place 4160 in BQG

[2019-12-16 19:23] davidamichelson commented on #1201
[code]

[2019-12-18 16:41] dlschwartz commented on #1199
Done

[2019-12-18 16:41] #1199 closed

[2019-12-18 16:47] dlschwartz commented on #1201
@davidamichelson look [at line 1859 here](https://github.com/srophe/draft-data/blob/master/data/schemaPlaceDraftData/syriacaPlacesTEI.odd#L1859) and also at line 1862. I think this is what you want but I want to confirm. I will add the same schematron rules (_mutatis mutandis_) to <location> if you want the same rules to apply there. If you want something different, just let me know.

[2019-12-18 17:12] davidamichelson commented on #1201
Quick question, if I am correct it looks like your schema rule is putting this on TEI:placeName, but we would prefer to require it on TEI:location. Am I misreading?

[2019-12-18 17:17] dlschwartz commented on #1201
It currently exists in placeName. I'll also put it on location if that's what you want. Just make sure you want these rules: either source or resp is required, both source and resp cannot appear together.

[2019-12-18 18:03] davidamichelson commented on #1201
Okay, got it now.

Here is what we would like please.

1. Require either @source or @resp on TEI:location

2. But make a new change to placeName now that we are aware of a possible issue. @source or @resp should only be required on TEI:placeName when placeName is the child of TEI:place. When placeName occurs in a TEI:desc for instance we don't want to require @source or @resp (see http://syriaca.o

[2019-12-18 18:18] dlschwartz commented on #1201
@davidamichelson great. However, see https://github.com/srophe/draft-data/blob/master/data/schemaPlaceDraftData/syriacaPlacesTEI.odd#L1857. The context should already be set to require source or resp on placeName only when it's the child of place. Are you getting an error message when you use a placeName in a desc element?