[2016-08-08 12:20] wsalesky commented on #743
@nathangibson @davidamichelson @dlschwartz I think we should remove this.

[2016-08-08 12:20] #743 closed

[2016-08-08 12:21] nathangibson opened #744 "Record status label"
@dlschwartz @davidamichelson @jsaintlauren
I think I remember us discussing that since the datasets we're releasing now have not yet been reviewed by the editorial boards, we might want to visually indicate the status of each published entry on the page? Presumably this would be determined by something we mark in the revisionDesc status.

Sorry, I'm not finding any notes on this. We had suggested

[2016-08-08 12:23] nathangibson commented on #744
This could, for example, be something like this.
![record-status](https://cloud.githubusercontent.com/assets/3083452/17479575/96765a08-5d73-11e6-8339-92e814955477.jpg)

[2016-08-08 12:48] nathangibson opened #745 "Menu text alignment"
It looks to me as if the text for top menu items "Browse" "About" "Help" and "Contribute" is not aligned with the module icons and Syriaca.org drop-down in the top-right. E.g.,  http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bhse/index.html. It's small but noticeable. FF and Safari on Mac OS.

[2016-08-08 12:56] wsalesky commented on #745
Can you email me a screen shot?

[2016-08-08 12:56] nathangibson commented on #440
Raising this issue again now that we will be releasing new datasets. It's a little hard to tell how our new data will appear in Google results since the robots.txt for the draft server seems to (rightly) block Google crawling. But is there anything we know of that we should adjust before going live? Or do we just wait and see what happens once we've pushed to production and Google has time to craw

[2016-08-08 13:04] nathangibson commented on #440
The quality of the description for our current records on the production site seems to be mixed: https://encrypted.google.com/search?hl=en&q=%22abraham%20of%20the%20high%20mountain%22#hl=en&q=abraham+site:syriaca.org

Sometimes names and abstract are emphasized, as they should be. Other times it's grabbing bibliography, preferred entry citation, or even template text like "Timeline generated with.

[2016-08-08 14:11] nathangibson opened #746 "Do we need ".html" handling for other modules as in Gazetteer?"
@davidamichelson @dlschwartz
The Gazetteer identifies HTML pages using ".html" suffixes. So far as I understand, this is to be able to make valid RDF statements that distinguish between the entity itself and the page describing it. Currently, our dev server does not add ".html" to URLs, and it gives a 404 if you type one in (e.g., http://wwwb.library.vanderbilt.edu/person/13.html). Should this be

[2016-08-08 15:04] tacarlson commented on #742
For the Gazetteer, I would prefer not keeping it.  If anyone wishes to keep it, I would like to discuss it first.

I have no opinion regarding other modules.

________________________________
From: nathangibson <notifications@github.com>
Sent: Monday, August 8, 2016 6:47:54 AM
To: srophe/srophe-eXist-app
Subject: [srophe/srophe-eXist-app] Are we keeping or removing the dashboard for the new produc

[2016-08-08 19:25] wsalesky commented on #746
That must be an error on my part. I want users to be able to get the pages with or without the .html extension. I will take a look.

[2016-08-08 19:43] davidamichelson opened #747 "Tried to build .xar of dev branch, got error"
Error found while processing repo.xml: err:XPST0017 Function xrest:register-module() is not defined in module namespace: http://exquery.org/ns/restxq/exist [at line 18, column 1]

[2016-08-09 00:12] wsalesky commented on #747
Hum. I'm not able to reproduce that error. Can you make sure you have all the latest files?
Was this running ant, or when you were deploying the app to eXist?

[2016-08-09 01:09] wsalesky commented on #741
Thanks!

[2016-08-09 01:34] wsalesky commented on #724
@nathangibson  I loaded the NHSL records so you can track the progress on this ticket.

[2016-08-09 01:39] wsalesky commented on #724
@nathangibson what is the reason we are using `bibl/@type` rather then using `note/@type` for these?

[2016-08-09 02:44] wsalesky commented on #724
@nathangibson I have made a start. (Made it about halfway down the list. Will continue tomorrow.)
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/2501

[2016-08-09 02:46] wsalesky commented on #740
Here is the problem:
[code]

Now I can test to make sure the date is not empty, but I think it makes more sense to not have empty elements (unless they are meaningful).

Let me know how you would like to handle this one.

[2016-08-09 03:07] #739 closed

[2016-08-09 03:08] wsalesky opened #748 "Problem rendering svg icons in related persons menu"
See: this issue for example https://github.com/srophe/srophe-eXist-app/issues/739

[2016-08-09 05:17] nathangibson commented on #724
Thanks, looks like this is coming along great! Will send an explanation about `bibl/@type` later today.

[2016-08-09 05:19] nathangibson commented on #740
Hmm, yes. Actually, I just added the empty imprint and date yesterday to see if it would solve the problem. Also, it’s not valid TEI without them. Should we put “n.d.” inside the date element in the TEI? Or is there some better way to resolve this?

[2016-08-09 05:21] nathangibson commented on #741
I'm seeing both icons now. However, "authors" should be singular "author" and both of the links ("saint" and "authors") are broken :-(

[2016-08-09 11:37] nathangibson commented on #724
Basically, we have revised the data model for works with an eye to being able to serialize as RDF. `note/@type` + `bibl` seemed more verbose than we needed, plus we would like to use an RDF class on the bibl if possible. Do you see disadvantages to this? @davidamichelson anything to add?

[2016-08-09 12:53] wsalesky commented on #737
@nathangibson I don't see the comma, however I did remove the display of the xpath used for search (just in there for debugging and it slipped by me). Do you still see the comma?

[2016-08-09 12:58] wsalesky commented on #737
@nathangibson Never mind. I found the comma.

[2016-08-09 12:58] #737 closed

[2016-08-09 12:59] wsalesky opened #749 "Add sort options to global search"

[2016-08-09 13:03] wsalesky commented on #738
This will be self resolving once we package up the data for production. No SPEAR data will be deployed.

[2016-08-09 13:03] #738 closed

[2016-08-09 13:05] nathangibson opened #750 "Search with 0 results does not say "0 results""
The search on the dev server does not give any feedback on searches that return 0 results. E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/search.html?q=blah
Contrast this with the production Gazetteer, which has "Search results: 0 matches for Keyword: blah ."
http://syriaca.org/geo/search.html?q=blah

[2016-08-09 13:06] wsalesky commented on #741
Opps. Sloppy xpath. Fixed now.

[2016-08-09 13:06] #741 closed

[2016-08-09 13:28] wsalesky commented on #740
Okay. You can leave it as is, although if it is required then I think 'n.d' would be a more valid TEI, empty elements contain no meaning. I did however add a test for empty imprint/dates.

[2016-08-09 13:28] #740 closed

[2016-08-09 15:09] nathangibson opened #751 "text in search box is too large"
@wsalesky I hate to be putting so much on your plate, but I figure it's better to mention these things before the release. E.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/authors/index.html and http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/index.html
![syriaca_org__the_syriac_reference_portal](https://cloud.githubusercontent.com/assets/3083452/17521493/df7721c0-5e53-11e6-8fa

[2016-08-09 15:09] nathangibson commented on #751
or margins are too small

[2016-08-09 15:32] nathangibson opened #752 "random comma in browse results"
It fled here when you tried to exterminate it from the search results page!
e.g., http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?lang=en&sort=P
![syriaca_org__the_syriac_reference_portal](https://cloud.githubusercontent.com/assets/3083452/17522424/4b338cd4-5e57-11e6-9397-09e750e578f6.jpg)

[2016-08-09 16:07] nathangibson opened #753 "Error message underneath relations in person/1086"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1086 has the following error underneath the relations box:
"Caught error java:java.lang.IllegalStateException: Target host must not be null, or set in parameters."

[2016-08-09 19:00] nathangibson commented on #559
@wsalesky We have changed a bunch of anonymous record titles to have the above format in the title. E.g., for http://wwwb.library.vanderbilt.edu/person/1745 we have the record title "Anonymi 1745 — The two brothers from a monastery in Persia". But the header at the top of the page is displaying  "Anonymi" + URI number + Syriac headword instead of "Anonymi" + URI number + anonymous description. So

[2016-08-09 21:04] #753 closed

[2016-08-09 21:12] #752 closed

[2016-08-09 21:14] wsalesky opened #754 "Badly contained float on paging div in browse"
CSS fix
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html

[2016-08-09 21:24] wsalesky commented on #751
Thanks!

[2016-08-09 21:24] #751 closed

[2016-08-09 21:41] #750 closed

[2016-08-09 21:44] #749 closed

[2016-08-09 21:48] wsalesky commented on #742
I think they should be just for the dev server. Or perhaps moved to the about pages.

@tacarlson I have removed it from the Gazetteer:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe-prod/geo/index.html

[2016-08-09 21:53] #736 closed

[2016-08-10 01:56] #754 closed

[2016-08-10 02:15] wsalesky opened #755 "Duplication in imprint info in footnote"
See:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/78

[2016-08-10 02:22] wsalesky opened #756 "Missing known religious communities"

[2016-08-10 02:28] #756 closed

[2016-08-10 02:35] wsalesky opened #757 "Erroneous 3rd relationship listed: "Edessa contained (to 641)""
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/78

[2016-08-10 02:36] wsalesky opened #758 "Page title needs to remove em-dash"
See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/78

[2016-08-10 02:39] wsalesky opened #759 "Bug in popup for bibl links"
Need better margins, part of the text is cut off, see "external links".
See http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/124

[2016-08-10 02:40] wsalesky opened #760 "Bug in XSLT for record credit"
Credit on bibl/5 has an erroneous comma at the end of a line, and no completion to the question who coded the XML (see attached)

[2016-08-10 02:46] #758 closed

[2016-08-10 03:30] #759 closed

[2016-08-10 14:16] nathangibson opened #761 "Extra period after disambiguation note"
@wsalesky Does the XSLT add a period after `<note type='disambiguation'>`? I'm looking at http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1086 and there seems to be an extra one.

[2016-08-10 14:32] nathangibson opened #762 "Links to volumes on series pages (SBD & NHSL)"
@wsalesky @davidamichelson @dlschwartz  @jsaintlauren @tacarlson
To discuss today if there's time:
The "Gateway to the Saints" landing page already has a beautiful visualization of the two volumes it contains. However, for the other series landing pages ([SBD](http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html) and [NHSL](http://wwwb.library.vanderbilt.edu/exist/apps/srophe/nh

[2016-08-10 14:32] nathangibson commented on #762
Sorry, I meant tomorrow :-)

[2016-08-10 14:40] jsaintlauren commented on #762
Great idea!  Please put on agenda, nathan

On Wed, Aug 10, 2016 at 9:32 AM, nathangibson <notifications@github.com>
wrote:

[2016-08-10 21:23] #190 closed

[2016-08-10 21:50] wsalesky commented on #761
Interesting, it is only supposed to add the period if the note has no ending punctuation. I have removed it for now, but will have to go back and troubleshoot.

[2016-08-11 00:22] wsalesky opened #763 "no space between author and title in the last line of bibl list of q entries"
This is an xslt issue:
https://github.com/srophe/srophe-app-data/issues/539

[2016-08-11 00:25] #763 closed

[2016-08-11 01:18] #760 closed

[2016-08-11 01:48] #757 closed

[2016-08-11 01:49] wsalesky commented on #734
Seems to have resolved.

[2016-08-11 01:49] #734 closed

[2016-08-11 02:51] wsalesky commented on #724
These are ready for review/tweaking.
See sample record here:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/2501

[2016-08-11 02:55] wsalesky commented on #702
@davidamichelson I think this is ready to be closed. Please review and close if you agree. Thanks.

[2016-08-11 02:59] #727 closed

[2016-08-11 03:00] wsalesky commented on #723
@davidamichelson how does it look now?

[2016-08-11 03:05] wsalesky commented on #714
@davidamichelson How does this one look?

[2016-08-11 06:16] nathangibson commented on #724
Very cool! I’ll get back to you with details. Thanks so much!

[2016-08-11 06:19] nathangibson commented on #724
One thing is we’ll want the NHSL header instead of BHSE.

[2016-08-11 13:34] nathangibson commented on #724
This is looking really great. Thanks! Take a deep breath of satisfaction. Now ready for the firehose? If we need to prioritize which ones of these happen before Rome, let me know.
 1. Titles, author, etc. are showing great!
 1. Please use the NHSL header.
 2. The link to "Chronicle" (http://syriaca.org/work/2500) in the abstract:
  1. Can we make it an actual link?
  2. There's an extra period sho

[2016-08-11 14:25] wsalesky commented on #724
@nathangibson I think a list of priorities would be good. I'm going to work on a few other things today and will try to get back to this, but I am starting to feel a little bit of a time crunch!

[2016-08-11 14:27] wsalesky commented on #697
@nathangibson is this one that should happen before Rome?

[2016-08-11 14:32] nathangibson commented on #697
We were hoping so, but perhaps we should discuss today.

[2016-08-11 14:32] nathangibson commented on #697
Thoughts @jsaintlauren @davidamichelson ?

[2016-08-11 14:45] nathangibson commented on #724
Sure. It's almost good enough for me to demo as is. I would rate them as
Essential: 2, 11, 19
Would be great: 7, 9, 12
Would be nice: 5, 6, 8, 15, 16
Not important: the others

[2016-08-11 15:10] jsaintlauren commented on #697
I would say we could try, but I don't think it is as high of a priority as
other things that Winona has on her plate. :) Dave?

On Thu, Aug 11, 2016 at 9:32 AM, nathangibson <notifications@github.com>
wrote:

[2016-08-11 17:39] davidamichelson commented on #714
Notes: Bibliography style should not have parentheses. Footnote style should have commas instead of periods after author name.

[2016-08-11 17:39] davidamichelson commented on #714
Sample footnote for bibl/9

David Wilmshurst, The ecclesiastical organisation of the Church of the East, 1318-1913, Corpus Scriptorum Christianorum Orientalium, vol. 582; Subsidia, vol. 104 (Leuven: Peeters, 2000), pp: 53, 65, 361, 362.

[2016-08-11 17:40] #747 closed

[2016-08-11 17:42] wsalesky commented on #742
These will be just for dev.

[2016-08-11 17:45] nathangibson opened #764 "Clicking "Next" gives error"
When I"m on this page: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?start=25 and click "Next" I get this error

[2016-08-11 17:55] wsalesky opened #765 "Duplicate names in search results"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/search.html?q=aba+of+kashkar

[2016-08-11 17:58] wsalesky opened #766 "Bad spacing in names"
http://localhost:8080/exist/apps/srophe/person/14

[2016-08-11 17:59] nathangibson commented on #762
For now, @davidamichelson and I will edit the prose to include the info.

[2016-08-11 18:03] nathangibson commented on #744
We would like "under review" instead of "in review"

[2016-08-11 18:04] nathangibson commented on #744
This should apply to authors, saints, and BHSE.

[2016-08-11 18:04] nathangibson commented on #744
This is not essential before Rome.

[2016-08-11 18:06] davidamichelson opened #767 "Please add the corrections/revisions and is this record complete buttons to all modules"

[2016-08-11 18:11] davidamichelson commented on #767
Please add a record status button next to these. This button should read:

"Status: [Under Review]" or "[Draft]"

Or leave button off if that status = "published"

[2016-08-11 18:11] nathangibson commented on #767
https://github.com/srophe/srophe-eXist-app/issues/744

[2016-08-11 18:12] #744 closed

[2016-08-11 18:28] nathangibson commented on #766
Just so you know, the Syriac header has the same spacing issue as the English one.

[2016-08-11 18:33] wsalesky commented on #766
@nathangibson Thanks. When I have the fix up I will ask you to check the Syriac for me. These names seem to be giving me endless trouble!

[2016-08-11 18:44] wsalesky commented on #695
@davidamichelson Just wanted to let you know that I'm working on this. So far I have not found a way to include the full title and the icon without things getting out of wack. (Bad alignment between icon and text, and wrapping titles even with very small fonts.)

What about having the full title in the rollover section, where the short blurb and sample record show up, and the bottom icon and text

[2016-08-11 18:58] wsalesky commented on #766
@nathangibson Okay, take a look at the Syriac names please. If they look okay, you can close this.

[2016-08-11 19:00] #765 closed

[2016-08-11 19:12] #764 closed

[2016-08-11 20:07] wsalesky commented on #746
Opps, seem to have caused some issues with 'Works Cited' ...

[2016-08-11 20:13] #746 closed

[2016-08-11 20:20] nathangibson commented on #766
Looks great, thank you!

[2016-08-11 20:20] #766 closed

[2016-08-11 20:22] wsalesky commented on #766
Yay!

[2016-08-11 20:23] wsalesky commented on #714
Updated for series. There is an extra space before the citedRange, still trying to find where it is in the xslt.

[2016-08-11 20:25] wsalesky opened #768 "bibl pages load very slowly when there are a lot of related items"
Change to as persons 'Works by Ephrem in the New Handbook of Syriac Literature'
http://localhost:8080/exist/apps/srophe/person/13

With popup containing all citations.

[2016-08-11 20:26] wsalesky opened #769 "See all works by broken"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/13

[2016-08-11 20:37] nathangibson opened #770 "Please change "Manuscript Witnesses" to "Syriac Manuscript Witnesses" for BHSE and NHSL"
On work pages, please change the section header "Manuscript Witnesses" to "Syriac Manuscript Witnesses".

@jsaintlauren : @davidamichelson and I just discussed this re. NHSL and realized that we only list Syriac ms witnesses -- any other languages go in ancient versions. So this label would be clearer. Sound all right?

[2016-08-11 20:47] nathangibson commented on #724
We just looked over this and noticed the following additional things. I think these would fall into the "would be nice" category above, unless @davidamichelson thinks differently:
20. For Work Titles:
i. Could we sort by language before alphabetizing them? Syriac first, then English, then by language in alphabetical order of language code. (ar, de, fr, la, etc.)
ii. Can we try listing them without

[2016-08-11 21:31] #589 closed

[2016-08-11 21:33] davidamichelson opened #771 "TEI URIs for Deprecated Works should be eliminated without a redirect."
Is this real or a cache problem: http://wwwb.library.vanderbilt.edu/person/2001/tei

[2016-08-11 21:33] davidamichelson commented on #771
In anycase this can wait until after rome

[2016-08-11 21:42] davidamichelson commented on #695
@wsalesky Here are the missing sentences and models

Sentences:

SBD:  _The Syriac Biographical Dictionary_ is a multi-volume guide to persons related to Syriac culture or history.

Sample: person/779
Authors: _A Guide to Syriac Authors_ is a handbook of persons who wrote in Syriac or otherwise had an influence on Syriac literature.

Sample: person/13

[2016-08-12 07:31] nathangibson commented on #695
Ohh, I like your choice of SBD sample person :-)

[2016-08-12 11:54] #559 closed

[2016-08-12 12:05] nathangibson commented on #695
@davidamichelson What would you think about changing authors short description to read

("influenced" instead of "had an influence on")

Also, @wsalesky we should add "Example record:" above Ephrem like we have for the other modules.

[2016-08-12 14:45] davidamichelson commented on #755
This was resolved by https://github.com/srophe/srophe-eXist-app/issues/714#issuecomment-239280500

[2016-08-12 14:45] #755 closed

[2016-08-12 14:48] davidamichelson commented on #709
This can wait until after Rome, but my suggestion would be that we use the existing aleph icon but instead of the Syriaca.org text we put "srophe" in all lower case. We also recommend that partners who use the icon have it be a button that links to www.syriaca.org/srophe where we will have an about page about the app. How does that sound? Would LOGAR be interested in doing that? I will ask Steve.

[2016-08-12 14:53] davidamichelson commented on #723
Okay, it looks good to me!

@nathangibson Do we want to add it to the dev server caroussel?

[2016-08-12 14:55] davidamichelson commented on #714
@wsalesky It looks like this issue is done? Shall we close it?

[2016-08-12 15:06] davidamichelson commented on #699
Okay we have choosen option 3. I am taking this over and assigning it to me to get it to our partners.

[2016-08-12 15:09] davidamichelson commented on #697
Okay, this should wait until after Rome

[2016-08-12 15:15] davidamichelson commented on #771
Note to self, when we have .ttl URIs those should have specially crafted redirect or deprecated statement.

[2016-08-12 15:26] davidamichelson commented on #745
This is not very bad in my mind. Can be after Rome.

[2016-08-12 15:27] nathangibson commented on #723
Yes, please.

[2016-08-12 15:27] davidamichelson commented on #711
this image should come Monday

[2016-08-12 15:30] davidamichelson commented on #705
This is for after Rome.

[2016-08-12 15:43] davidamichelson commented on #704
Okay, we are down to just one record which is causing trouble here:

Title: “Whence Comes Your Holiness, Father?” On the Life of Malkha and John of Asia
Jan J. van Ginkel, "“Whence Comes Your Holiness, Father?” On the Life of Malkha and John of Asia," in G. J. Reinink and Alexander Cornelis Klugkist (eds.), After Bardaisan: studies on continuity and change in Syriac Christianity in honour of Profe

[2016-08-12 15:43] davidamichelson commented on #704
This can wait until after Rome

[2016-08-12 15:45] davidamichelson opened #772 "Bug in Bibl Browse"
When one selects browse by A-Z, please have sublist of A, B, C, as in the other modules.

[2016-08-12 15:46] davidamichelson commented on #702
Okay for the misplaced records that is now issue https://github.com/srophe/srophe-eXist-app/issues/704

[2016-08-12 15:48] davidamichelson commented on #772
Wait this is working now, but is empty.

[2016-08-12 15:49] davidamichelson commented on #772
Okay this is a bug and here is the issue:

This view has the letters: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/browse.html but no data

This view has the data but not the letters: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/browse.html?view=A-Z

[2016-08-12 15:52] davidamichelson commented on #702
Closing this and opening a few issues for after rome

[2016-08-12 15:52] #702 closed

[2016-08-12 15:53] davidamichelson opened #773 "Work on Bibl Module Sort Function"

[2016-08-12 15:53] davidamichelson opened #774 "Bibl Module "About this Online Entry""
Also check other documentation

[2016-08-12 15:54] #701 closed

[2016-08-12 15:55] davidamichelson commented on #696
I think this can wait until after Rome

[2016-08-12 15:58] davidamichelson commented on #635
This appears to be fixed.

[2016-08-12 15:58] #635 closed

[2016-08-12 16:04] davidamichelson commented on #632
@wsalesky yes could you please remove any blank cited ranges from any records?

But once that is done, we think there is some other problem with the bibls here:

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2596

same in

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2597 and higher.

[2016-08-12 16:04] davidamichelson commented on #632
They are not populating correctly.

[2016-08-12 18:58] nathangibson commented on #762
@davidamichelson What do you think about this for now for listing the volumes:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/nhsl/index.html

If this looks ok I can push it to the srophe-prod branch.

[2016-08-12 21:58] davidamichelson commented on #689
fixed

[2016-08-12 21:58] #689 closed

[2016-08-12 21:59] davidamichelson opened #775 "Not sure how to link to XML files from documentation page"
@wsalesky On this page: http://wwwb.library.vanderbilt.edu/documentation/training-materials.html

I want to link to these:
Blank Template File for Single Part Manuscripts
Blank Template File for Multiple Part Manuscripts

I have the path right I think but get this error:

HTTP Status 404 - Document /db/apps/srophe/templates/Blank-template-file-for-single-msPart-entries.xml not found

[2016-08-14 00:36] davidamichelson opened #776 "Bibl search"
This search: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/search.html?q=L%27Elam

should turn up this bibl, but doesn't:

Title: L'Elam: la première des métropoles ecclésiastiques
Jean Maurice Fiey, "L'Elam: la première des métropoles ecclésiastiques," Melto vol. 5 (1969)URI: http://syriaca.org/bibl/1341

Similarly:

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/search.htm

[2016-08-14 00:46] davidamichelson opened #777 "Bibl search results and browse lists"
For the bibl browse and for the search results lists, please display the bibl information using the new "biblography" preferred citation. Currently it uses the "footnote" xslt, but this means that there is no page or cited range information displayed.

If you can do this before Rome great, but if not that is okay.

[2016-08-14 14:51] wsalesky commented on #775
You co not have the correct path. Remove the first '/' to make the path a relative path.

[2016-08-14 22:23] davidamichelson opened #778 "Bug in SBD browse, double listing of some but not all persons"
See this problem here: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html (see screen shot)

And also in Q : http://wwwb.library.vanderbilt.edu/exist/apps/srophe/q/browse.html

but not in authors: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/authors/browse.html

From SBD:

![screen shot 2016-08-14 at 5 20 40 pm](https://cloud.githubusercontent.com/assets/3083773/17652

[2016-08-15 00:14] davidamichelson commented on #778
Looks like it is fixed now? I don't see the issue on refresh.

[2016-08-15 00:16] wsalesky commented on #778
Great. I reloaded the data.

On Sun, Aug 14, 2016 at 8:14 PM, David Michelson <notifications@github.com>
wrote:

[2016-08-15 00:17] #778 closed

[2016-08-15 08:31] nathangibson commented on #714
Bug in preferred citation for http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/2294. Editor names don't show. Perhaps has to do with more than 3 editors?

[2016-08-15 13:22] nathangibson opened #779 "http://wwwb.library.vanderbilt.edu/work/660 returns 404"
But record is here https://github.com/srophe/srophe-app-data/blob/dev/data/works/tei/660.xml and I don't see problems with it.

[2016-08-15 13:38] wsalesky commented on #779
Does not seem to be on the dev server... let me go find it.

[2016-08-15 13:44] wsalesky commented on #779
Found.

[2016-08-15 13:44] #779 closed

[2016-08-15 13:55] #777 closed

[2016-08-15 14:09] wsalesky commented on #776
So this is technically fixed, but our filter for diacritics does not filter single quotes. So this search: `l'imbroglio` works while this one: `l imbroglio` does not. I will have to investigate.

[2016-08-15 14:14] wsalesky commented on #770
@nathangibson example record please?

[2016-08-15 14:15] #761 closed

[2016-08-15 14:19] nathangibson commented on #779
Thanks!

[2016-08-15 14:23] nathangibson commented on #770
Sorry, clarification: This is the HTML section header "Manuscript Witnesses" inserted by the XSLT for _all_ `note[@type="mss"]` (BHSE) and `bibl[listRelation/relation/@type="mssWitnesses"]`

Applies to all records, but an example would be http://wwwb.library.vanderbilt.edu/work/910

[2016-08-15 14:41] wsalesky commented on #770
What about `@type="lawd:WrittenWork"` ?

[2016-08-15 14:43] nathangibson commented on #770
Yes. `@type="lawd:WrittenWork" should be the equivalent of `bibl[listRelation/relation/@type="mssWitnesses"]`

[2016-08-15 14:44] nathangibson commented on #770
So it's fine to just change it for whatever you have previously coded to be displayed under "Manuscript Witnesses"

[2016-08-15 14:45] #770 closed

[2016-08-15 15:34] nathangibson opened #780 "Error on person/3131"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/3131 gives this error

[code]

[2016-08-15 16:56] wsalesky commented on #780
There is a copy of this file here:
data/persons/tei/3131.xml

and here
data/persons/tei/saints/tei/3131.xml

The app expects the idno to be unique.

[2016-08-15 18:38] #711 closed

[2016-08-15 18:38] #742 closed

[2016-08-15 19:04] wsalesky commented on #724
@nathangibson What does xml:lang='tr' translate to?

[2016-08-15 19:09] wsalesky commented on #724
19. For the relations in the sidebar, can we visualize ref="dct:isPartOf" as "is part of"? Right now there's no relation heading. Also it looks like the sidebar grabbed the relation/desc text from other relations in the doc. ("With corrections from unspecified manuscripts. Facsimile.")

For this one, we only want to visualize the relation within the body, not all the bibl relation correct?

[2016-08-15 20:11] #632 closed

[2016-08-15 20:21] wsalesky commented on #772
Need to hide 'New search button'. Also need to fix which tab is 'active'

[2016-08-15 20:27] wsalesky opened #781 "SPEAR for Rome"
@wsalesky it would be great if we could get a list of persons to show up here: http://wwwb.library.vanderbilt.edu/spear/browse.html?view=persons. Ultimately we will want the link in that list to take the user to a page that aggregates all SPEAR information related to that person but for next week a list of all persons in SPEAR would be great. Thanks!

See:
https://github.com/srophe/srophe-app-data

[2016-08-15 21:03] nathangibson commented on #780
Thanks, @wsalesky . In that case, we'll resolve it in srophe-app-data repo.

[2016-08-15 21:13] nathangibson commented on #724
Turkish

[2016-08-15 21:16] nathangibson commented on #724
Correct, if I'm understanding you right. Please only visualize in the sidebar the listRelation/relations that are direct children of body/bibl. Alternatively, if it's easier, you could visualize any relations that aren't nested in additional bibls. (At this point the outcome should be the same.) Thanks!

[2016-08-16 00:52] #772 closed

[2016-08-16 00:57] wsalesky commented on #724
@nathangibson Do you want the NHSL banner only for NHSL? Or for all works, similar to how we use the SBD banner for all persons? (Note it is more complicated, ie not by Rome, to give BHSE and NHSL different banners).

[2016-08-16 00:59] wsalesky commented on #724
4. Editions are now sorted in document order. We can get fancier after Rome if you decide you want to.

[2016-08-16 01:18] wsalesky commented on #724
@nathangibson In other modules for relationships we use the name attribute in the way you are using the ref attribute. Is there a reason for the switch? Are they interchangeable?

[2016-08-16 01:43] wsalesky commented on #724
RE: 8. Edition 2 correctly uses the plural in the manuscript note ("witnesses") but incorrectly duplicates it. ("Edition from manuscript witnesses 8, manuscript witnesses 7").

Do these ever reference both a manuscript and an edition? If so, I need to leave the wording as above, if they will always be the same type then I can change it.

[2016-08-16 02:04] wsalesky commented on #724
@nathangibson I did a few updates tonight. I think this may be as far as I get before Rome. Let me know if you see any glaring issue.

[2016-08-16 02:05] wsalesky commented on #724
Note to self: lang tag seems problematic on Edition 7. XML is correct, so must be a XSLT issue.

[2016-08-16 03:08] #769 closed

[2016-08-16 03:29] wsalesky commented on #767
Testing on persons:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/11

We can make the 'Status' button more attractive, later.

[2016-08-16 04:56] davidamichelson opened #782 "Record: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1167"
Seems to crash the server

[2016-08-16 05:00] davidamichelson opened #783 "Bibl Module Preferred Citation"
There is a missing closing parens on this record's preferred citation:

 URI: http://syriaca.org/bibl/1340
Preferred Citation
Scher, Addai. Kitāb ašhar šuhadā' al-mašriq (Vies des saints martyrs d'Orient. Mossoul, 1900.

[2016-08-16 07:26] davidamichelson opened #784 "bibl element inside note @type="abstract" does not visualize."
see this
[code]
in http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2805/tei

[2016-08-16 12:25] wsalesky commented on #782
There are two tei:ptr elements within a single bibl element. Is this something I should anticipate, or is this incorrect?

[code]

[2016-08-16 13:12] nathangibson commented on #782
This is incorrect. I am removing the second ptr. This is probably the result of a script gone awry that duplicated the ptr, so this might not be the only instance.

[2016-08-16 13:14] wsalesky commented on #782
I can run a script to check for multiple ptrs

On Tue, Aug 16, 2016 at 9:12 AM, nathangibson <notifications@github.com>
wrote:

[2016-08-16 13:18] nathangibson commented on #782
Great!

[2016-08-16 13:29] davidamichelson commented on #782
Might be my fault sorry

What would an x path test be to find these?

[2016-08-16 13:33] nathangibson commented on #782
Perhaps //person/bibl[count(ptr) > 1] ?

[2016-08-16 13:35] wsalesky commented on #782
yes, that should work

On Tue, Aug 16, 2016 at 9:33 AM, nathangibson <notifications@github.com>
wrote:

[2016-08-16 17:41] wsalesky commented on #783
This is in the data:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/1340/tei

[2016-08-16 18:08] davidamichelson commented on #767
I will provide this text.

[2016-08-16 18:08] wsalesky commented on #767
Change Status 'btn' to 'badge' add to all modules

[2016-08-16 18:14] nathangibson commented on #762
Note to self: Make bigger and bolder and change to citation style.

[2016-08-16 18:28] #682 closed

[2016-08-16 18:29] davidamichelson commented on #695
Need prose for landing pages and image citations

[2016-08-16 18:30] nathangibson commented on #724
This is looking great! Should be fine now for Rome. I'll respond to your questions below just for your reference.

[2016-08-16 18:31] nathangibson commented on #724
Re. banner: We should keep BHSE banner on the BHSE works. We can discuss after Rome how to assign other works the proper banners.

[2016-08-16 18:32] davidamichelson opened #785 "Missing logos"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe-prod/bhse/index.html

Marquette and Bolandists

[2016-08-16 18:34] davidamichelson opened #786 "missing content"
[8/16/16, 1:32:45 PM] Winona Salesky: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/q/help.html
[8/16/16, 1:32:55 PM] Winona Salesky: and here
[8/16/16, 1:32:57 PM] Winona Salesky: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/q/contribute.html

[2016-08-16 18:35] nathangibson commented on #724
Re. `@ref` vs. `@name`: This is to comply with the recommendations of SAWS regarding RDF serialization. I should look into this more though.

[2016-08-16 18:53] nathangibson commented on #724
Re. 8: Well, yes, it's possible they might reference 2 different types. So in that case, can you just change this:

to this:
Edition from manuscript witness 8, manuscript witness 7

[2016-08-16 19:07] wsalesky commented on #724
RE 8. This will have to wait until after Rome, but I chose the wrong way to code it. :(
I assumed the same type.

[2016-08-16 19:07] #784 closed

[2016-08-16 19:11] nathangibson commented on #724
No problem. I didn't think of that until you mentioned it. All of this can wait until after Rome. I'm removing the milestone. Thanks so much -- this is in terrific shape for the short amount of time.

[2016-08-17 05:23] davidamichelson commented on #786
Just pushed changes to Dev for these captions

[2016-08-17 11:50] nathangibson commented on #780
Hmm, this seems to be fixed in srophe-app-data (https://github.com/srophe/srophe-app-data/issues/574) but still getting the same error. Is it possible that this commit https://github.com/srophe/srophe-app-data/pull/577 didn't get pushed to the server? Or is something else going on?

[2016-08-17 14:15] #762 closed

[2016-08-17 14:34] davidamichelson commented on #780
@nathangibson @jedwardwalters This may be due to an error in which two versions of this file were created. Jamey accidently created a 3131 but I deleted it here: https://github.com/srophe/srophe-app-data/pull/603

[2016-08-17 14:34] davidamichelson commented on #780
Nathan, could you check on this to resolve it please. Thanks!

[2016-08-17 14:39] nathangibson commented on #780
Actually, I think it's good. @jedwardwalters does http://wwwb.library.vanderbilt.edu/person/3031 look ok to you?

[2016-08-17 14:39] nathangibson commented on #780
It was changed to 3031 rather than deleted.

[2016-08-18 02:38] wsalesky opened #788 "email bug"
<exception>
<path>/db/apps/srophe/modules/email.xql</path>
<message>exerr:ERROR XPTY0004: The actual cardinality for parameter 2 does not match the cardinality declared in the function's signature: recap:validate($private-key as xs:string, $recaptcha-response as xs:string) item()*. Expected cardinality: exactly one, got 0. [at line 19, column 44, source: /db/apps/srophe/modules/email.xql]
In funct

[2016-08-18 07:21] davidamichelson commented on #788
What, why are you creating extra work for yourself :) at least wait for us
to find the bugs and request help

You are too wonderful

On Thu, Aug 18, 2016 at 4:38 AM, Winona Salesky <notifications@github.com>
wrote:

[2016-08-18 10:18] nathangibson opened #790 "404 on place records"
@wsalesky After the push to production, I'm getting a 404 on place records. E.g., http://syriaca.org/place/78.html and http://syriaca.org/place/78 both are 404.

@tacarlson We just pushed the dev app to production and are testing it before the Rome demo.

[2016-08-18 11:01] wsalesky commented on #790
Working on it.

Sent from my iPhone

[2016-08-18 11:11] wsalesky commented on #790
Just to clarify, they are still there:
http://syriaca.org/exist/apps/srophe/place/78

But there seems to be an issue with the redirect. Should be resolved shortly.

[2016-08-18 13:04] nathangibson commented on #790
Thanks!!

[2016-08-18 13:14] wsalesky opened #791 "Will need to discuss how to display SPEAR relation factoids in browse/search"

[2016-08-18 13:31] wsalesky commented on #790
Fixed by Dale.

[2016-08-18 13:31] #790 closed

[2016-08-18 14:44] #785 closed

[2016-08-18 14:58] wsalesky commented on #781
@dlschwartz Browse is mostly fixed. Some odd behavior in a few persNames and the relations do not show up correctly in the list. I will fix the graph first, then resolve the remaining browse issues. Should have everything done in time!

[2016-08-18 15:15] dlschwartz commented on #781
Great. Thank you Winona! I'm sure everything will come off really well.
Dan

On Aug 18, 2016 4:58 PM, "Winona Salesky" <notifications@github.com> wrote:

[2016-08-18 20:41] wsalesky commented on #781
Can you tell me your operating system and browse, so I can be sure to test the version you will be using on Sat. ?

Sent from my iPhone

[2016-08-18 20:44] dlschwartz commented on #781
Hi Winona,
Thanks for thinking of this. I use Chrome on a PC.
Thanks,
Dan

On Aug 18, 2016 10:41 PM, "Winona Salesky" <notifications@github.com> wrote:

[2016-08-19 05:06] davidamichelson commented on #781
As usual you are too thoughtful Winona!!!

[2016-08-19 05:19] davidamichelson commented on #781
Winona, when you are ready today could you please push new .xar files and that way we will have offline copies please

Thanks!

[2016-08-19 05:20] davidamichelson commented on #781
Oh by today, I mean Friday pm your time

[2016-08-19 10:35] nathangibson opened #792 "Please remove NHSL from publication"
@wsalesky Can we remove NHSL works from the published data? These are the ones in srophe-app-data/works/tei/nhsl/tei. This doesn't have to happen immediately.

[2016-08-19 10:36] nathangibson commented on #792
Just to clarify, we want http://syriaca.org/nhsl/index.html to remain live.

[2016-08-19 11:31] wsalesky commented on #781
New .xar files:
prod:
data :
https://github.com/srophe/srophe-app-data/tree/master/build/srophe-data-2.0.xar
app:
https://github.com/srophe/srophe-eXist-app/tree/master/releases/srophe-2.0.xar

dev
data:
https://github.com/srophe/srophe-app-data/tree/dev/build/srophe-data-1.25.xar
app:
https://github.com/srophe/srophe-eXist-app/tree/dev/releases/srophe-1.88.xar

On Fri, Aug 19, 2016 at 1:20 AM, Da

[2016-08-19 12:24] wsalesky commented on #781
@dlschwartz I have the relationships working now, but it is very slow, especially for someone like Severus of Antioch (aka person/51). One way to make this faster would be to not display any names on the graph itself, have either unlabeled nodes or have just the uris and then only fetch the names when the user clicks on the node. This would(should) vastly increase the speed.

What do you think?

[2016-08-19 12:38] wsalesky commented on #781
Spoke to soon. Working beautifully on my local machine and not on dev.

[2016-08-19 13:41] davidamichelson commented on #792
Actually we could leave those works but mark their status as Demo?

[2016-08-19 16:38] dlschwartz commented on #781
Winona,
We expect to be able to run this locally tomorrow. Also, I hope to have all
the relationships pre-loaded in separate tabs rather than generate the in
the moment. I think we are in great shape. Thank you so much! I really
appreciate all your efforts.
Thanks,
Dan

On Aug 19, 2016 2:38 PM, "Winona Salesky" <notifications@github.com> wrote:

[2016-08-19 16:44] wsalesky commented on #781
Okay, I have it working. The catch is that you must use the 'query' button. If you enter the uri and press return, it will clear the search not submit it. I will see if I can fix that, but it may not happen until after Rome.

I will load a new version of the dev app for deployment this afternoon so you have it. Please let me know if you install it and have trouble.
Thanks!

[2016-08-19 16:46] dlschwartz commented on #781
Perfect. Thank you.
Dan

On Aug 19, 2016 6:44 PM, "Winona Salesky" <notifications@github.com> wrote:

[2016-08-19 18:00] wsalesky commented on #791
How do we even link to the SPEAR factoids for a relationship... was looking at this one:
https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/SPEAR_Severus_Letters_3004.xml#L98

[2016-08-19 18:01] wsalesky commented on #792
Webhooks should now be working for production. You can edit them and let me know if they don't update. Or I can edit them at around 8 tonight.

[2016-08-19 18:49] wsalesky commented on #781
Okay, I added a very simple output for relationships when they show up in the browse by source page. It needs work, but is better then the blank lines that were showing up before.

I have also updated the 1.88.xar for the app, so these changes should all be there. Please let me know if you run into any problems.

[2016-08-19 21:33] davidamichelson opened #793 "On BHSE, the syriac titles are not displaying correctly and are missing html:span @lang="""
For some reason the tei/titleStmt/title that is in Syriac is not displaying correctly in the HTML on firefox or chrome on Mac. (But the rest of the Syriac does display fine).

On Firefox, it shows as boxes while on Chrome it does display but uses a non-standard unicode font.

Not sure why only that element has problems. The titles in other modules are fine. One difference is that in PERSON the Syr

[2016-08-19 21:35] davidamichelson commented on #793
Note this is not a problem in the TEI (which has the lang tag, but in the html)

[2016-08-20 02:21] wsalesky commented on #793
Sorry! A typo in the xpath. Fixed on dev and prod, but not in the packages you have. (It is the resources/tei2html.xsl) if you want to update your local version.

[2016-08-20 02:21] #793 closed

[2016-08-20 03:25] nathangibson commented on #792
Thanks, that should be fine. For now, I'll change status to "demo" in dev which will be fine for my presentation. But I'll leave this issue open and not push to production yet since I don't want to mess anything up at the moment.

[2016-08-20 03:29] nathangibson opened #794 "Adjust http://syriaca.org/nhsl search box"
@wsalesky Please wait until after today (Saturday).

Search box on http://syriaca.org/nhsl should search anything with NHSL seriesStmt, including BHSE.
Possibly related: https://github.com/srophe/srophe-app-data/issues/613

[2016-08-20 03:50] nathangibson commented on #767
Can't tell if Corrections/Additions button is actually sending an email. The pop-up doesn't close or give any status message.
This should not be fixed today if there's any risk of it messing up anything else on production, but maybe soon so that people can respond to our plea to start submitting corrections.

[2016-08-20 05:53] davidamichelson commented on #793
Thanks! I will update! You are too much! Mille Grazie!

On Sat, Aug 20, 2016 at 4:21 AM, Winona Salesky <notifications@github.com>
wrote:

[2016-08-23 15:07] #788 closed

[2016-08-23 20:26] dlschwartz opened #795 "Additions/Corrections button missing from work/ and bibl/ records"
It seems as though we don't have "Additions/Corrections" or "Is this record complete?" buttons on work/ and bibl/ records. I believe this can wait until after your much-deserved break for that last week of summer Winona. Dave will correct me if I'm wrong. Thanks Winona!

[2016-08-23 20:35] dlschwartz opened #796 "Line spacing in Sources section"
An eagle-eyed user noticed a difference in line spacing in the Sources section of entries across modules. It appears not to be a difference in spacing technically speaking since the problem stems from the size of the Olaph and book icons we use for linking. Perhaps there is an easy change we can make in our style sheet. If it presents difficulties, we should discuss first. Let's deal with this nex

[2016-08-24 17:46] nathangibson opened #797 "Tweak additions/corrections form to go to correct module editors"
When I tested submitting a correction on an authors record, @tacarlson received the notification and I didn't. After you get back, @wsalesky , can we make sure these forms go to the module editors? Thanks!

[2016-08-24 21:14] davidamichelson commented on #797
I think there is already an issue for this and @tacarlson has kindly agreed to put up with this until we fix it. Not in this issue but offline I will send Winona a list of email addresses

[2016-08-29 21:47] #781 closed

[2016-08-31 13:58] #786 closed

[2016-09-01 18:07] wsalesky opened #798 "Update admin module to handle new @status levels"

[2016-09-01 19:14] davidamichelson opened #799 "Logo for SROPHE App"
I can't decide if it should be all caps, please let me know your opinion.

For the logo how about an even more stylized version of these wings: https://www.google.com/imgres?imgurl=https%3A%2F%2Fopenclipart.org%2Fimage%2F2400px%2Fsvg_to_png%2F203663%2F1414395381.png&imgrefurl=https%3A%2F%2Fopenclipart.org%2Fdetail%2F203663%2Fseraphim-wings&docid=K3DhkOUB4QHP4M&tbnid=m4ddH-P0oHmEFM%3A&w=2400&h=1310

[2016-09-01 22:37] tacarlson commented on #799
All-caps script still feels like shouting to me.  But not everyone feels that way.  Other people expect all-caps to indicate an acronym, which SROPHE may be, but if so, I'm not aware of it (Software Running Our Project Here and Everywhere?).  Other people expect every technical project name to be all-caps.  I did go for an all-caps acronym for my next DH project.  You can't please everybody, so wh

[2016-09-01 22:41] dlschwartz commented on #799
Well it's an acronym now.
dls

On Sep 1, 2016 5:37 PM, "tacarlson" <notifications@github.com> wrote:

[2016-09-01 22:49] wsalesky commented on #799
All caps do look like an acronym to me as well, however I don't really have strong feelings one way or the other. Although I kind of like 'Software Running Our Project Here and Everywhere?'  ;)

[2016-09-02 02:06] davidamichelson commented on #799
I love the new acronym!!!

Technically here is the official etymology of SPROPHE:

Syriac Reference Portal > SRP > ܣ̈ܪܦ > SRoPhe

So not sure is SROPHE is a vocalized acronym or just a word or what.

I think I prefere Srophe uncapitalized or maybe Srophé or Srophē to give the correct pronunciation?

Too many choices

[2016-09-02 02:07] davidamichelson commented on #799
oops left the aleph off of ܣ̈ܪܦܐ

On Sep 1, 2016, at 9:06 PM, David Michelson wrote:

[2016-09-02 17:58] wsalesky commented on #799
Here are two options, let me know if I'm heading in the right direction or if the 'wings' are to abstract.
[srophe2.pdf](https://github.com/srophe/srophe-eXist-app/files/452633/srophe2.pdf)
[srophe1.pdf](https://github.com/srophe/srophe-eXist-app/files/452634/srophe1.pdf)

[2016-09-02 18:00] wsalesky commented on #799
I think I prefer srophe2, more space between logo and text.

[2016-09-02 19:08] jsaintlauren commented on #799
2 :)!

On Fri, Sep 2, 2016 at 1:00 PM, Winona Salesky <notifications@github.com>
wrote:

[2016-09-02 19:48] dlschwartz commented on #799
I think 2 looks great!
Dan

On Fri, Sep 2, 2016 at 2:08 PM, jsaintlauren <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http://chs.harvard.edu/CHS/article/display/5

[2016-09-02 20:55] wsalesky commented on #797
@davidamichelson I can work on this when ever you send me the list.

[2016-09-04 11:25] jsaintlauren commented on #797
Hi, all.  I wanted you to see the nice note that the Theology librarian
Rose Trupiano sent me after reviewing syriaca.org.  Hurray!

Hello Jeanne-Nicole,

Thank you for the info regarding your Syriac databases.  I have been adding
them to the list of Theology databases and have been looking through them.
These are amazing!  The information provided is very detailed as are the
 links to various res

[2016-09-06 14:11] #798 closed

[2016-09-06 14:12] #775 closed

[2016-09-06 16:47] #796 closed

[2016-09-06 16:48] wsalesky commented on #782
This seems to be fixed.

[2016-09-06 16:48] #782 closed

[2016-09-06 18:04] #767 closed

[2016-09-07 03:28] wsalesky commented on #698
I don't think I understand what I am supposed to facet on for 'Found in'

[2016-09-07 16:26] davidamichelson opened #800 "Could we change the directory/URL for the admin module to "admin" instead of srophe-forms"

[2016-09-07 16:29] davidamichelson opened #801 "Please push admin module to github with security abstractions taken care of"

[2016-09-07 16:31] davidamichelson opened #802 "Please create new repo for RDF app"

[2016-09-07 16:32] davidamichelson commented on #802
Or do what ever you think is best

[2016-09-07 17:19] nathangibson commented on #698
It would facet for the sources cited by the person records appearing in the results. However, simply grouping by the `ptr/@target` wouldn't work because some of the important titles (e.g., GEDSH and Assemani) are referenced using ptrs for parts of the work on the article or volume level. That's why I provided the list with XPaths for each. But if this is complicated we should discuss whether it's

[2016-09-07 17:23] wsalesky commented on #698
Hum, I will save that for last. Still working through a number of bus and issues, but you can take a look at the in progress version:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?view=facets

It is fun to see what is going on across the data.

[2016-09-07 17:56] nathangibson commented on #698
This is seriously cool! It will really help people explore the data, as well as narrow down searches. It will also help us identify messy data :-). Thanks for working on this. Let me know when you want me to test it.

[2016-09-08 03:31] wsalesky commented on #799
@davidamichelson I have this in three sizes, where should it live? In the srophe-eXist-app? Or elsewhere?

[2016-09-08 19:14] dlschwartz opened #803 "SPEAR relationship graph nodes"
@wsalesky could you please tweak the nodes on the relationship graph again? I did a lousy job of explaining myself in all the chaos before Rome -- totally my fault. I would like these nodes to grab and display the content of the persName element with the attribute syriaca-tags="#syriaca-headword". If there is an option for English or Syriac, we should prefer English (xml:lang="en"). If there is no

[2016-09-11 20:27] wsalesky commented on #803
@dlschwartz maybe we can discuss this at our meeting? Grabbing the names for the more complicated graphs slows the query down by quite a large margin. We can talk about options at the meeting.

[2016-09-11 20:27] wsalesky commented on #802
see: https://github.com/srophe/d3sparql

[2016-09-11 20:27] #802 closed

[2016-09-11 20:31] wsalesky commented on #799
New logos:
https://github.com/srophe/srophe-eXist-app/tree/master/srophe-app/resources/img/icons

[2016-09-11 20:31] #799 closed

[2016-09-11 20:33] #695 closed

[2016-09-11 20:34] #605 closed

[2016-09-11 20:46] wsalesky commented on #698
NOTE to self: Reset start param to 1 when adding a facet value.

[2016-09-12 15:04] nathangibson commented on #799
Nice!

[2016-09-12 16:25] wsalesky commented on #797
Okay, I think this has been corrected. Please contact me if you get any incorrect emails.
Thanks for your patience while I tested.

[2016-09-12 17:11] tacarlson commented on #797
I still received the persons emails of 10:56am, 11:00am, and 11:05am (as well as the place email of 11:03am, which is correct).  I don't think I should receive the persons emails.

________________________________
From: Winona Salesky <notifications@github.com>
Sent: Monday, September 12, 2016 11:25:13 AM
To: srophe/srophe-eXist-app
Cc: Carlson, Thomas Andrew; Mention
Subject: Re: [srophe/srophe-e

[2016-09-12 17:15] wsalesky commented on #797
@tacarlson thanks for the info, you should not be receiving the persons emails. Let me do some more tweaking. I will be sending out one for BHSE and Works Cited in the next hour, please let me know if you receive those.

[2016-09-12 17:26] wsalesky commented on #797
Okay, I think I have this sorted out now.

[2016-09-12 17:26] #797 closed

[2016-09-12 17:26] #795 closed

[2016-09-12 17:52] wsalesky commented on #698
@nathangibson This is ready for testing. I do need to hook up names to the URI displays for Literary Connection, Born, Died, etc. I also need to translate the lang codes into something more readable, I forget, do we have an data dictionary somewhere that provides this info?

[2016-09-12 17:56] wsalesky opened #804 "Bug in map for related places"
Ex: http://syriaca.org/person/53

Does not show a color coded 'bubble' for 'This author has a literary connection to places'

[2016-09-12 18:30] nathangibson commented on #698
Great! Will test! As for human-readable language codes, I’m supposed to be working on that … :-)

Related: https://github.com/srophe/srophe-eXist-app/issues/514

[2016-09-12 18:34] nathangibson commented on #698
Browse by type (author/saint) seems to be working correctly.

[2016-09-12 18:34] nathangibson commented on #698
What is the default sort? Kind of funny that when you filter to authors, our colleague George Kiraz shows up first.

[2016-09-12 18:37] nathangibson commented on #698
The more/less buttons repeat the first 5 labels when you expand.

[2016-09-12 18:40] nathangibson commented on #698
This is just so awesome. It makes me so happy!

[2016-09-12 18:46] nathangibson opened #805 "Some person dates are not displaying in browse list"
For example, Philoxenos of Mabbug (http://syriaca.org/person/44) should display "(ca. 440s? - 523)" as he does on the page title, but if you look at http://syriaca.org/authors/browse.html?lang=&sort=P and scroll to the bottom, it only says "ca. 440s? - "

[2016-09-12 18:50] nathangibson commented on #805
Sometimes this may have to do with multiple dates for the same event (e.g., multiple death dates). For example, John bar Aphtonia (http://syriaca.org/person/52) has dates (475 - 537 or 538) which display correctly in page title but not in browse.

[2016-09-12 19:03] nathangibson commented on #698
The number count in parentheses beside each filter label seems to be counting matching elements rather than matching records. Is that what it's supposed to do? As a user, I would expect it to be showing me a count of records. Not a big deal, and for most criteria it's the same, but it's way off on names, for instance.

[2016-09-12 19:10] nathangibson commented on #698
When the remaining result records have no data for certain categories (e.g., no birth location), then those categories show up just as text headers. E.g., see "Born," "Died," etc. for http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?fq=;fq-Sex%20or%20Gender:eunuch;fq-Century:300-400&view=facets. This behavior is a little disorienting. Could we perhaps have "(0)" appear eith

[2016-09-12 19:18] nathangibson commented on #698
I like the way the chosen filters show up as bubbles at the top left of the page. However, could we prefix the label to them? E.g., "Has name in: en" rather than just "en"?

[2016-09-12 19:21] nathangibson commented on #698
Just FYI: Strange that we are only seeing 2 martyrs. This is probably inconsistent data in the state element (again, my job to work on). But Advanced Search for "martyr" shows 184 matches.

[2016-09-12 19:27] nathangibson commented on #698
OK, done testing. As you see, I came up with some tweaks, but I couldn't break anything. Either the code is sound or you've totally profiled my click behavior and swept all the bugs into other corners.

This is such a fun way to explore the data! I think our users are going to love it. It's also great for figuring out where we need to clean up data :-). Thanks so much.

[2016-09-12 19:45] wsalesky commented on #698
Let's hope it is because the code is sound. ;) I will look into the suggested tweaks. The issue with the element vrs. record was something I noticed as well. I will have to think a little more about this, as I'm not sure what expected behavior for facets should be. We can talk about it at our meeting.

Also, we can add this to the search results as well if you would like.

[2016-09-12 19:49] nathangibson commented on #698
Thanks. Would *love* to see this on search results, though we might want to wait a bit until we have the most obvious data formatting addressed (like sex/gender).

[2016-09-12 19:58] wsalesky commented on #698
Sure, although it will use the same code, so fixing any issues in one place will fix it in both.

[2016-09-12 20:06] nathangibson commented on #698
Yes, I just mean our data inconsistencies might be more noticeable in search because people will probably be using search more.

[2016-09-13 00:30] davidamichelson commented on #799
Thanks winona, I think the resources directory is appropriate and then we will make a syriaca/srophe/index.html page about srophe
On Sep 7, 2016, at 10:31 PM, Winona Salesky wrote:

[2016-09-13 15:55] davidamichelson opened #806 "Virtual Keyboard for Syriac"
James Bennett has written a virtual keyboard that can be embedded in html. You can see it here:
https://sedra.bethmardutho.org/

Please contact Jim about getting the code and we should embed it in all Syriaca.org modules search box.

[2016-09-14 13:55] wsalesky commented on #698
Made some updates, and just for fun, tried plugging it in to BHSE:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bhse/browse.html?fq=;fq-&view=facets

[2016-09-14 14:14] #805 closed

[2016-09-14 14:23] wsalesky commented on #806
Contacted Jim, he is working on the code and will share when it is ready.

[2016-09-14 14:29] wsalesky commented on #771
Hum. I think this is finding them in the depreciated folder. Which maybe should not be part of the production deployment?

[2016-09-14 15:18] #804 closed

[2016-09-14 15:18] wsalesky commented on #804
There are no geo point for those places. code behaves as it should

[2016-09-14 15:20] wsalesky opened #807 "Labels on map"
Labels on map are not showing up correctly. (Dev only apparently?)
http://syriaca.org/person/53

[2016-09-14 15:21] #807 closed

[2016-09-14 16:06] davidamichelson opened #808 "How to Cite This Entry for Qadishe needs fixing"
How to Cite This Entry

Jeanne-Nicole Saint-Laurent and David A. Michelson, “John — ܝܘܚܢܢ” in , eds. Jeanne-Nicole Saint-Laurent and David A. Michelson, entry published August 17, 2016, Syriaca.org: The Syriac Reference Portal, ed. David A. Michelson. http://syriaca.org/person/1803.

This should instead read:

Jeanne-Nicole Saint-Laurent and David A. Michelson, “John — ܝܘܚܢܢ” in _Qadishe: A Guide

[2016-09-14 16:12] davidamichelson commented on #806
There is also a keyboard here we might use: Example: http://www.fihrist.org.uk/

[2016-09-14 16:25] davidamichelson commented on #808
A few more changes needed:

Authorial and Editorial Responsibility:

    David A. Michelson, general editor, Syriaca.org: The Syriac Reference Portal
    Jeanne-Nicole Saint-Laurent and David A. Michelson, editors, _Qadishe: A Guide to the Syriac Saints_
    Saint-Laurent, Jeanne-Nicole and David A. Michelson, entry contributors, “John — ܝܘܚܢܢ”

Additional Credit:

    Editing, proofreading, data

[2016-09-14 16:52] #28 closed

[2016-09-14 16:53] #15 closed

[2016-09-14 16:54] davidamichelson commented on #29
Closing this. Github version is canonical, but the Syriaca.org server version should always be indentical.

[2016-09-14 16:54] #29 closed

[2016-09-14 16:55] wsalesky commented on #66
Done

[2016-09-14 16:55] #92 closed

[2016-09-14 16:56] wsalesky commented on #106
Same as/similar to: #3

[2016-09-14 16:56] #106 closed

[2016-09-14 17:00] davidamichelson commented on #66
Okay, misunderstood, this is not yet done. But this will be handled by RDF serialization instead of the XML.

[2016-09-14 17:05] wsalesky commented on #211
Same as: #316

[2016-09-14 17:05] #211 closed

[2016-09-14 17:07] wsalesky commented on #322
Done in facets. facet-by-range.

[2016-09-14 17:07] #322 closed

[2016-09-14 17:10] #409 closed

[2016-09-14 17:10] #371 closed

[2016-09-14 17:11] #333 closed

[2016-09-14 17:11] #496 closed

[2016-09-14 17:12] #495 closed

[2016-09-14 17:12] #484 closed

[2016-09-14 17:49] nathangibson commented on #698
Very cool! I really like the commemorated facet.

[2016-09-14 17:50] nathangibson commented on #698
I wonder why the second facet under commemorated doesn’t have a name ...

[2016-09-14 17:53] nathangibson commented on #771
Well, as I think you pointed out earlier @wsalesky , will the redirect work if we don't have the deprecated folder on production? If person/2001 is supposed to redirect to person/44, won't we have to have the deprecated record for 2001 live?

[2016-09-14 17:53] wsalesky opened #809 "Person 13 worldcat function causes page to fail"
Wonder if this has something to do with new indexes. Still works on Production, broken on local and dev.

[2016-09-14 17:54] wsalesky commented on #771
Ah, yes. Good point. Will have to add a filter in the get-tei function.

[2016-09-14 17:57] wsalesky commented on #698
Interesting....

[2016-09-14 17:58] wsalesky commented on #698
Fixed. Needed to normalize spaces before tokenizing.

[2016-09-14 21:08] davidamichelson commented on #15
This was closed on the grounds that the default English browse has all records and that there is a view all option now available. Not sure that there is more that we can do easily on this.

[2016-09-14 21:08] davidamichelson commented on #28
Closed for now at least because consultation with our partners and users indicates little interest.

[2016-09-15 19:41] jsaintlauren commented on #698
This is really great!

On Wed, Sep 14, 2016 at 12:58 PM, Winona Salesky <notifications@github.com>
wrote:

[2016-09-16 12:56] wsalesky commented on #319
We may be able to handle this via facets:
http://wwwb.library.vanderbilt.edu/geo/browse.html?view=facets

See the "Share a Name" facet.

[2016-09-16 14:39] davidamichelson opened #810 "Revising How to Cite This Entry"
After discussion in a weekly meeting it has been recommended that perhaps we should simplify the citation style for each module.

Please see the proposed "How to Cite This Entry" styles and let me know if you have any revisions or objections.

In general these citations are meant to follow Chicago style "Documentation I: Notes and Bibliography" format based on the section: "14.248 Dictionaries and

[2016-09-16 15:37] davidamichelson commented on #810
@srophe/issues-only Dear Colleagues, please weigh in on this and let us know what you prefer. Cliff I have added you since we would appreciate a librarian's thoughts.

Thanks, DM

[2016-09-16 19:19] jedwardwalters commented on #810
Given the issues you've outlined, I think option 4 strikes a balance between the most information and the most streamlined. My preference would be the shorter options (1 or 2), but perhaps that's because I just lectured on text criticism and I'm thinking of "the shorter reading is to be preferred." But the issue of a publishing body as authority makes sense. In which case, it seems to me that incl

[2016-09-16 19:20] nathangibson commented on #810
Wow, it's amazing how many factors there are in a citation!

For footnotes, my vote is for **Option 3**.

For bibliography, my vote is for
**Option 3 + SBD as series + all names + "Last modified"**
- Mellon Saint-Laurent, Jeanne-Nicole, David A. Michelson, Nathan P. Gibson, James E. Walters, and Thomas A. Carlson. “Theodora, Roman empress — ܡܠܟܬܐ ܬܐܘܕܘܪܐ.” In _Qadishe: Guide to the Syriac Saints_,

[2016-09-16 19:30] nathangibson commented on #810
@jedwardwalters weighed in while I was writing my monograph :-). When you say including Syriaca.org as a publisher doesn't add anything, do you mean that because it's already included in the URI? It seems to me that associating the entry/volume with the project that produced it is important for "brand recognition" (not sure what the right academic term would be), but is the URI itself and the page

[2016-09-16 19:49] jedwardwalters commented on #810
@nathangibson Yes, that's exactly what I was thinking. Since syriaca.org is in the URI, mentioning it again is "additional" information. Though I also see the significance of brand recognition and naming the project. Despite my opinion voiced earlier, I also found your "monograph" persuasive, particularly the short fn vs. long bib entry suggestion.

[2016-09-16 20:21] tacarlson commented on #810
I would be troubled by including Vanderbilt as the publishing authority.  Their libraries manage the hosting, but the University in no sense authorized the publication.  (Even worse, given the suppression of "Press" in some bibliographies, some people would interpret the footnote as alleging that this work was published by Vanderbilt University Press, which is factually inaccurate.)  Syriaca.org i

[2016-09-17 15:11] nathangibson opened #811 "WorldCat identity URIs for authors"
cc: @davidamichelson

So I just discovered by accident that there is a way to resolve to a WorldCat identities page directly using a VIAF ID without going to VIAF first. E.g., for Ephrem with VIAF URI http://viaf.org/viaf/100177778/ (= VIAF ID 100177778), the link is https://www.worldcat.org/identities/containsVIAFID/100177778. It seems however that not all VIAF IDs are in WorldCat, e.g., https://

[2016-09-17 16:26] nathangibson commented on #469
Not sure if this is the right place to put this. There are issues with visualization of bibliography Editions/Translations/Ancient Versions. E.g., http://syriaca.org/work/396 edition 1:

1. Spaces are not showing up between elements (author, title, etc.)
2. Info doesn't seem to be grabbed from the bibl record indicated in the ptr (e.g., title is abbreviation instead of full title here http://syria

[2016-09-19 18:15] wsalesky commented on #809
Indexing issue. This particular issue is fixed, but experiencing some odd index behavior.

[2016-09-19 18:15] #809 closed

[2016-09-20 09:17] nathangibson opened #812 ""Indifiers" instead of "Identifiers" in Google Results for http://syriaca.org/documentation/isostandards.html"
I can't tell why https://encrypted.google.com/search?hl=en&q=iso%20639%20change%20requests%20syriac 4th result has typo "Indifiers" in page title, though I can't find this in the source code. Is it just Google's outdated cache or do we need to correct the typo somewhere?

[2016-09-20 12:52] wsalesky commented on #812
Looks like cached results to me.

[2016-09-20 13:18] nathangibson commented on #697
Note to self: We should probably change this RDF property to "syriaca:isPartOfTradition" since I think RDF properties normally use camelCase.

[2016-09-20 13:19] nathangibson commented on #812
Great, thanks!

[2016-09-20 13:19] #812 closed

[2016-09-20 13:48] wsalesky commented on #803
@dlschwartz Did we reach an agreement on this? Or should we leave it open?

[2016-09-20 13:57] wsalesky opened #813 "Todo better group/user management."
Create srophe group and permissions for all srophe apps for better data management via admin module.

[2016-09-20 19:30] dlschwartz commented on #803
@wsalesky I guess I'm still mulling this over. I'm sure some users will hate the numbers, so there's that. For simple graphs the names are clearly preferable. However, for complicated graphs, names will clutter things too much. Different visualizations will change these things somewhat (i.e., chord charts). Let's keep this open. I'll give it some more thought.

[2016-09-20 19:33] dlschwartz commented on #697
Quick question, how does camel case deal with a colon? Should this example
have "is" or "Is"?

On Tue, Sep 20, 2016 at 8:18 AM, nathangibson <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4

[2016-09-20 19:58] nathangibson commented on #697
E.g., LAWD uses “hasAttestation” so when you add the prefix it would be “lawd:hasAttestation”.

[2016-09-20 20:04] dlschwartz commented on #697
Very good, thanks.

On Tue, Sep 20, 2016 at 2:58 PM, nathangibson <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http://chs.harvard.edu/CHS/article/display/5813>:
C

[2016-09-21 16:46] nathangibson commented on #469
Re. bibls inside notes:
NSHL suggested schema does not put editions, translations, etc. inside notes as BHSE does. We could convert BHSE to this format. An example of the NHSL format is http://wwwb.library.vanderbilt.edu/work/2501.

For reference, an example of a bibl inside a prose note (e.g., abstract) that should *not* be visualized as a full citation is http://wwwb.library.vanderbilt.edu/perso

[2016-09-21 16:54] nathangibson commented on #469
Another example of bibl inside abstract is wwwb.library.vanderbilt.edu/person/2211.
Example of bibl inside note for editions/translations/ancient versions is any BHSE record.

[2016-09-21 17:29] wsalesky commented on #469
@nathangibson Please take a look now:
http://wwwb.library.vanderbilt.edu/work/270

I will do some spot checking to make sure I haven't messed up any other display and if you could do so as well that would be helpful.
Thanks!

[2016-09-21 18:09] wsalesky commented on #801
Done:
https://github.com/srophe/srophe-admin

[2016-09-21 18:09] #801 closed

[2016-09-21 19:11] dlschwartz opened #814 "Page for each factoid div in SPEAR"
@wsalesky We would like have a page that visualizes data from each factoid div in SPEAR. This might seem a bit odd since many factoids doing contain much information. I'll explain some of the motivation below which should help with what we want to see on these pages.
1) Eventually we will want (whenever possible) the bibliography for that factoid to link out to online versions of the primary sourc

[2016-09-21 19:22] dlschwartz opened #815 "Page with SPEAR data for each person in SPEAR"
The "Persons" tab in SPEAR contains a list of person names with links. Currently, when you click on a name, the link takes you to SBD. That makes perfect sense because that link is to the URI which resolves to the SBD page for that person. However, it would be great if this could instead take the user to a page that aggregates SPEAR data on that person. It would be structured very much like the SB

[2016-09-21 19:28] dlschwartz opened #816 "More/less buttons in advanced search for SPEAR"
The buttons don't seem to work correctly. This might be because too many options emerge when the more is chosen. It's actually a bit overwhelming for persons and places. And it's only going to get worse as we get more data. Not sure how best to handle this.

[2016-09-21 19:35] dlschwartz opened #817 "Keyword in advanced browse"
This should work like the sections for persons and places allowing the user to choose from a list of keyword tags use in SPEAR.

[2016-09-21 19:37] dlschwartz opened #818 "Source text in Advanced Browse"
This should work like the sections for persons and places allowing the user to choose from a list of texts used in SPEAR.

[2016-09-21 19:46] dlschwartz opened #819 "Toggle in faceted search"
I may not have paid enough attention to our discussions of faceted search but I'm wondering if we have considered a toggle feature. This would be really useful for SPEAR and maybe other modules. For SPEAR someone may want to see all event factoids that have two or more keywords, or that reference two or more persons. A user may want to see all the keywords that appear in two or more letters. Is th

[2016-09-22 01:23] wsalesky commented on #808
How does this look? (for short run fixes)
http://wwwb.library.vanderbilt.edu/person/1803

[2016-09-22 02:28] jsaintlauren commented on #808
Looks good to me! Thank you!

[2016-09-22 14:00] wsalesky commented on #815
Opps, that already exists, the link just disappeared.  Here is an example of what we currently have. We can review and update it.

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/person/13

I added the SPEAR link back in, but perhaps we would want the link on the title/person's name to go to the SPEAR page rather then the SBD page?

[2016-09-22 14:02] wsalesky commented on #816
What browser and operating system are you using? This most likely a javascript error.

Although I do think we should discuss how to handle this display better (when you view more).

[2016-09-22 14:02] wsalesky commented on #817
Perhaps we can discuss this during our next meeting?

[2016-09-22 15:56] dlschwartz commented on #816
I'm using Chrome on a PC

On Thu, Sep 22, 2016 at 9:02 AM, Winona Salesky <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http://chs.harvard.edu/CHS/article/display/

[2016-09-22 16:11] dlschwartz commented on #815
I thought we had something before. This is a great start. I'll poke around
and we can think about changes. Thanks

On Thu, Sep 22, 2016 at 9:00 AM, Winona Salesky <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College

[2016-09-22 16:12] dlschwartz commented on #817
Sounds good.

On Thu, Sep 22, 2016 at 9:02 AM, Winona Salesky <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http://chs.harvard.edu/CHS/article/display/5813>:
Chris

[2016-09-23 14:40] nathangibson commented on #469
Thanks this is looking great now!

[2016-09-23 14:40] wsalesky commented on #469
Okay. I will push the changes to the production server. Thanks.

On Fri, Sep 23, 2016 at 10:40 AM, nathangibson <notifications@github.com>
wrote:

[2016-09-23 14:47] wsalesky commented on #469
Updated.

[2016-09-23 14:47] #469 closed

[2016-09-23 14:48] #808 closed

[2016-09-23 14:54] wsalesky opened #820 "Remove 'spear' URI dependancies in SPEAR visualizations."

[2016-09-23 16:03] wsalesky commented on #817
First pass.

[2016-09-23 16:36] davidamichelson opened #821 "Compromise on boolean operators and search"
@srophe/issues-only Dear colleagues, as you know I have always been the holdout wishing that the default for our search was that it assumed an \* after the string same as Google. Since I am always forgetting to add *, I wondered if we might make this addition.

When a search result returns: "X matches for Keyword" could we please add this sentence:

Search results:

2 matches for Keyword: X. You m

[2016-09-27 16:30] davidamichelson opened #822 "When one submits to perseids there is a non-functioning Java Script in the pop up"
When you go to submit from http://wwwb.library.vanderbilt.edu/exist/apps/srophe-forms/review-rec.html?id=http://syriaca.org/place/1814 it asks you to log in. After you do, the pop up says "resubmit" and the word is a link but clicking it does not resubmit, so we shoudl fix it or just turn it off would be better I think.

[2016-10-05 15:32] wsalesky commented on #822
@davidamichelson  The resubmit just closes the window so you can resubmit the record. Is that not the behavior you experience?

[2016-10-05 15:49] davidamichelson commented on #822
Not in Firefox. I can try to reproduce it over skype today

[2016-10-05 15:50] davidamichelson commented on #808
Great work on this belatedly from me!

[2016-10-05 16:24] nathangibson opened #823 "SPEAR advanced search shows random "browse by" at bottom of page"
See http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/search.html

![syriaca_org__the_syriac_reference_portal](https://cloud.githubusercontent.com/assets/3083452/19122022/fa18faba-8b28-11e6-8001-87aba37756ec.jpg)

[2016-10-05 16:27] wsalesky opened #824 "Bug in keyword facet"
Does not seem to be finding all the keywords:
See:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?fq=;fq-&view=advanced

[2016-10-05 16:28] wsalesky opened #825 "Show selected facet buttons w/diff background color."
See this example:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?fq=;fq-Place:http://syriaca.org/place/78;fq-Person:http://syriaca.org/person/2201;fq-Person:http://syriaca.org/person/2233&view=advanced

grey out or otherwise differentiate: the already selected facets.

[2016-10-05 16:28] wsalesky commented on #819
Facet module does this.

[2016-10-05 16:28] #819 closed

[2016-10-05 16:39] #822 closed

[2016-10-05 16:42] davidamichelson commented on #810
Once we work this out we can figure out RDFA as well.

[2016-10-05 18:13] #818 closed

[2016-10-05 18:14] wsalesky commented on #817
Updated with more comprehensive keywords xpath.

[2016-10-05 18:14] #817 closed

[2016-10-06 12:36] #825 closed

[2016-10-06 12:38] wsalesky commented on #820
Unclear bug description.

[2016-10-06 12:38] #820 closed

[2016-10-06 12:58] #815 closed

[2016-10-11 12:42] wsalesky commented on #824
Resolved

[2016-10-11 12:42] #824 closed

[2016-10-11 13:16] #823 closed

[2016-10-11 13:22] wsalesky opened #826 "Use new facet module for SPEAR search results"

[2016-10-11 13:43] #826 closed

[2016-10-11 14:24] dlschwartz opened #827 "Add sex to advanced browse for SPEAR"
@wsalesky Can we add sex to the advanced browse for SPEAR? Thanks!

[2016-10-11 14:25] wsalesky commented on #827
Sure. Where in the list would you like to appear? After the Person facet?

[2016-10-11 14:26] dlschwartz opened #828 "Add birth and death place to advanced browse for SPEAR"
@wsalesky It would be great to add this feature as well. Thanks.

[2016-10-11 14:31] wsalesky commented on #828
I added these, but I get no data back. How are they coded in the XML? In SBD we use:
`tei:relation[@name="born-at"]`

[2016-10-11 14:31] dlschwartz commented on #827
For now at least, I suppose it would be simplest to follow the order for the advanced browse in SBD. That will make the user experience consistent as well.

[2016-10-11 14:32] wsalesky commented on #827
Added

[2016-10-11 14:36] dlschwartz commented on #828
Sorry, I just checked at it looks like I only have birth dates encoded so far. I thought for sure I had at least one birth place. OK, let's put this one on hold. Sorry.

[2016-10-11 14:36] wsalesky commented on #828
Okay, well it is the facet-def, and should show up as you start adding data.

[2016-10-11 14:37] #828 closed

[2016-10-11 14:37] wsalesky commented on #827
Looks like there are some data issues.

[2016-10-11 14:39] dlschwartz commented on #827
It sure does. Who knew there were four different kinds of males? I'll look
in to this. Thanks.

On Tue, Oct 11, 2016 at 9:37 AM, Winona Salesky <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 7784

[2016-10-11 14:43] dlschwartz commented on #827
There seems to be a number of issues. I'll look into this but it may take a while as the best long term solution is to make my schema for SPEAR. The GEDSH experience has me excited about going forward on this but it will likely take a bit of time. Thanks.

[2016-10-11 14:46] wsalesky commented on #827
Okay. Also, we can change the code to facet on the `@value` attribute instead, that might be better/more reliable.

[2016-10-11 14:49] wsalesky commented on #827
I changed it to @value, seems to be a better match, what do you think?

[2016-10-11 15:04] dlschwartz commented on #827
I think that looks great. Could we add a similar feature to the person page that would allow us to see just the male or just the female persons? It would work just like the "Narrow by Source" option.

[2016-10-11 17:01] wsalesky opened #829 "Add citations to SPEAR factoid display"

[2016-10-11 19:43] davidamichelson commented on #810
@tacarlson and @wsalesky We discussed this in the editors meeting today and reached this conclusion.

**Footnotes**
The preferred short form for footnotes will be a simple as possible (as recommended by Chicago):

Jeanne-Nicole Mellon Saint-Laurent et al., “Theodora, Roman empress — ܡܠܟܬܐ ܬܐܘܕܘܪܐ," in _Qadishe: Guide to the Syriac Saints_, last modified August 17, 2016, http://syriaca.org/person/7

[2016-10-12 13:40] tacarlson commented on #810
My name is Thomas Carlson and I approve this message, er... citation format. =-)

________________________________
From: David Michelson <notifications@github.com>
Sent: Tuesday, October 11, 2016 2:43:15 PM
To: srophe/srophe-eXist-app
Cc: Carlson, Thomas Andrew; Mention
Subject: Re: [srophe/srophe-eXist-app] Revising How to Cite This Entry (#810)

@tacarlson<https://github.com/tacarlson> and @wsal

[2016-10-13 15:52] wsalesky opened #830 "SPEAR factoid display questions"
How should we display the data in this factoid (we can discuss at next meeting)?

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/3130-2

xml:

[code]

[2016-10-13 16:08] wsalesky commented on #810
Thanks @tacarlson I will start work on this today.

[2016-10-13 16:14] wsalesky commented on #810
@davidamichelson Just to make sure I'm clear. Footnotes are under the 'Sources' section and the Bibliography would be under 'How to Cite this Entry' and also the 'Preferred Citation' on the bibl page for each bibl record?

[2016-10-13 18:10] wsalesky commented on #810
@davidamichelson Also, what would you like to see happen with the citedRange in the footnote style citation? Should it be removed?

[2016-10-13 19:09] davidamichelson commented on #810
@wsalesky Glad you double checked, and I'm sorry to report there is a confusion here. This request is not about the "Sources" section.

Using record http://syriaca.org/person/779 as an example these changes just apply to the two citation forms that are part of "How to Cite This Entry". "Footnote" refers the form that appears first (and by itself before one expands the "Show full citation informati

[2016-10-13 20:06] davidamichelson opened #831 "Introduction to http://syriaca.org/saints is missing from production server"
see http://syriaca.org/saints/intro/index.html

[2016-10-13 20:08] davidamichelson commented on #831
It is working on the dev server: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/saints/intro.html

[2016-10-13 20:50] wsalesky commented on #831
Will fix it as soon as I get home.

Sent from my iPhone

[2016-10-13 20:51] wsalesky commented on #810
Ah. Okay, thanks for the clarification! That is an easier fix!

Sent from my iPhone

[2016-10-13 23:03] #831 closed

[2016-10-14 16:53] #829 closed

[2016-10-14 16:53] wsalesky commented on #827
Hum... this is slightly more complicated. I will add it, it will take a little longer while if figure out the logistics.

[2016-10-14 18:07] wsalesky commented on #810
What happens when there are 2 seriesStmt? List both? ex:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1773/tei

Also, how about when there are two biblScope in a single series stmt?
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/779/tei

List both? List only the first (which is what is currently happening)

[2016-10-17 16:28] wsalesky commented on #816
@dlschwartz I updated the javascript, can you test the more/less function on SPEAR and let me know if the problem has been solved? Thanks.

[2016-10-17 20:52] dlschwartz commented on #816
This fix looks great! Thanks.

[2016-10-17 20:52] #816 closed

[2016-10-18 12:48] wsalesky commented on #816
Hurrah!

[2016-10-18 13:22] wsalesky commented on #821
Would you like us to include a description of other search operators on the advanced search page as well?

For example wild cards are * and ?
You can also use proximity operators: "aba catholicos"~2
Phrase searching: "aba catholicos"
Fuzzy searching: aba~

[2016-10-18 13:28] wsalesky opened #832 "Bug in Gazetteer search form"

[2016-10-18 13:30] #832 closed

[2016-10-18 13:41] nathangibson opened #833 "Broken links on http://syriaca.org/exist/apps/srophe/documentation/training-materials.html"
On this page http://syriaca.org/exist/apps/srophe/documentation/training-materials.html the two links to "Blank template" under "Downloadable Resources" are broken. I'm trying to fix these. It looks to me as if
`<a href="/templates/Blank-template-file.xml">Blank Template File for Multiple Part Manuscripts</a>`
should be
`<a href="templates/Blank-template-file.xml">Blank Template File for Multiple

[2016-10-18 13:47] wsalesky commented on #833
There are some blank xml:id which are preventing eXist from loading the records, so they never got loaded to the db. They need to have a valid xml:id place holder.

[2016-10-18 15:41] wsalesky commented on #833
@nathangibson Would you like me to add 'place holder' xml:ids? And get the records up on the production server?

[2016-10-18 16:33] wsalesky commented on #821
@davidamichelson How does this look?
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/search.html

[2016-10-18 17:37] wsalesky commented on #792
Has this been resolved? It looks like there are no NHSL records currently on the production server. If so, we can close this.

[2016-10-18 17:50] nathangibson opened #834 "Update Syriaca ODD file"
I believe the latest customizations to the Syriaca schema were made directly in RNG, correct?

Could we also update the ODD file to bring it up to date with these customizations? I'd like to do some of our documentation in the ODD.
cc: @davidamichelson @dlschwartz

[2016-10-18 17:51] wsalesky commented on #834
I think they were made to the rnc and then converted to the odd. Are they not in sync?

[2016-10-18 18:15] wsalesky commented on #794
@nathangibson I think I may need some clarification on this one.

NHSL records have:
<title level="s">New Handbook of Syriac Literature</title>
and
<idno type="URI">http://syriaca.org/works</idno>

and BHSE records have?
I see:
<title level="m">Bibliotheca Hagiographica Syriaca Electronica</title>
in the titleStmt, but not in the seriesStmt, should I be matching on the URI's in the seriesStmt inst

[2016-10-18 18:33] nathangibson commented on #834
Great, glad to hear that the ODD may be up to date. I’ll take a closer look.

[2016-10-18 18:34] #834 closed

[2016-10-18 21:59] davidamichelson opened #835 "Names Export for Person and Places"
@wsalesky Can  you please remind me of where I can find the script for exporting names for use by @gkiraz and SEDRA? We can review it at the meeting tomorrow. Thanks

[2016-10-19 13:26] wsalesky commented on #835
I think it was this one:
https://gist.github.com/davidamichelson/a216712476d7a07405316510344a2738

[2016-10-19 14:38] dlschwartz opened #836 "Landing page"
I find it slightly confusing to get to SBD (for example) from the landing page for SBD and I think our users might as well. The "test record" link is broken. The "browse" button seems far away once you've started reading the text on the landing page. Can we come up with another way to get people from the landing page to the thing itself?

[2016-10-19 14:40] dlschwartz commented on #836
I just checked all the modules and like how the Gazetteer handles this issue.

[2016-10-19 14:41] davidamichelson commented on #836
Agree, I think this needs a bigger discussion of modules and volumes in
them.

On Wed, Oct 19, 2016 at 9:40 AM, Daniel Schwartz <notifications@github.com>
wrote:

[2016-10-19 15:12] nathangibson commented on #833
@wsalesky I think I just corrected the links and the xml:ids here: https://github.com/srophe/srophe-eXist-app/commit/27e7af9fa86c70b8a5c34209606ddebcba1d9017. Would you mind deploying those to the master branch and to the production server? Thanks!

[2016-10-19 15:26] wsalesky commented on #833
Fixed, although looks like eXist is using the wrong mime-type...

[2016-10-19 15:26] #833 closed

[2016-10-19 15:26] wsalesky opened #837 "explore mime-types for documentation xml files."
http://syriaca.org/documentation/templates/Blank-template-file.xml

[2016-10-19 16:19] wsalesky opened #838 "Bug on saints landing page"
http://syriaca.org/saints/index.html
more link does not go to a useful info page.

[2016-10-19 16:22] jsaintlauren opened #839 "sample entries on q and bhse"
The links on BHSE and Qadishe go to the dev server instead of the Master. @wsalesky

[2016-10-19 16:26] #839 closed

[2016-10-19 16:30] jsaintlauren opened #840 "links to sample entries on q and bhse go to the dev server"
@wsalesky  links to sample entries on q and bhse go to the dev server instead of master branch.

[2016-10-19 16:45] wsalesky opened #841 "SPEAR advanced browse"
Should we add type to advanced browse facets? They are on the first tab, and I think are useful.

[2016-10-19 16:48] davidamichelson opened #842 "Labelling the Dev Server as Dev"
To avoid confusion between the published versions of modules and the development server, please create a label that is superimposed on the header for every page on the dev server.

The text for this label, which should large and clear should be:

"Syriaca.org development server: Not for citation. For the published versions, see Syriaca.org [live link]."

[2016-10-19 17:42] #840 closed

[2016-10-19 17:43] wsalesky commented on #838
resolved by f4c99f9

[2016-10-19 17:43] #838 closed

[2016-10-19 17:46] dlschwartz opened #843 "Organizing the lists in Persons and Places tabs in SPEAR"
Can persons and places tabs have a display like SBD and the Gazetteer with the alphabet across the top? For persons, it would also be good to have an option equivalent to the letters of the alphabet for "anonymous" and another for anonymi labeled "groups".

[2016-10-19 17:48] dlschwartz opened #844 "Getting back to the "Browse SPEAR" page"
If users are on the aggregation page of a person or a place, it would be helpful to have a button to them back to the "Browse SPEAR" page.

[2016-10-19 17:53] dlschwartz opened #845 "Change links in Persons and Places tabs"
The results of clicking on the tabs for persons and places are a list of persons or places. In each case, the headword includes a link to SBD and a URI with a link to SBD. Only at the bottom is there a link to the SPEAR aggregation page for each entity. I think we should have only two links with the headword linking to the aggregation and the other link prefaced with “For additional information, s

[2016-10-19 18:01] dlschwartz opened #846 "Organizing Relationship Lists"
I am working on a system for organizing relationships that should be helpful for the list display in this section. https://docs.google.com/document/d/1m_BtaYXCTQ7W8nCvpBuGKYHKLooKsQX-ulqr0t9KsFo/edit. I imagine we would only use the following categories from the first column -- Professional, Household, Personal, General, Religious to display relationships on the person aggregation page.

[2016-10-19 18:05] dlschwartz opened #847 "Rendering relationship in English sentences"
I would like to render the relationships on the aggregation pages for persons in English sentences. I have a list of relationships in use or anticipated accompanied by English renderings: https://docs.google.com/spreadsheets/d/1aDICk8lrQ7cospr2yVlMYLXavMbaTDxbgr1GDrqfWDw/edit#gid=0
If the person whose data is being aggregated is value of the @active or @mutual attribute we could use column D.
If t

[2016-10-19 18:06] wsalesky commented on #847
Do you want the sentences added to the TEI, or just in the HTML rendering?

[2016-10-19 18:07] dlschwartz commented on #847
Good question and just what I was hoping to discuss in our meeting today. I only need it in the HTML. How would you prefer to do it? What's easier?

[2016-10-19 18:14] dlschwartz commented on #841
Yes, I think this is a good idea. Thanks.

[2016-10-19 18:29] dlschwartz opened #848 ""Factoid(s)" section in SPEAR persons aggregation"
I would like this to look like that top gray box in SBD, but labeled "Person Information", This section would list name variants, office, occupation, vocation, sex, birth date, death date, citizenship, social rank, confessor, martyr, saint, physical trait(s). Unfortunately, we have not encountered all of these in our sources yet. In case it helps, see here the basic TEI we would use to encode for

[2016-10-19 18:36] dlschwartz opened #849 ""Factoid(s)" section in SPEAR places aggregation"
In all the places I checked (only a few actually) the top box labeled "Factoid(s)" is blank. I'm not sure what would go in there. A simply list of factoids wouldn't be very helpful. Did you have something else in mind? I think the "Events", "Related Person(s)", and "Related Place(s)" pretty much cover our bases actually. Unless you have some plan for this I'm not seeing, I think we can delete this

[2016-10-19 18:38] dlschwartz commented on #848
state type=“office”
state type=“vocation”
state type=“occupation”
state type=“citizenship”
state type=“socialRank”
state type=”martyr”
state type=”confessor”
trait type=“physical”

[2016-10-19 18:45] dlschwartz commented on #830
Sorry we didn't get to this in the meeting today. Can we pull the canonical name from SBD: syriaca-tags="#syriaca-headword" and insert it next to "Names:__"? Or preferably "Name:__"?

[2016-10-19 18:46] dlschwartz commented on #830
The same format would work for birth date, death date, occupation, etc.

[2016-10-19 20:37] davidamichelson commented on #836
@wsalesky @dlschwartz

how is this as a mock up:
![screen shot 2016-10-19 at 11 51 24 am](https://cloud.githubusercontent.com/assets/3083773/19536514/dcfb0f9c-9611-11e6-89b6-8c193311e7ad.jpg)

Text:
General Editor: David A. Michelson, Vanderbilt University

Associate Editors: Jeanne-Nicole Mellon Saint-Laurent, Marquette University, Nathan Gibson, Vanderbilt University, Daniel Schwartz, Texas A&M

[2016-10-19 20:38] davidamichelson commented on #836
Actually, do we need it to say Syriac Biographical Dictionary Twice?

[2016-10-19 21:04] dlschwartz commented on #836
I like the mock-up!

On Wed, Oct 19, 2016 at 3:37 PM, David Michelson <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and
Culture <http://idhmc.tamu.edu/>

Texas A&M University
4236 TAMU
College Station, Texas 77843-4236

*Paideia and Cult <http://chs.harvard.edu/CHS/article/display/5813

[2016-10-20 15:26] jsaintlauren opened #850 "missing Syriac Manuscript data"
@wsalesky Hi Winona! For some reason the Syriac MS witness data has fallen off the BHSE pages.

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/272

[2016-10-20 15:27] jsaintlauren commented on #850
I think that this just happened.

[2016-10-20 15:30] wsalesky commented on #850
Okay, I will take a look. Thanks for the heads up.

[2016-10-20 16:39] #850 closed

[2016-10-20 21:42] davidamichelson commented on #835
Hmm that is not it sadly. I think we wrote it last summer (2015) but we may just need to redo it. I can't seem to find it.

[2016-10-20 22:04] davidamichelson commented on #835
Nevermind I did it myself :) https://github.com/srophe/data-exports

[2016-10-20 22:04] #835 closed

[2016-10-21 01:51] wsalesky commented on #835
Great!

[2016-10-25 13:26] wsalesky opened #851 "Enable web-hook for master branch/prod server for app"
Already enabled for data, have added a webhook for the app, need to turn it on. Want to do some testing first.

[2016-10-25 18:18] dlschwartz commented on #848
Great, thanks. Please let me know if you have any questions about my
various GitHub issues. I read Syriac with a student at 2 but I'll try to
keep an eye on my email as much as possible.

On Fri, Oct 21, 2016 at 12:50 PM, Winona Salesky <notifications@github.com>
wrote:

--
Dr. Daniel L. Schwartz
Associate Professor of History
Associate Director of the Initiative for Digital Humanities, Media, and

[2016-10-26 02:15] wsalesky commented on #848
Example person aggregation:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201

[2016-10-26 02:16] wsalesky commented on #849
Sample places aggregation:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/78

[2016-10-26 02:17] wsalesky commented on #849
I think it might be useful organize "Place info" we could add some sort options, such as be source, and by data type (element name)

[2016-10-26 02:17] wsalesky commented on #848
I think it might be useful organize "Person info" we could add some sort options, such as be source, and by data type (element name)

[2016-10-26 02:18] wsalesky commented on #843
Take 1:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=places

[2016-10-26 02:24] wsalesky commented on #845
Done

[2016-10-26 02:24] #845 closed

[2016-10-26 02:26] wsalesky commented on #843
Still working on adding source text facet. Also seems a little slow.

[2016-10-26 04:07] dlschwartz commented on #848
@wsalesky I've been working on the schema for SPEAR which has shown me how convoluted some of my encoding has been. Does this reconfiguration of person factoids help? I hope so! https://github.com/srophe/srophe-app-data/blob/dev/Pers_Element_Testing.xml

[2016-10-26 15:43] davidamichelson commented on #842
I love it!

A few tweaks please:

BEfore expansion, please change the label to

DRAFT
see Syriaca.org [live link to home]

After the expansion:

You are viewing a page on the Syriaca.org development server:
Not for citation. For the published versions, see Syriaca.org.

[2016-10-26 16:01] nathangibson commented on #842
Awesome. @wsalesky so in the end you couldn’t resist figuring out how to do diagonal text? :-)

[2016-10-26 17:20] #842 closed

[2016-10-26 17:25] davidamichelson opened #852 "Lables for Spear Aggregate Pages"
For All Pages (http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2200)

Labels Should be Original > New

SPEAR data about Abgar VI - [Syriac] > SPEAR Factoids about Abgar VI - [Syriac]

Person Information > Person Factoids about Abgar VI - [Syriac] Note: This box is suppressed on pages for non-person URIs.

From Persons database > About Abgar VI

[2016-10-26 19:07] davidamichelson opened #853 "Auto generated e-mail subject in contact form is not correct"
At least for BHSE see Subject: macarius the great RE: http://syriaca.org/work/http://syriaca.org/work/355

[2016-10-27 03:25] #853 closed

[2016-10-27 12:37] wsalesky commented on #836
We don't have an interactive map for persons...

[2016-10-27 13:47] nathangibson opened #854 "Sidebar in Works Cited Module (Dev Server)"
@wsalesky On the dev server works cited module, I'm not seeing the sidebar listing relations and subjects that used to be there. FF & Safari on Mac.

[2016-10-27 13:49] nathangibson opened #855 "Relationships showing link to self (dev server)"
At http://wwwb.library.vanderbilt.edu/work/355 the first item under "Relationships" is a link to the same page (http://wwwb.library.vanderbilt.edu/work/355).

[2016-10-27 14:06] nathangibson commented on #836
I've been wishing for an interactive persons map for a while -- it just hasn't been a high enough priority ...

[2016-10-27 15:19] nathangibson opened #856 "Strange search results in Safari works cited module (prod app)"
Some search result items have a weird text display in Safari 8.0.8 (Mac 10.10.5). E.g., http://syriaca.org/exist/apps/srophe/bibl/search.html?q=&title=&author=Brock&pub-place=&publisher=&date=&idno= displays as pictured below.
![syriaca_org__the_syriac_reference_portal](https://cloud.githubusercontent.com/assets/3083452/19773345/82ebc5c4-9c69-11e6-9034-fe6cc74b03dc.png)

[2016-10-27 16:12] wsalesky commented on #856
Added normalize space to template.

[2016-10-27 16:12] #856 closed

[2016-10-27 16:16] wsalesky commented on #836
I don't think it would be that hard to add, I'm guessing it would look something like the related places map on the individual persons page. I will put a little thought into it and see if we can get something up. The code all exists already, in theory it should not be difficult to do. (Famous last words.)

[2016-10-27 16:17] wsalesky commented on #854
Interesting...

[2016-10-27 16:26] nathangibson commented on #856
Awesome, thanks!

[2016-10-27 17:05] wsalesky commented on #836
Updated:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html

[2016-10-27 17:21] wsalesky commented on #836
Additional options, we could also add an aggrigate timeline to the homepage if that would be of interest. (Like on SPEAR)

[2016-10-27 17:54] davidamichelson commented on #836
You are too much. Map would be great.

On Thu, Oct 27, 2016 at 12:22 PM, Winona Salesky <notifications@github.com>
wrote:

[2016-10-28 10:54] nathangibson opened #857 "Weird titles in BHSE search results"
Search http://syriaca.org/exist/apps/srophe/bhse/search.html?q=peter+the+iberian yields the following. Looked at the data and can't figure out why.
<img width="614" alt="syriaca_org__the_syriac_reference_portal" src="https://cloud.githubusercontent.com/assets/3083452/19804261/8f4900e4-9d0d-11e6-9168-60f3269fd6d5.png">

[2016-10-28 14:23] wsalesky commented on #857
Sorry about that. I did not realize there could be nested syriaca-headwords, xslt now checks and grabs only top level headwords as titles. Thanks!

[2016-10-28 14:23] #857 closed

[2016-10-28 14:37] wsalesky opened #858 "SPEAR - fix link to factoids in events panel"
Example:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/51

[2016-10-28 14:50] wsalesky opened #859 "SPEAR individual facoid pages"
@dlschwartz Did we discuss these yet? Is it just the factoid (with @refs as links?) and the citation? Do we want a side bar on the right linking to aggrigate pages on places/persons mentioned?

[2016-10-28 16:42] dlschwartz commented on #859
@wsalesky This is a good question which we haven't gotten into yet. We certainly want to see the factoid and the bibliographic reference. From this fine level of granularity, I think links to the SPEAR aggregation pages for persons and places with URIs as well as to SBD and the Gazetteer entries with each labeled as such would be ideal. As you create these pages, you might find it helpful to look

[2016-10-28 17:30] #854 closed

[2016-10-31 15:05] #855 closed

[2016-10-31 15:41] #768 closed

[2016-10-31 20:17] nathangibson opened #860 "TEI to Chicago citation stylesheets"
@wsalesky and @davidamichelson
Here's what I got from the TEI list in response to my query about TEI to Chicago-style citations. Maybe we could discuss on Wed. what to do with this.

Charles Muller:

Includes a a sample TEI-P5 bibliography (biblStruct-test.xml) for comparison. Inform Charles about any issues.

Also a stylesheet from Roberto Rosselli Del Turco which I will forward to you.

Related:

[2016-10-31 20:18] nathangibson commented on #860
And there are also stylesheets people shared for the other direction, TEI to Zotero, in case that's useful at some point.

[2016-11-01 13:24] #858 closed

[2016-11-01 14:39] wsalesky opened #861 "Aggregate page for keywords?"
Should we provide an aggregate page for keywords? I think it might be useful.
ex:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/keyword/emperor

(I would need to do a little work on the display if this is something we would like to have.)

[2016-11-01 17:10] wsalesky commented on #847
Working on this today... so far speed for dynamic rendering is pretty good.

[2016-11-01 17:41] nathangibson opened #862 "error on http://wwwb.library.vanderbilt.edu/work/2501"
`exerr:ERROR Exception while transforming node: A sequence of more than one item is not allowed as the first argument of tokenize() ("#bib2501-15 #bib2501-14", "http://syriaca.org/work/2501")  [at line 89, column 3]
In function:
	global:tei2html(node()*) [186:18:/db/apps/srophe/modules/lib/global.xqm]
	app:rec-display(node(), map) [39:9:/db/apps/srophe/modules/app.xql]
	templates:call-with-args(fu

[2016-11-01 18:03] wsalesky commented on #862
The culprit:
`<relation type="mssWitnesses" active="#bib2501-1" ref="dct:source" passive="#bib2501-15 #bib2501-14" source="#bib2501-7 #bib2501-16"/>`

That looks like a new way of handling relationships. Although this is not the error I would have expected.

[2016-11-02 12:33] nathangibson commented on #862
Yes, this is the record where we have been solidifying the new data format for NHSL. So I'm not surprised it's causing problems. I'll be getting in touch with you soon about visualization of this new data format. (You did a preliminary one for Rome, but there are still some things to work through.) Thanks!

[2016-11-02 12:44] wsalesky commented on #859
Initial factoid pages are up.

[2016-11-02 13:16] wsalesky commented on #862
Okay, I 'fixed' the bug; as in now at least you can view the record. I suspect we will need to make some changes to the display.

[2016-11-02 13:16] #862 closed

[2016-11-02 14:30] dlschwartz commented on #859
@wsalesky This is looking great! Thanks.

[2016-11-02 15:05] wsalesky opened #863 "Load first 20 relationships on aggregate page then use pop up"
Current implementation loads relationships in get-related.xqm module, should move that up to spear.xqm, which should fix speed issues.

[2016-11-02 16:12] davidamichelson opened #864 "Need better label for advanced search features in corner box"
Please make this a priority for this week.

[2016-11-02 16:14] davidamichelson opened #865 "Please label quotations in search results"
For example in  http://syriaca.org/persons/search.html?q=narsai

Search results:

9 matches for Keyword: narsai

1
Narsai - ܢܪܣܝNames: NarsaïNARSAÏNarsai (Narsetes) Poet and teacher of exegesis at the School of Edessa and at the School of Nisibis ; author of popular verse homilies ( memre ). URI: http://syriaca.org/person/650

this should be in a quotation marks: "Poet and teacher of exegesis at t

[2016-11-02 16:21] nathangibson opened #866 "Dev server BHSE produces no result"
Compare http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bhse/search.html?q=jean
to
http://syriaca.org/exist/apps/srophe/bhse/search.html?q=jean

[2016-11-02 16:23] #863 closed

[2016-11-02 16:24] wsalesky opened #867 "Browse results, and maybe search results seem to have lost the underline?"

[2016-11-02 16:25] davidamichelson commented on #865
@tacarlson We plan to push this to production server. It meets a request made to the editors from publications that we quote. Please let us know if you object. This will affect the Gazetteer.

[2016-11-02 16:31] tacarlson commented on #865
Seems good.  Always good to mark quotations as such.

Do we need to clean up space before semi-colon and extra spaces within parentheses in order to match the sources?

[2016-11-02 16:39] nathangibson opened #868 "Selecting source in SPEAR source browse produces error"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?fq=;fq-Source%20Text:The%20Letters%20of%20Severus%20of%20Antioch,%20%22Select%20Letters%22%201.01
gives the following error:

 [at line 86, column 4]

[2016-11-02 16:41] wsalesky commented on #868
Thanks. Those double quotes in the title are causing some havoc with my facets. Will work on it.

[2016-11-02 17:04] nathangibson opened #869 ""HI THERE" randomly appearing on the beginning of some HTML text sections"
E.g., "Description" section of http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2823
"Syriac Manuscript Witnesses" in http://wwwb.library.vanderbilt.edu/work/270
Several places on http://wwwb.library.vanderbilt.edu/work/2501 (experimental record)

[2016-11-02 17:06] wsalesky commented on #869
Doh! Sorry, some local testing making over to the dev server...

[2016-11-02 17:07] nathangibson commented on #869
I figured :-)

[2016-11-02 17:08] wsalesky commented on #869
Fixed.

[2016-11-02 17:08] #869 closed

[2016-11-02 19:11] tacarlson opened #870 "Alphabetization of browse pages should ignore "al-""
http://syriaca.org/geo/browse.html?lang=en&sort=K begins with al-Khadara' and al-Kufa rather than alphabetizing them under "Kh" and "Ku" respectively.

[2016-11-02 19:14] tacarlson opened #871 "First entry in Arabic browse alif doesn't begin with alif"
http://syriaca.org/geo/browse.html?lang=ar&sort=%D8%A7
The first entry in the list (http://syriaca.org/place/62) does not begin with this Arabic letter, so I am not sure why it's there.  It is also listed separately under the proper Arabic letter (qaf).

[2016-11-02 19:46] tacarlson opened #872 "Some duplicate entries in Arabic browse lists"
This is a long bug report with a lot of results from a series of tests I just ran.  My speculations as to why this is happening are in the final paragraph.  Sorry for my prolixity, but I wanted to document this!

http://syriaca.org/geo/browse.html?lang=ar&sort=%D9%82 duplicates the listing of http://syriaca.org/place/62 (actually, it occurs three times, once much farther down).  While the record i

[2016-11-02 19:47] tacarlson commented on #871
Related to issue #872 .  See discussion in final paragraph there.

[2016-11-02 20:03] wsalesky commented on #872
@tacarlson I suspect you are correct. We create the browse on any Arabic name, but the display is on the first. I suspect poor planning on my part when I wrote the code.

We should discuss the desired behavior, before I make the corrections. We can continue to select the way we currently do, but correct the display so the correct name is selected. Or we can choose an Arabic name as a defacto "head

[2016-11-02 20:05] dlschwartz commented on #861
@wsalesky Sorry we didn't get to discuss this earlier today. I think this is a good idea. Thanks.

[2016-11-02 20:59] davidamichelson opened #873 "SPEAR: Work View for Works in SPEAR"
Please prepare a page for each work that included information similar to the aggregate search page.

This page should be formed on the basis of the work URI found in the header of the TEI file(s)

The information should included counts for the 3 types of factoids, a link to NHSL for information about the work, list of the bibls URIs cited in the factoids, the editors who prepared them.

[2016-11-02 21:12] davidamichelson opened #874 "Advanced Search in Gazetteer Place Name returns results that it should not."
A search for "Abd*" in Gazetteer> Advanced Search>Place Name: returns results that it should not.

I believe this is due to a mistaken x-path in the search.

See:

http://syriaca.org/geo/search.html?q=&p=Abd*&loc=&e=&eds=&ede=&a=&ads=&ade=&c=&cds=&cde=&existds=&existde=&type=

Mistaken Results include:
http://syriaca.org/place/217.html

Note that this record has no tei:body/listPlace/placeName tha

[2016-11-02 21:40] davidamichelson opened #875 "Old Deprecated Data Shows up in Search"
For example, this search http://syriaca.org/search.html?q=Jacob+Nisibis
 returns a record which is deprecated:
5
Eusebius of Samosata - ܐܘܣܝܒܝܘܣ ܕܫܡܝܫܛNames: Ewsebiyōs d-shamishṭEusebiusʾEwsēbyōs da-?mīšāṭEusèbe de SamosateEUSÈBEEusebius was a ...URI: http://syriaca.org/person/1234

[2016-11-02 21:40] davidamichelson commented on #875
Note, when you click through the record is no longer there, but it should not be in the search results at all.

[2016-11-02 21:58] davidamichelson commented on #821
@wsalesky

Here are some edits, also please make all the examples life links to the search executed on the whole data set, http://syriaca.org/search.html?q=

**Search Tips**

For best results, users are recommended to use the advanced search functions (link on "advanced search functions")

Search results can also be improved by the use of the the following special search characters:

**Wildcard Ch

[2016-11-03 13:40] wsalesky commented on #864
@davidamichelson,  how does this look:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html

[2016-11-03 14:29] davidamichelson commented on #864
I think it is still too opaque. Maybe instead of "Advanced" it could say "Search Tools"?

[2016-11-03 14:30] wsalesky commented on #864
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html

[2016-11-03 15:05] nathangibson commented on #821
I edited your above text @davidamichelson to fix a couple typos. Otherwise, I think it looks good.

[2016-11-03 15:21] wsalesky commented on #861
Okay. We can talk about tweeks at a different meeting.

[2016-11-03 15:25] dlschwartz commented on #861
Yes, let's do that on Wednesday. Thanks

[2016-11-03 15:25] wsalesky commented on #875
@davidamichelson  Okay. I added a new xconf file for the depreciated data directory. I will need to add this to the data .xar and add a script to deploy it correctly. However it should be functioning correctly on both dev and prod. Please let me know if that is not the case.

[2016-11-03 15:26] dlschwartz commented on #821
I agree. This looks good to me.

[2016-11-03 15:27] nathangibson commented on #821
This is a lot of text, though. I wonder if it would be more readable in table form, such as the following (which, however, has not preserved line breaks and which still needs @wsalesky -fairy-dust-design-magic).

| Type                      | Example Search         | Example Results                                                                          | Explanation

[2016-11-03 15:30] dlschwartz commented on #821
Ohhh, I like the table even better!

[2016-11-03 16:21] davidamichelson commented on #864
I like it. I'd like to expedite getting this to the production server. Let me poll the editors. @tacarlson, this will affect the Gazetteer as well if you approve.

[2016-11-03 16:23] nathangibson commented on #864
+1

[2016-11-03 16:26] davidamichelson commented on #821
Sorry, I fell very strongly opposed to the table. The point of this help is to be accessible to non-tech scholars who are used to prose and text criticism but have never even met the concept of wildcard characters befoire. I think the table will not be intuitive for them because it starts with the characters rather than the purpose.

[2016-11-03 16:33] nathangibson commented on #821
Well, I can understand that. It is a lot of text, though. What about adding a bit of extra formatting to the prose to make it easier to skim. For example, putting the relevant characters in parentheses after the bold headers, and labeling the examples clearly with **Example: ** or something?

[2016-11-03 16:42] davidamichelson opened #876 "Labelling related to Search"
This is related to #864 and #821

Please make the following changes to the Advanced Search page and banner:

1. Eliminate the phrase "Wild cards * and ? may be used to optimize search results. Wild cards may not be used at the beginning of a word, as it hinders search speed." Phrase since this is now covered by the "Search Tips? button"

2. Rename the "Search Tips?"  button to "Search Help?" which

[2016-11-03 16:44] davidamichelson commented on #821
That would be fine, in fact I had not intended the prose here to be fully styled, please make it beautiful @wsalesky

[2016-11-03 16:45] davidamichelson commented on #821
Also the quotation marks will be need special handling since sometimes they are part of the actual search string

[2016-11-03 16:55] davidamichelson opened #877 "Wildcard characters do not work with Syriac exact phrase searches"
This is not a priority, but we could discuss at some point.

[2016-11-03 16:57] davidamichelson commented on #877
I tried to type in "ܡܪܝܡ ܐܠܗܐ"~3 but could not make it work on a mac.

[2016-11-03 16:57] davidamichelson commented on #877
Even above it is transposing the quotations!

[2016-11-03 21:06] davidamichelson opened #878 "Fixing links on landing pages for BHSE and Q"
@wsalesky Could you please merge just these changes (https://github.com/srophe/srophe-eXist-app/commit/d194486ddeebd092707898c598fb00a75f9130ac) to production. The sample records for BHSE and Q on the landing pages pointed to the Dev server rather than the production. Would you please check that I did the relative paths correctly and if correct please push to the production server? Thanks!

[2016-11-04 00:41] wsalesky commented on #878
Done.

[2016-11-04 00:41] #878 closed

[2016-11-04 01:51] wsalesky commented on #821
First attempt is up on dev (any search page). It is quite wordy, which requires scrolling. I could add collapsible sections to make it more compact with slightly less scrolling. Let me know what you think.

[2016-11-04 09:53] nathangibson commented on #821
Looks good to me. Did we purposely leave out "Proximity Characters"?

[2016-11-04 17:43] #875 closed

[2016-11-04 20:31] wsalesky commented on #821
Nope, that was an inadvertent edit. I will add them back in.

[2016-11-04 20:50] nathangibson commented on #821
FWIW, I think the formatting looks good now. Not sure that it's such a terrible thing to have to scroll either.

[2016-11-04 20:51] wsalesky commented on #821
Thanks. I dislike the scrolling, but I think I will let it go.

[2016-11-07 13:58] wsalesky commented on #876
I made these changes, let me know what you think. We can move them to production if you approve.

[2016-11-07 15:26] davidamichelson commented on #876
Thanks I will look over these search ones today.

[2016-11-07 15:46] wsalesky commented on #874
This is not a xquery bug, it is in the xml:
https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/217.xml#L105
https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/217.xml#L106

Are these names a mistake?

[2016-11-07 15:52] #867 closed

[2016-11-07 15:54] tacarlson commented on #874
Yes, these names are a mistake, evidently derived from the `<placename>` on https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/217.xml#L107 by the earlier process which had inserted simplified Syriac names.

Any ideas on scripts to detect all syriaca-simplified-script names which were *not* derived from a tei:TEI/body/listPlace/place/placeName but from some other placeName?  (No

[2016-11-07 15:55] wsalesky commented on #874
Yes, I will write a script to find all the added names and then check them against the correct placeNames (id, only the ones that are the direct child of tei:place) I will make a list of the problem records so they can be reviewed before I make any changes.

[2016-11-07 16:26] wsalesky commented on #874
I found 10 records:
https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/89.xml
https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/665.xml
https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/97.xml
https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/1502.xml
https://github.com/srophe/srophe-app-data/blob/master/data/places/tei

[2016-11-07 16:30] wsalesky commented on #480
This bug has been fixed in eXist, we will need to update our version of the db. I will talk to Dale about it in the next few weeks.

[2016-11-07 17:37] wsalesky commented on #873
Initial version of works page.
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/spear/119

We can discuss at the meeting how it should be organized. And accessed.

[2016-11-07 17:58] dlschwartz commented on #873
Great, thanks Winona. I'll put this on the agenda for Wednesday.

[2016-11-08 01:12] wsalesky commented on #865
@davidamichelson Can I push this change to production?

[2016-11-08 01:18] #866 closed

[2016-11-08 01:20] davidamichelson commented on #865
Yes please.

On Nov 2, 2016, at 11:31 AM, tacarlson wrote:

[2016-11-08 01:28] wsalesky commented on #865
Done.

[2016-11-08 01:28] #865 closed

[2016-11-08 15:26] #868 closed

[2016-11-08 15:50] wsalesky commented on #836
The map for browsing all places with relationships to persons is really slow (another place where I imagine RDF will help us out). Also each person can have multiple places, how would we connect the person and the place? Have the place label and list the person and relationship type in the popup bubble?

[2016-11-08 15:51] wsalesky commented on #873
Also, should we change the content of the "Sources" tab to just list these with each title linking to the work aggregate page? This is what would make the most sense to me.

[2016-11-08 17:50] wsalesky commented on #877
Interesting! A challenge. I will have to do some research. I know you can add some special characters to indicate where the text changes direction. We may need to do that.

[2016-11-08 18:45] wsalesky opened #879 "Fix relationships in SPEAR"
Compare:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/13

"Related Persons and Places" on the right with relationship factoids in the center, should "Anonmyous 2234" and "ʿAbshmayya" should also show up here?

[2016-11-09 09:15] nathangibson commented on #873
Well, I still need to create the NHSL resource.

[2016-11-09 15:33] wsalesky commented on #873
Okay, will there be a link/ptr/reference to the record in the SPEAR xml?

[2016-11-09 15:35] #794 closed

[2016-11-09 15:53] dlschwartz commented on #879
Yes, I think they should show up but maybe we should discuss in some more detail. Might this just be redundant?

[2016-11-09 15:54] wsalesky commented on #879
Well, they are not linked in the description, so they are useful. If we link them in the body of the factoid then it would indeed be redundant. We can discuss.

[2016-11-09 15:56] dlschwartz commented on #873
Yes there will be. We haven't put that in yet but we will.

[2016-11-09 15:57] wsalesky commented on #873
Okay. Great, I will just leave a "holding place."

[2016-11-09 16:43] wsalesky commented on #879
I also added the keywords to this section. We could consider adding the bibl citations as well.
See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2268

[2016-11-09 16:49] nathangibson opened #880 "Error on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/650"

[2016-11-09 16:52] nathangibson commented on #880
This bibl is available here http://syriaca.org/bibl/650 but there is a display problem (perhaps unrelated) in the "preferred citation."

should be

[2016-11-09 16:53] davidamichelson commented on #864
Unless there are any objections at our meeting today, I am approving this change of label. Please deploy to all modules and push to production.

@tacarlson I'm assuming silence means you find this amenable. Please know your input is welcome.

[2016-11-09 16:56] davidamichelson commented on #864
Could we add this label to the boxes on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/saints/index.html please?

[2016-11-09 16:57] wsalesky commented on #880
The error is unrelated to the preferred citation issues. I fixed the error and will take a look at the citation formatting next.

[2016-11-09 16:57] davidamichelson commented on #821
Okay, a few thoughts on this.

1. Maybe these helps should just be a documentation page for each module then the scrolling would be natural? We can discuss briefly today.

2. I like how each pop up has a link to "advanced search" that is module specific. Let's discuss which modules the examples should search.

[2016-11-09 16:58] wsalesky commented on #864
Yes, I will go through and add it to all the pages with the 'advanced search widget.'

[2016-11-09 16:59] davidamichelson commented on #876
I think that the changes did not get made on the results page (nos 4-5 above):

For example on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bhse/search.html?q=Test

I get "You may wish to expand your search with a wildcard (*) to increase results. See search tips for more details.

collection('/db/apps/srophe-data/data/works/tei')//tei:body[ancestor::tei:TEI/descendant::tei:title = 'Biblio

[2016-11-09 17:00] wsalesky commented on #876
Ops. you are correct. I will add those.

[2016-11-09 17:01] tacarlson commented on #864
This looks fine, although my preference would be to capitalize the mouse-over text "advanced search."  But I do not regard that as a sine qua non, if there is a reason to prefer it uncapitalized.

As it turns out, silence just means that I judged the issue title to have nothing to do with the Gazetteer.  Mentions of my user-name in issue comments are ineffective at reaching me because I am already

[2016-11-09 17:01] davidamichelson opened #881 "Labelling full Syriaca.org search"
Let's discuss labeling for http://syriaca.org/search.html

[2016-11-09 17:10] davidamichelson commented on #821
Please ignore 1 and 2 above. Instead make the box a toggle. And please push to production.

[2016-11-09 17:16] davidamichelson commented on #881
Change "Search Syriaca.org" to "Search Syriaca.org (All Publications)"
Add sub heading underneath: "More detailed search functions are available in each individual publication" [link: Syriaca.org].

[2016-11-09 17:19] davidamichelson commented on #881
Please temporarily supress title and citation until we can label them better.

[2016-11-09 17:21] davidamichelson opened #882 "On Search All Modules"
Nathan, could you please figure out the proper x-path for http://wwwb.library.vanderbilt.edu/exist/apps/srophe/search.html so that we have have a box that searches only titles of works and another that searches only secondary lit bibls

[2016-11-09 17:45] davidamichelson opened #883 "Labels for the SPEAR Work Aggregate Page"
re: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/spear/119

"SPEAR Factoids from" change to "A Prosopography of {Title of Work}"

URI: Should be "URI: ...spear/aggregate.html?id=http://syriaca.org/work/119"

This work uri will be found in header/sourceDesc

"About Chronicle of Edessa" change to "Publication Information"

Editor: Daniel Schwartz
Co

[2016-11-09 18:31] davidamichelson commented on #883
Change the list in the about box to these labels:

Data Set:
-This prosopography contains (count total of all three kinds) factoids about (count all unique person URIs) persons, (count all unique places) places, and (count all keywords) subjects.
-The data is composed of 359 biographical factoids, 25 relationship factoids, and 171 event factoids.

[2016-11-09 18:36] davidamichelson commented on #883
Change label:
"NHSL Record information" to "About: {English Headword from Work URI in NHSL}"

{info TBD to pull from the record, likely authors, date, abstract}

View full entry in the _New Handbook of Syriac Literature_

[2016-11-09 18:41] davidamichelson commented on #883
Label "Related Persons, Places and Keywords" change "Browse Persons, Places and Keywords In the {Chronicle of Edessa}"

Then each entry points not to aggregate person page, but to the advanced browse filtered by work and person, eg http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?fq=;fq-Source%20Text:Chronicle%20of%20Edessa;fq-Person:http://syriaca.org/person/2201&view=advanc

[2016-11-09 19:08] #844 closed

[2016-11-10 14:39] davidamichelson opened #884 "Easy place to cut and past Headword plus URI"
Dear Colleagues,
I often find myself on our sighting wanting to cut and past the following:
```John of Dalyatha - ܝܘܚܢܢ ܕܕܠܝܬ̈ܗ URI: http://syriaca.org/person/826```
But there is not a single step way to do this, at best one gets:

[code]

[2016-11-10 14:57] dlschwartz commented on #884
This would be helpful. More often, however, I find myself wanting a button to copy the URI. Could we also do a button for this like they have on Pleiades? I recognize that we are more likely to want this than other users, but it would still be nice to have.

[2016-11-10 15:07] nathangibson commented on #884
Both of these buttons would be nice.

[2016-11-10 17:07] wsalesky commented on #864
Resolved via: https://github.com/srophe/srophe-eXist-app/commit/bd0be5dfd946815868bd06253c4a9fcf673775fa

[2016-11-10 17:07] #864 closed

[2016-11-10 19:05] wsalesky commented on #821
Here is an example with the show/hide rather then the popup:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/authors/search.html

Let me know if you have a preference.

[2016-11-10 19:22] wsalesky commented on #881
@davidamichelson  Shall I push this to master?
See:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/search.html

[2016-11-10 20:01] davidamichelson commented on #872
@wsalesky Thanks, I will discuss this with @nathangibson on Tuesday and we can report to you on Wed.

[2016-11-11 03:59] wsalesky opened #885 "More punctuation issues in bibl"
http://wwwb.library.vanderbilt.edu/bibl/670

[2016-11-11 04:02] wsalesky commented on #880
Corrected on dev, need to move to prod.

[2016-11-11 15:55] #880 closed

[2016-11-11 15:57] wsalesky commented on #810
@davidamichelson I think we can close this yes?

[2016-11-11 15:57] #814 closed

[2016-11-11 16:01] nathangibson commented on #880
Thanks!

[2016-11-11 16:04] wsalesky commented on #880
I found and corrected a few other issues. There is also at least one outstanding issue: https://github.com/srophe/srophe-eXist-app/issues/885

[2016-11-11 17:31] dlschwartz opened #886 "Broken links"
The links on the documentation page for the Gazetteer are broken, both dev and production.

[2016-11-11 17:36] wsalesky commented on #886
Sorry, bad relative path. Fixed!

[2016-11-11 17:36] #886 closed

[2016-11-11 17:44] #830 closed

[2016-11-11 17:45] wsalesky opened #887 "SPEAR: Factoids are not showing up for some aggregate pages"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/571

[2016-11-11 17:49] wsalesky commented on #841
Done at some earlier commit.

[2016-11-11 17:49] #841 closed

[2016-11-11 17:50] wsalesky commented on #876
Added. Will push to master, when I get the go ahead on either popup or toggle for 'Search Tips'
@davidamichelson @nathangibson @dlschwartz @jsaintlauren

[2016-11-11 17:57] wsalesky commented on #887
@dlschwartz This is a place with only person factoids associated with it. (We are not showing person factoids for places, currently, but that leaves us with no data here.)

Associated factoids:

[code]
and

[code]

[2016-11-11 20:26] davidamichelson commented on #884
What about implementing https://clipboardjs.com/

[2016-11-11 22:10] dlschwartz commented on #887
Yeah, this page is a little sad. However, it does include related persons and a link to the Gazetteer. I'll have to think about this. I really like this layout: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/place/18 and wouldn't want to mess it up. In other words, I like what you have prioritized in the main section here and wouldn't want to priori

[2016-11-12 19:38] tacarlson opened #888 "Bug in Works Cited module"
The "Preferred Citation" box of http://syriaca.org/bibl/670 reads:

Notice in particular the quadruple appearance of the string "Paris: Firmin-Didot et cie, 1919" in addition to the double and triple commas.

[2016-11-12 19:40] tacarlson commented on #888
There is also a missing space before "Severus" in the "Publication Title" below:
"A Collection of Letters ofSeverus of Antioch, from Numerous Syriac Manuscripts"

[2016-11-14 15:29] #883 closed

[2016-11-14 15:30] wsalesky commented on #873
See work done on:
https://github.com/srophe/srophe-eXist-app/issues/883

[2016-11-14 15:30] #873 closed

[2016-11-14 15:39] nathangibson commented on #888
Thanks for noticing this @tacarlson .

@wsalesky , I think we should pause on the visualization issues for this while we sort out among the editors what the correct data format for this is.

@dlschwartz and @davidamichelson , this was a record we discussed earlier and came up with a format that did not envision Zotero being a part of our workflow. Something like this in its current format would be

[2016-11-14 16:36] wsalesky commented on #851
Done, push to master with care.

[2016-11-14 16:36] #851 closed

[2016-11-14 16:39] wsalesky opened #889 "Better search/browse factoid display"

[2016-11-14 16:40] #889 closed

[2016-11-14 16:40] #852 closed

[2016-11-14 16:50] wsalesky commented on #859
I think these are in pretty good shape. Any new changes should be added as a new issue.

[2016-11-14 16:50] #859 closed

[2016-11-14 16:52] wsalesky commented on #849
I think this can be closed.

[2016-11-14 16:52] #849 closed

[2016-11-14 16:52] wsalesky commented on #848
I think this one can be closed as well.

[2016-11-14 16:52] #848 closed

[2016-11-14 16:57] #843 closed

[2016-11-14 16:57] wsalesky commented on #836
Should this be moved to production?  (without maps)

[2016-11-14 17:15] nathangibson commented on #888
OK, folks, what do you think about this?

https://github.com/srophe/srophe-app-data/blob/dev/data/bibl/tei/670.xml

Here's the situation: This bibl record is supposed to represent part 1 (so-called "Fasc. I") of a two-part edition by Brooks of the Letters of Severus in volume 12, fasc. II of Patrologia Orientalis. The problem is how to represent the two "monogr" level works of which this is a part

[2016-11-14 17:21] nathangibson commented on #836
I would vote to move it to production.

As far as the maps, what about a marker for each place mentioned (only 1 per place), and put a list of the relationships in the popup bubble (rel. type + person)?

[2016-11-14 17:23] wsalesky commented on #836
I'm working on the syriac keyboard today, but that actually sounds like it would be a fairly doable solution. I will take a look tomorrow. Thanks for the idea.

[2016-11-14 17:59] nathangibson commented on #872
If I may jump in as another curator of Arabic names ...

It seems to me as if we have 3 possible solutions:
 1. Automatically labeling one Arabic name as the headword. We could do this prioritized by source -- e.g., Yaqut takes precedence over Barsoum and so on.
 2. Manually choosing an Arabic headword for each place/person that has multiple Arabic names (213 places and 2 persons by my count).
 3.

[2016-11-14 18:04] nathangibson commented on #872
Also, I agree that http://syriaca.org/place/169 should be alphabetized before http://syriaca.org/place/27. Can't tell why it's not.

[2016-11-14 18:07] nathangibson commented on #872
@wsalesky In case it helps you run some tests, http://syriaca.org/place/27 should be alphabetized as رستن

[2016-11-14 18:25] wsalesky commented on #872
Thanks @nathangibson I will take a look.

Also, I think I can change the display name to match the one being used for alphabetization, theoretically. I would just need to filter the name display selection to chose the Arabic name matching the browse parameter.  So don't count #3 out if that is the preferred option.

[2016-11-14 19:23] tacarlson commented on #872
The third option is slightly more difficult operationally, because there may be multiple Arabic names which match the browse parameter, as in several of the cases I cited at first.

I hope we will discuss this in a meeting tomorrow.

[2016-11-15 02:45] wsalesky commented on #806
Test run of Syriac keyboard:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/search.html

I could use some testers. @davidamichelson @nathangibson @dlschwartz @jsaintlauren

[2016-11-15 16:46] nathangibson commented on #888
Note from 11/15 meeting:
For something like this, we could put a note like "series number = tomus" in case Zotero supports this in the future.

[2016-11-15 16:49] nathangibson commented on #888
@wsalesky Now we can discuss visualization for this. The main thing I see at this point is that the pages aren't showing up -- I can't tell why.

[2016-11-15 17:59] nathangibson commented on #872
OK @wsalesky , we've discussed this and for browse we'd like to try to do number 3. However, this will need some tweaking since some of the "alternate" names are very similar to each other and there's no reason for duplicates to show up right next to each other (for example, the two Arabic names for http://syriaca.org/place/567).

A couple possible ways to filter out names that are too similar:
 1

[2016-11-15 18:38] tacarlson commented on #872
Alternately, to filter out names, we could give you a list of Unicode characters to ignore (e.g. vowels) and equivalencies, and you could filter out duplicates according to equivalencies.

This will probably require some testing and tweaking before deployment.

@nathangibson what is MVC?

[2016-11-15 18:41] wsalesky commented on #872
Hi all, I'm going through the comments now. @tacarlson I think this may be a good solution but need to run through the code once before I commit to a method. I will get back to you all tomorrow on feasibility. Thanks.

[2016-11-15 18:54] wsalesky commented on #836
Moved to production. I am still working on the maps. Trying to make the code fast enough to use on the index page. Should be able to do. Making a new issue for it.

[2016-11-15 18:54] #836 closed

[2016-11-15 18:55] wsalesky opened #890 "Maps for SBD home page"
Add maps for persons. Add related persons to popup.

[2016-11-15 18:55] wsalesky opened #891 "Facets for SBD"
Should these be moved to production?

[2016-11-15 19:00] tacarlson commented on #872
Oh, is MVC https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller ?

[2016-11-15 19:01] wsalesky commented on #872
@tacarlson Yes, that is correct.

[2016-11-15 19:01] tacarlson commented on #872
Thanks!

[2016-11-15 19:01] #881 closed

[2016-11-15 19:03] wsalesky commented on #888
Thanks @nathangibson I will take a look.

[2016-11-15 19:11] wsalesky commented on #888
Thank you! For some reason I could not see that it was the biblScope that was missing.
How does this look:
http://wwwb.library.vanderbilt.edu/bibl/670

[2016-11-15 19:54] nathangibson commented on #891
You mean the faceted browse? I'd be in favor of that. What about the other SBD editors @davidamichelson @dlschwartz @jsaintlauren ?

[2016-11-15 19:56] wsalesky commented on #891
Yes, the advanced browse. Did we finish testing it?

Sent from my iPhone

[2016-11-15 20:14] nathangibson commented on #891
Oh, it looks like it does need a bit more testing. I’ll try to get to that. One thing I remember from previously (not a big deal) is that if you click on a facet twice it adds it twice, so you get a search like this: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?fq=;fq-;fq-Born:http://syriaca.org/place/136;fq-Born:http://syriaca.org/place/136&view=facets. Doesn’t really

[2016-11-15 20:19] nathangibson commented on #888
Thanks @wsalesky ! Looks good to me. I think we can close this.

[2016-11-15 20:19] #888 closed

[2016-11-16 15:19] dlschwartz commented on #806
I haven't had a lot of time to test this. The main issue I see right off is that it is difficult to use the wildcard characters. I only managed to do it by getting out of the Syriac keyboard by clicking on a different field. This moved the Syriac text from left adjust to right adjust and allowed me to input the wildcard characters from my keyboard.

[2016-11-16 15:38] nathangibson commented on #806
This is great! A couple things:
 1. When I'm on a non-blank results page like http://wwwb.library.vanderbilt.edu/exist/apps/srophe/search.html?q=%DC%A1%DC%AA%DC%9D , clicking on the keyboard button in the top right just sets the field to the search field and changes the typing direction but doesn't actually pull up the keyboard. (FF 49.0.2 on Mac 10.10.5)
 2. The "Enter" button doesn't execute a s

[2016-11-16 16:31] wsalesky commented on #890
Added map.
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html

We can review before pushing to production.

[2016-11-16 16:40] wsalesky commented on #890
Not sure about the placement of the map, as it pushes all the content way down the page. We could move it to the right column, or move it elsewhere.

[2016-11-16 17:11] nathangibson opened #892 "Search Help on SBD"
On http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/search.html if I click search help I can't scroll or close the pop-up.

[2016-11-16 17:22] nathangibson commented on #872
We're going to try ignoring certain unicode characters (as per @tacarlson 's suggestion above). I think I already gave you a list of these but if not let me know.

[2016-11-16 17:54] nathangibson commented on #872
Also, a good example of a place that should have two entries in different places on the page, see http://syriaca.org/place/42.html.

[2016-11-16 18:14] dlschwartz opened #893 "Grouping person factoids on person aggregation page"
Can we group types of person factoid: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201
@wsalesky please let me know if I should give you come kind of ordering for this. It might be best to start with grouping by type of information and then once we can see that deciding whether or not to order them further.

[2016-11-16 18:16] dlschwartz opened #894 "About box in person aggregation page"
In the “About” box on the upper right hand of the person aggregation page, I think we should replace “View full entry in Syriac Biographical Dictionary” with “View entry in Syriac Biographical Dictionary”.

[2016-11-16 18:17] dlschwartz opened #895 "Bug in rendering relationships in SPEAR"
Different wording of the same relationship: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2570
Musonius and Alexander Intimate Relationship
Alexander , Musonius , Martyrius had an intimate relationship.

[2016-11-16 18:19] dlschwartz opened #896 "Browse box in SPEAR work aggregation page"
In the right hand column, can we change browse box to read: “Persons”, “Places”, and “Keywords” without the “Related”?

[2016-11-16 18:22] wsalesky opened #897 "404 for Edessa on dev"

[2016-11-16 18:49] wsalesky commented on #897
Looks like a controller.xql issue:
Does not work:
wwwb.library.vanderbilt.edu/place/78.html

Does work:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/78.html

[2016-11-17 14:55] wsalesky commented on #892
Fixed also changed to collapsing div rather then popup, I think it is better for usability.

[2016-11-17 14:56] wsalesky commented on #791
I think this is done.

[2016-11-17 14:56] #791 closed

[2016-11-17 15:14] #876 closed

[2016-11-17 15:17] #821 closed

[2016-11-17 15:19] nathangibson commented on #892
Sorry to reopen -- weirdly the "Search help" button doesn't do anything now for me on this page http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/search.html (FF and Safari)

[2016-11-17 16:03] wsalesky commented on #892
Looks like a webhook hiccup. I manually moved the file. Looks okay now.

[2016-11-17 16:03] #892 closed

[2016-11-17 16:06] wsalesky commented on #897
Unless this is a big usability problem on the dev server I am going to leave this. It works well on production.

[2016-11-17 16:06] #897 closed

[2016-11-17 16:15] dlschwartz commented on #897
No problem. I only mentioned it yesterday in the meeting because I stumbled across it. Thanks.

[2016-11-17 16:29] wsalesky commented on #890
Another options for map placement:
http://wwwb.library.vanderbilt.edu/persons/index.html

[2016-11-21 10:35] nathangibson opened #898 "Spacing in abstract of http://wwwb.library.vanderbilt.edu/person/2786"
Abstract of http://wwwb.library.vanderbilt.edu/person/2786 collapses space between links: "a homily on the Virgin Maryextant in Syriac" instead of "a homily on the Virgin Mary extant in Syriac"

[2016-11-25 21:15] #898 closed

[2016-11-28 14:05] #896 closed

[2016-11-28 14:08] #894 closed

[2016-11-28 15:00] wsalesky commented on #893
First attempt is up.
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/aggregate.html?id=http://syriaca.org/person/2201

[2016-11-28 15:08] wsalesky opened #899 "Bug in factoid display"
Bad formatting:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/3036-8

[2016-11-28 15:15] wsalesky commented on #895
These are two different factoids, coded with different name attributes:

`<relation ana="personal" name="snap:IntimateRelationship" mutual="http://syriaca.org/person/2571 http://syriaca.org/person/2570"></relation>`

and
`<relation ana="personal" name="syriaca:IntimateRelationshipWith" mutual="http://syriaca.org/person/2570 http://syriaca.org/person/2571 http://syriaca.org/person/2573"></relation>

[2016-11-28 15:55] #899 closed

[2016-11-28 15:59] #885 closed

[2016-11-28 16:01] wsalesky commented on #879
This one was fixed, but never closed. Closing now.

[2016-11-28 16:01] #879 closed

[2016-11-28 17:39] wsalesky commented on #884
@davidamichelson Do you want to grab dates along with person names when we copy?

or

[2016-11-28 18:40] wsalesky commented on #884
Demo: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/980
We can tweak if desired.

[2016-11-30 15:36] dlschwartz commented on #893
@wsalesky I think this is looking great! I might want to revisit this but for now this is a solid improvement. In the next week or so, I will likely upload a test file that will include a fabricated set of data to give us a few examples of every possible option for a person factoids. I think that will help as we test this display. Thanks Winona.

[2016-11-30 15:36] #893 closed

[2016-11-30 17:36] wsalesky commented on #890
@davidamichelson What do you think about this version of the maps on the persons home page?

[2016-12-05 15:53] #887 closed

[2016-12-05 16:07] wsalesky opened #900 "Extract Syriaca.org specific xslt templates from tei2html.xsl"
Will make xslt reuse, and local maintenance easier.

[2016-12-05 16:37] wsalesky commented on #900
Caused issues on production. Was not importing other stylesheets correctly. More testing needed.  (Works on Dev.)

[2016-12-05 16:54] wsalesky commented on #884
@davidamichelson @dlschwartz @nathangibson Did we want to push this to productions?

[2016-12-05 17:03] wsalesky opened #901 "Bug in rendering related persons/places"
Code does not get persons/places in relation elements

[2016-12-05 17:05] #901 closed

[2016-12-05 17:11] dlschwartz commented on #884
This looks good to me. I would say yes. But please let some others weigh in first. Thanks

[2016-12-05 17:21] wsalesky commented on #861
@dlschwartz I think this one has been resolved, reopen if you feel there is more to be discussed.

[2016-12-05 17:21] #861 closed

[2016-12-05 17:56] wsalesky commented on #870
Was sorting on the unfiltered  title. Fixed.

[2016-12-05 17:56] #870 closed

[2016-12-06 14:30] wsalesky commented on #900
Changed my mind about this one.

[2016-12-06 14:30] #900 closed

[2016-12-06 15:46] nathangibson commented on #884
I think so. I do like the button next to the URI. I'm a little less certain about whether the clipboard in the page title is too busy.

[2016-12-06 15:47] wsalesky commented on #884
@nathangibson I don't love the clipboard near the title either, not sure where else to put it though. Perhaps float it over near the other buttons?

[2016-12-06 16:26] tacarlson commented on #884
Is this to be deployed on production modules, or only for internal use on the dev server, like the page counts and the next entry button?

If for production, I am unsure whether the clipboard button is clear enough cross-culturally for a broad audience.  I have seen a link button to copy a URL onto a clipboard, but that is not our use case.

The button next to the title isn't pretty, but separatin

[2016-12-06 17:44] dlschwartz commented on #884
FWIW, I almost never want to cut and paste headword and URI. I frequently want to cut and paste URIs. If we decide that this button clutters the headword too much and ought to be cut, I'm alright with that. I know others, @davidamichelson, want such a button.

[2016-12-07 17:01] wsalesky commented on #872
@tacarlson @nathangibson How does this look?
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/geo/browse.html?lang=ar&sort=%D8%A7

[2016-12-07 17:30] davidamichelson opened #902 "Please research using the github wiki for documentation including slurping it into the app"

[2016-12-07 17:36] nathangibson commented on #891
I need to clean up gender data.

[2016-12-07 17:38] nathangibson commented on #891
I also need to write up the language code mappings.

[2016-12-07 17:43] nathangibson commented on #891
@wsalesky Please remove the "saint type" facet for now, until we get the data cleaned up more.

[2016-12-07 17:56] davidamichelson commented on #884
Here is the result of our discussion:

For the title: please move the clipboard button to the right of the printer icon. When clicked this icon will copy "Aaron of Alexandria - ܐܗܪܘܢ ܕܐܠܟܣܢܕܪܝܐ - http://syriaca.org/person/980"

For the URI itself please turn "URI:" into a button that copies the URI (similar to the clipboard button). Delete the current clipboard button.

Lastly, when the URI itself

[2016-12-07 20:17] nathangibson commented on #891
@wsalesky I've created the language list in the ODD file (https://github.com/srophe/srophe-eXist-app/blob/dev/srophe-app/documentation/syriaca-tei-main.odd).

The path to grab the human-readable label for a particular language code (e.g., "syr") would be:
`//*[@ident='xml:lang']/valList/valItem[@ident='syr']/gloss`

[2016-12-07 22:18] tacarlson commented on #872
Thank you for working on this!  This is a lot closer!

A couple oddities remain:

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/place/295 has three Arabic names, two of which differ only by a vowel (so one of those should be suppressed), yet it occurs three times on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/geo/browse.html?lang=ar&sort=%D8%A8 (twice together with two different Ar

[2016-12-08 14:38] wsalesky commented on #872
@tacarlson Thank you, that helps. I have added in the correct display name, will work on the correct filtering of duplicates.

[2016-12-08 14:45] wsalesky commented on #872
@nathangibson Perhaps you can help?
I thought I was filtering out vowels? Here is a simple test case using my current filters. It does not seem to do what I want.

[code]

[2016-12-08 14:54] davidamichelson commented on #884
Looks great with a couple of tweaks needed please.

First the clipboard box (at least on Firefox for Mac) is slightly bigger than the print and other icon boxes, can you make it the same size please?

Second, the URI button by the URI is nice but now makes the information "i" button a bit crowded. Should we get rid of it?

[2016-12-08 14:56] davidamichelson commented on #884
And one more, when I click on the actual URI to highlight it, it is also grabbing the colon: ": http://syriaca.org/person/1092" I think we can just delete the colon from the HTML page since we have the button box now.

[2016-12-08 14:56] wsalesky commented on #884
Yes, I think we should get rid of it.

[2016-12-08 15:09] wsalesky commented on #884
Okay, how is this:
http://syriaca.org/place/78.html

[2016-12-08 15:49] nathangibson commented on #872
As best I can tell, there are two problems:
 1. We need to remove `^` from the unicode range at the end.
 2. For some reason eXide does not seem to recognize the unicode characters as unicode. It works if I insert the Arabic characters themselves, though you may not even be able to see them here:
[code]

[2016-12-08 15:53] nathangibson commented on #884
I like that.

[2016-12-08 17:14] davidamichelson commented on #884
Yes, could we also add these features to the search results and browse previews?

[2016-12-08 18:00] nathangibson commented on #891
@wsalesky I've cleaned up the data for the sex element except for a couple editorial decisions needed from @davidamichelson and @jsaintlauren

[2016-12-08 18:08] tacarlson commented on #884
For someone who is not in on this discussion, the clipboard button to the right does not evidently do anything, and the URI button highlights the URI, but for what purpose is unclear.  Would it be possible to add mouse-over text or some explanation for general users, since we have this deployed on production?

[2016-12-08 18:11] wsalesky commented on #884
Yes, we can add a mouse over, and also perhaps a little dialog popup that says 'copied' as done here:
https://pleiades.stoa.org/places/874298

[2016-12-08 18:22] tacarlson commented on #884
Seems like a good model, although I do prefer capitalization and sentence punctuation, when possible...

________________________________
From: Winona Salesky <notifications@github.com>
Sent: Thursday, December 8, 2016 12:11:46 PM
To: srophe/srophe-eXist-app
Cc: Carlson, Thomas Andrew; Comment
Subject: Re: [srophe/srophe-eXist-app] Easy place to cut and past Headword plus URI (#884)

Yes, we can a

[2016-12-08 18:27] wsalesky commented on #884
I can add capitalization and punctuation. :)

For the clipboard we should probably have a full sentence to explain what is being copied:
'Record title and id have been copied to your clipboard.'

Seems a little long, any other thoughts?

@davidamichelson @nathangibson @dlschwartz @jsaintlauren ?

[2016-12-08 18:31] tacarlson commented on #884
Perhaps "Copies record title & URI to clipboard."?

________________________________
From: Winona Salesky <notifications@github.com>
Sent: Thursday, December 8, 2016 12:27:36 PM
To: srophe/srophe-eXist-app
Cc: Carlson, Thomas Andrew; Comment
Subject: Re: [srophe/srophe-eXist-app] Easy place to cut and past Headword plus URI (#884)

I can add capitalization and punctuation. :)

For the clipboard we

[2016-12-08 18:33] wsalesky commented on #884
Yes, that is fine for the mouseover, I think we should also have text for a successful action.

[2016-12-08 19:44] tacarlson commented on #884
I think "Copied!" is clear and concise, but I do not have strong opinions on the subject.  Unless we want to say "copied" in Syriac... (?????)

________________________________
From: Winona Salesky <notifications@github.com>
Sent: Thursday, December 8, 2016 12:33:02 PM
To: srophe/srophe-eXist-app
Cc: Carlson, Thomas Andrew; Comment
Subject: Re: [srophe/srophe-eXist-app] Easy place to cut and past

[2016-12-08 20:33] davidamichelson commented on #884
Hi Thomas,

Thanks for these comments, we had an extended discussion on this on Wed so
there is some background here that we should have passed on perhaps.

We will take your comments and discuss them at the next Wed meeting.
Winona, could you please hold off for now until we can be clear on what we
want.

Thanks,
Dave

On Thu, Dec 8, 2016 at 1:44 PM, tacarlson <notifications@github.com> wrote:

[2016-12-10 00:43] davidamichelson opened #903 "Corrections Additions Button in BHSE missing?"
I don't see it anywhere, for example here: http://syriaca.org/work/1842

[2016-12-10 12:49] jsaintlauren commented on #903
Yes, that seems to be a mistake.

On Fri, Dec 9, 2016 at 6:43 PM, David Michelson <notifications@github.com>
wrote:

[2016-12-10 21:34] tacarlson opened #904 "Surprising behaviors of "Browse""
http://syriaca.org/geo/browse.html defaults to listing the first page of A results in English, but it differs from  http://syriaca.org/geo/browse.html?lang=en&sort=A in a few particulars:

1. browse.html (with no paramaters) seems to use the older alphabetization which does not ignore opening single quotations or similar characters and does not ignore "al-"

2. When I click the "All" button to the

[2016-12-12 02:37] wsalesky commented on #904
Thanks @tacarlson I will take a look.

[2016-12-13 14:29] #903 closed

[2016-12-13 16:58] wsalesky commented on #902
This is possible. So go ahead and start populating the wiki. I will work on some technical documentation for reusing the app.

[2016-12-13 17:13] wsalesky commented on #902
See:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/documentation/wiki.html

[2016-12-13 20:21] davidamichelson opened #905 "Testing the Search Functions"
Hi All, realized we might need a place to list issues we encounter or search tips. Please post here.

[2016-12-13 20:29] davidamichelson commented on #905
One issue similar to but separate from matching the diacritics, is the problem of searching in Roman characters for different vocalizations or transliteration systems. For example when the source text uses a "y" how should one search for it: "Gyln, convent of"

[2016-12-13 20:30] davidamichelson commented on #905
In general I am feeling very confident about concluding there is no entry when searching using the following features:

1. Advanced search limit to Place Name.
2. Use wildcard after first part of the name.

Thus for "Hamimtha (hot Springs)" I used this search:

http://syriaca.org/geo/search.html?q=&p=Ham*&loc=&e=&eds=&ede=&a=&ads=&ade=&c=&cds=&cde=&existds=&existde=&type=

[2016-12-13 22:41] davidamichelson opened #906 "Extra whitespace"
Is the extra whitespace before the comma ("Budge , Ernest") in Budge , Ernest Alfred Wallis - ܒܕܓ - http://syriaca.org/person/404 from the TEI or the CSS?

[2016-12-14 12:14] nathangibson opened #907 "iOS Syriac display of http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html"
@wsalesky Just FYI, I noticed that the SBD home page does not display the Syriac text on iOS 9 (see screenshot), whereas it does on other pages. I added `lang="syr"` to the span and now it displays correctly. It also changed this to our default font.

![img_1231](https://cloud.githubusercontent.com/assets/3083452/21181465/5be420d8-c1fe-11e6-9bfc-6d48c5db9a69.png)

[2016-12-14 12:14] #907 closed

[2016-12-14 13:40] wsalesky commented on #907
Great! Did you change it on Production as well?

[2016-12-14 13:49] wsalesky commented on #906
Looks like a problem in the XSLT.

[2016-12-14 15:22] nathangibson commented on #907
I haven’t pushed it to production yet. You’re welcome to if you think it’s safe.

[2016-12-14 17:30] wsalesky opened #908 "Bug in 'feedback' link in documentation pages"
Does not popup email form.

[2016-12-14 17:31] wsalesky commented on #874
Fix script and rerun on dev data.

[2016-12-14 17:32] davidamichelson commented on #874
Script originally written on Nov 2014

[2016-12-14 17:36] davidamichelson commented on #906
Please fix in search results.

[2016-12-14 18:23] tacarlson commented on #874
I did not notice this thread last month, but I think there are greater issues here which need to be discussed, which were surfaced by my review of the results of a different recent change.  Please do not simply rerun script on dev data until the editors can discuss this issue.

[2016-12-14 19:41] dlschwartz commented on #874
@tacarlson We discussed this issue at the meeting today. The course of action we settled on was to delete the results of the old script, fix the script, text that it is working correctly, and run it again. Please let us know if you think there is some reason that this is a problematic course of action. Thanks.

[2016-12-14 20:12] tacarlson commented on #874
I was not present at the meeting today and have a few remaining questions.  I will email you directly about those shortly.

[2016-12-14 20:24] tacarlson commented on #874
Among other things, the list of problem records given in https://github.com/srophe/srophe-eXist-app/issues/874#issuecomment-258883870 is incomplete.

[2016-12-15 13:31] nathangibson opened #909 "Visualization of works in new NHSL format"
Once you've pushed the records from https://github.com/srophe/srophe-app-data/issues/648 to the dev server, let me know and we'll see what needs to be adjusted in the visualization.

Related: https://github.com/srophe/srophe-eXist-app/issues/724

[2016-12-15 16:32] nathangibson opened #910 "http://syriaca.org/person/13 error"
Unfortunately our model record http://syriaca.org/person/13 is throwing an error in FF and Safari (screenshot below).

Possibly related to pushing the records in https://github.com/srophe/srophe-app-data/issues/659#event-895466582 to production?

![apache_tomcat_7_0_50_-_error_report](https://cloud.githubusercontent.com/assets/3083452/21232604/776bead6-c2ec-11e6-82c3-836fb259a784.png)

[2016-12-15 16:53] wsalesky commented on #910
Interesting... I will look into it.

[2016-12-15 17:08] wsalesky commented on #910
Bug with Worldcat. Temporarily commented out while I troubleshoot. This way we can at least still use the record.

[2016-12-15 18:04] wsalesky commented on #884
Here is an example with the clipboard on the search results.
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/search.html?q=ephrem

Post comments here please.

[2016-12-15 18:12] wsalesky commented on #906
It is fixed in search.

[2016-12-15 18:12] #906 closed

[2016-12-15 18:20] wsalesky commented on #907
Done!

[2016-12-15 18:23] nathangibson commented on #910
Thanks!

[2016-12-15 18:35] tacarlson commented on #884
I wasn't part of the discussion, and so will abide by what others discuss.  I merely wonder if it might look better if the clipboard were moved to in front of the names, as a specialty bullet point?

[2016-12-15 18:38] wsalesky commented on #909
Looks like duplicate records were uploaded. I'm reloading them, works may be problematic for the next 30 minutes or so.

[2016-12-15 18:39] nathangibson opened #911 "Parent-Child works visualization"
@wsalesky I now have some model data we can use to start developing the visualization for works that contain other works. The model parent work is Lives of the Eastern Saints (http://syriaca.org/9501) (only on dev server) and the child works are consecutive URIs from http://syriaca.org/792 through http://syriaca.org/850.

We want to maintain the relationship in the child work. So the child work ha

[2016-12-15 18:41] nathangibson commented on #909
No problem. Thanks for doing this. Sorry if I caused problems when I merged your branch.

[2016-12-15 18:42] nathangibson commented on #911
Oh no, I just realized I labeled all the relations with bibl/9501 instead of work/9501! Correcting that now.

[2016-12-16 17:17] dlschwartz opened #912 "Works commemorated in works"
In the relationships box on the work page of BHSE, it looks like the work itself is listed as a "person commemorated." See for example work/804 where the text Mary and Euphemia is listed as a person commemorated in the text Mary and Euphemia.

[2016-12-16 21:40] wsalesky commented on #904
@tacarlson I think I have resolved all of these issues. Would you mind reviewing them and letting me know if you find anything unexpected. If they work as expected I will move it to production.

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/geo/browse.html

[2016-12-16 22:44] wsalesky opened #913 "BHSE browse for records with numerals at beginning of title"
@nathangibson @jsaintlauren Any thoughts on how you would like these to sort? Should we ignore the numbers and sort on the first word? (My first instinct.)

[2016-12-17 11:03] jsaintlauren commented on #913
Hello!
Yes, please sort on the first word please.  Thanks!

On Fri, Dec 16, 2016 at 4:44 PM, Winona Salesky <notifications@github.com>
wrote:

[2016-12-19 01:50] wsalesky commented on #909
I think this has been resolved.

[2016-12-19 02:20] #913 closed

[2016-12-19 03:18] wsalesky commented on #912
Fixed on dev, will need to fix on production.
Note to self: Issue seems to be caused by new range index.

[code]

This causes problems when transversing the tree structure to get to just a regular idno. (returns the full TEI record.)

[2016-12-19 13:48] nathangibson commented on #909
Thanks @wsalesky ! The biggest issues here have been resolved. However, there is still some tweaking -- I hadn't yet explained the details as I wasn't sure what it would be until I saw it on the page. Feel free to move these to separate issues if that's easier:

1. It appears it is no longer pulling the citation info from the works cited module. E.g., the first item under "Editions" at http://wwwb

[2016-12-19 14:39] nathangibson commented on #884
Either way is fine by me. In any case I wouldn’t mind having it even smaller/less pronounced. Not sure if that would be a problem on mobile.

[2016-12-19 15:43] davidamichelson commented on #884
I like it as is though I think Dan would like the URI to also be a button
similar to on the entry page?
I am slightly opposed to putting the button before the name since that
slows reading. I wouldn't mind it however if it was put next to the number
for the numbered list of results and made the same size as that?

[2016-12-19 17:26] dlschwartz commented on #884
I think this is fine. Because the search results have a URI with hyperlink, I can right click and copy the link. One mouse click isn't actually worth adding another button. It's the page itself you had to highlight the URI and it's nice to have the button. I'm satisfied if everyone else is.

[2016-12-19 18:33] wsalesky commented on #884
Should I mock up a version with it near the number? I think it is a little misleading there, as I would then expect it to copy the whole blurb (including name variants and descriptions).
Let me know.

[2016-12-19 18:35] wsalesky commented on #874
I have found and fixed the bug in the script. I will rerun this on the dev data (in a new branch) and let the editors review to make sure it does indeed fix the error. The script was not restricting to direct children of the tei:place element, so it was also providing alternate names for placeNames within the tei:desc element.

[2016-12-19 18:58] dlschwartz commented on #884
Sorry, I should have commented on that as well. I think it looks good where it is. I also think that it would slow reading if it appeared before the name. And I agree that having it by the number would suggest something other than what this button does.

[2016-12-19 19:01] wsalesky commented on #884
Okay. Can I push it to the production server?

[2016-12-19 19:22] tacarlson commented on #884
No objection here.

[2016-12-19 19:24] dlschwartz commented on #884
@davidamichelson Placing the icon by the number is the last remaining idea on the table. Do you want to pursue that or should Winona push this to production?

[2016-12-19 20:27] wsalesky commented on #874
Changes to places data are on this branch:
https://github.com/srophe/srophe-app-data/tree/issueApp874

[2016-12-19 20:39] davidamichelson commented on #874
Hi W I think we would like to review the script first can you post it please?

Thanks

[2016-12-19 20:40] davidamichelson commented on #884
Leave as is is fine with me

[2016-12-19 20:48] dlschwartz commented on #884
Thanks everyone. Please push to production Winona. Thanks.

[2016-12-19 20:52] davidamichelson commented on #884
FYI I think this needs to stay open for W to close?

[2016-12-19 21:13] wsalesky commented on #874
Yes, the script is here:
https://github.com/srophe/srophe-xQueries/blob/master/alt-names-placeName.xql

[2016-12-19 21:53] wsalesky commented on #884
I will open it, it is a good reminder on for me if it is open.

[2016-12-19 22:04] wsalesky commented on #884
Done!

[2016-12-19 22:04] #884 closed

[2016-12-19 23:04] wsalesky commented on #912
Fixed on Prod and Dev.

[2016-12-19 23:04] #912 closed

[2016-12-20 13:06] nathangibson opened #914 "Redirect not working for deprecated records?"
On the production server, records that should be redirected go to the deprecated page. E.g., http://syriaca.org/person/2096.

On the draft server, the same records go to a 404 page instead of redirecting.

Not sure how long this has been happening.

Original issue: #546. TEI encoding for records that should redirect: https://github.com/srophe/srophe-app-data/issues/104#issuecomment-218555443. Poss

[2016-12-20 14:22] wsalesky commented on #914
Hum. Thanks, I will take a look. Something must have gotten rolled back.

[2016-12-22 20:05] wsalesky commented on #914
Hum. I did not do anything, but they seem to be redirecting to me... @nathangibson  Do you still have this problem?

[2016-12-22 20:38] tacarlson commented on #904
Sorry for the delay!  Sudden home repair issue occupied (or "ate") a couple days.

This now behaves as I would expect, so feel free to push to production.

One niggling question: when a user visiting browse.html (with no parameters) clicks on a letter, the link includes an empty "lang=" parameter (e.g. "browse.html?lang=&sort=C").  The dev version now maintains "English" in a tab in larger script,

[2016-12-22 23:17] tacarlson commented on #874
I have a few questions about the asymmetries between the two main functions of the script (xQuery is unfamiliar to me), and I found a number of remaining issues which should probably be discussed, I suspect, before further effort is put into this script:

1. This script does not work as expected on records which have been edited since an earlier run of this script (e.g. clashing name xml-ids of ht

[2016-12-23 03:52] wsalesky commented on #904
The default language is English, so if it is not specified, then it will be English, this  can be specified in the lang parameter or not, it does not matter functionally.

I have moved the changes to Production. Please let me know if you find any unexpected behavior. Thanks!

[2016-12-23 03:52] #904 closed

[2016-12-23 04:18] wsalesky commented on #910
Interesting. It was tied to the new (now rolled back) range indexes I added to speed up record queries by id.

[2016-12-23 04:18] #910 closed

[2016-12-23 08:42] nathangibson commented on #914
Yes, right now both servers seem to be going to 404. Not sure why since https://github.com/srophe/srophe-app-data/blob/dev/data/deprecated/persons/tei/saints/tei/2096.xml has a URI type="redirect". But don't worry about this until after the break. I start on break today. Thanks!

[2016-12-30 16:16] jsaintlauren opened #915 "search function in Q"
Hi!  The search/browse in Q seems to be broken.
http://syriaca.org/q/index.html
(The search box in the upper right hand corner.)

Thanks and happy new year! @wsalesky

[2016-12-30 18:49] wsalesky commented on #915
Fixed. Sorry about that.

[2016-12-30 18:49] #915 closed

[2017-01-03 14:53] wsalesky opened #916 "XSLT Bug"
Bug in xslt transformation:
http://syriaca.org/person/26
and
http://syriaca.org/person/701

Not a problem on dev:
http://wwwb.library.vanderbilt.edu/person/26
and
http://wwwb.library.vanderbilt.edu/person/701

[2017-01-03 15:53] wsalesky commented on #916
Problem with WorldCat interaction... again.

[2017-01-03 16:10] wsalesky commented on #916
Actually a problem with indexes. Fixed.

[2017-01-03 16:10] #916 closed

[2017-01-03 17:25] wsalesky commented on #909
@nathangibson Working through this list today.
While fixing the relationships I found this in the data:
`<relation type="mssWitnesses" active="#bib9501-6" ref="dct:source" passive="#bib9501-8 bib9501-11" source="#bib9501-1"/>`

The second value in the passive attribute needs a '#' added.

[2017-01-03 17:31] wsalesky commented on #909
First pass at these changes.
http://wwwb.library.vanderbilt.edu/work/9501

[2017-01-03 17:43] wsalesky opened #917 "SPEAR browse seems inexplicably broken."
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=persons
No persons

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/browse.html?view=places
No places

[2017-01-03 18:31] wsalesky commented on #911
@nathangibson  Perhaps we can discuss this tomorrow.
Sample work:
http://wwwb.library.vanderbilt.edu/work/9501

[2017-01-03 19:29] wsalesky commented on #895
This is a data issue.

[2017-01-03 19:29] #895 closed

[2017-01-04 02:53] wsalesky commented on #914
Working on Dev, not Prod, code looks the same... Still debugging.

[2017-01-04 03:10] #908 closed

[2017-01-04 10:59] nathangibson commented on #909
This is looking great! And thanks for catching the faulty passive value.

I only see two things at the moment:
 1. The heading "Titles:" should be "Titles" (no colon) to match the other headings.
 2. We should discuss citation numbering and citation link targets when we meet. (E.g., the superscript "5" is a link but it appears that its target is a nonexistent anchor since it cites an edition. But

[2017-01-04 11:36] jsaintlauren commented on #909
Excellent work!

On Wed, Jan 4, 2017 at 5:00 AM, nathangibson <notifications@github.com>
wrote:

[2017-01-04 11:46] nathangibson commented on #911
Yes, let's do.

[2017-01-04 14:30] wsalesky commented on #909
We can just add in an anchor, that was an oversight, not a deliberate exclusion.

[2017-01-04 14:43] nathangibson commented on #909
Thanks. Adding in the anchor would help. But also the superscript link itself should make sense as a label. "5" doesn't mean anything to the user when the item it links to is "Edition 1". We can discuss the best way to resolve the human readability.

[2017-01-04 16:04] wsalesky commented on #917
Also related to strange index behavior.

[2017-01-04 16:04] #917 closed

[2017-01-04 17:33] davidamichelson opened #918 "Visualization of Relationships in NHSL"
For work records, please use http://syriaca.org/place/139.html as a model.

Specifically:

1. Work to Work relationships will be listed in the main column (in the identity box?).

2. Work to other entity relationships will be listed in the right column but with better labels and abbreviations. The labels will be drawn from the ODD file.

[2017-01-04 17:46] nathangibson commented on #911
Please sort and number based on `relation/desc/label[@type="order"][1]/@n`

If there are multiple label elements, use only the first one for numbering/sorting in the parent work, but put in parentheses (e.g., "Also found as part 5.")

@nathangibson create a test case and document the fact that the label order matters.

[2017-01-04 18:04] nathangibson commented on #909
Please include duplicates of all bibls that are not `@type="lawd:Citation"` in the "Sources" section. These should be sorted by xml:id.

[2017-01-04 19:46] nathangibson commented on #918
@wsalesky 2 questions:
 1. Do you need these labels as verbs? Participles? E.g., "This work ***commemorates*** 3 persons." Or "3 persons ***are commemorated*** in this work." Or simply "3 persons ***commemorated***"? Trying to figure out if we need different labels for singular/plural/active/passive.
 2. Will this affect NHSL only or also other modules like SBD? I'm asking b/c I think relations co

[2017-01-04 19:53] wsalesky commented on #918
It does not matter to me what form is used as long as it is consistent. I can programmatically handle singular and plural.

It would be nice to use this across all modules (except places).

Sent from my iPhone

[2017-01-04 20:51] nathangibson commented on #918
OK, try this on for size: https://github.com/srophe/srophe-eXist-app/blob/dev/srophe-app/documentation/syriaca-tei-main.odd#L775. `@ref` value is in the `@ident` and the gloss is designed to be a singular verb connecting the `@active` and the `@passive` of the relation. So you could construct a sentence, e.g., "This work **commemorates** 3 persons".

I will need to update some data in persons befo

[2017-01-05 03:41] wsalesky commented on #911
Do you want the text of the label? Or just the number?

[2017-01-05 03:44] wsalesky commented on #890
@davidamichelson @dlschwartz @nathangibson @jsaintlauren
What do you think of this for SBD home page layout?
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/index.html

Thanks!

[2017-01-05 10:43] nathangibson commented on #890
I like this. The map is big enough to see but doesn't dominate. And linking to a larger map is helpful.

I wonder, though, would we want to simply put the introduction inline below rather than linking to a separate "about" page?

[2017-01-05 11:01] nathangibson commented on #909
Thanks, the Sources are displaying as expected.

However, something seems to have interfered with the "Edition from/Translation from" info. E.g., Edition 4 on http://wwwb.library.vanderbilt.edu/work/9501 has "(Edition from s, .)" and the others are blank "(Edition from .)" Maybe this has something to do with your labeling types of relations?

[2017-01-05 15:19] wsalesky commented on #911
Okay, how about now?

[2017-01-05 15:52] nathangibson commented on #911
Sorting looks correct, thanks!

Now that I see it, I think I do prefer it without the "part" label. But perhaps we should ask the others their opinion? @davidamichelson @jsaintlauren @dlschwartz Check out http://wwwb.library.vanderbilt.edu/work/9501 and http://wwwb.library.vanderbilt.edu/work/68. Do you like it better with or without the "part" or "book" prefixed to the numbers of contained works?

[2017-01-05 16:00] wsalesky commented on #890
@nathangibson @jsaintlauren  @davidamichelson @dlschwartz
Okay, fixed map on persons browse page and added a map tab to SBD, Authors and Q. Let me know if you are ready to have it on production.
-Winona

[2017-01-05 16:04] wsalesky commented on #811
I believe this is being done in SBD currently.

[2017-01-05 16:04] #811 closed

[2017-01-05 16:06] wsalesky commented on #810
@davidamichelson I think this has been resolved.

[2017-01-05 16:06] #810 closed

[2017-01-05 16:06] #792 closed

[2017-01-05 16:07] #771 closed

[2017-01-05 16:07] #748 closed

[2017-01-05 16:17] #735 closed

[2017-01-05 16:18] #847 closed

[2017-01-05 16:19] #813 closed

[2017-01-05 16:22] nathangibson commented on #890
Looking great to me! I especially like the map on advanced browse that dynamically updates based on criteria, e.g., 4th century Syriac saints: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/persons/browse.html?fq=;fq-Type:http://syriaca.org/q;fq-Century:300-400&view=facets.

[2017-01-05 16:24] dlschwartz commented on #890
Agreed, this is looking really good.

[2017-01-05 16:35] dlschwartz commented on #911
I agree that the use of "part" is odd. From the perspective of a catalog, "part" is fine. However, scholars don't always use that language when talking about this kind of thing. In some contexts, the part is indeed a book (i.e. the Pentateuch) but in others that is not the case. Furthermore, the ancient use of "book" for a modern "chapter" might leave people thinking that they should expect to fin

[2017-01-05 16:40] wsalesky commented on #745
Done.

[2017-01-05 16:40] #745 closed

[2017-01-05 16:41] wsalesky commented on #724
@nathangibson Is this issue still relevant? Or are we working off of our new issues. (Trying to do some cleanup today.)

[2017-01-05 16:49] jsaintlauren commented on #890
I LOVE it!!

On Thu, Jan 5, 2017 at 10:24 AM, Daniel Schwartz <notifications@github.com>
wrote:

[2017-01-05 17:37] wsalesky commented on #709
Done:
https://github.com/srophe/srophe-eXist-app/issues/799

[2017-01-05 17:37] #709 closed

[2017-01-05 17:37] #708 closed

[2017-01-05 17:40] wsalesky commented on #704
This was resolved.

[2017-01-05 17:40] #704 closed

[2017-01-05 17:41] wsalesky commented on #698
This is being debugged on this issue:
https://github.com/srophe/srophe-eXist-app/issues/891

[2017-01-05 17:41] #698 closed

[2017-01-05 17:44] #639 closed

[2017-01-05 17:46] wsalesky commented on #697
@nathangibson Do we need to revive this issue? I do not think I did any work on it, but also not sure if other NHSL work supersedes this?

[2017-01-05 18:08] wsalesky commented on #696
@davidamichelson @dlschwartz @nathangibson @jsaintlauren

What would you expect to have returned by the Syriaca.org URI search (http://syriaca.org/search.html)?

Just the matching record? Or any record that also references that URI (in say a relationship).
Thanks!
-Winona

[2017-01-05 20:08] davidamichelson opened #919 "Searching Persons/SBD gives this old label "The Syriac Prosopography" which should be changed"
53 matches for Resource: "The Syriac Prosopography" Name: ܡܪܝ.

http://syriaca.org/persons/search.html?coll=sbd&type=&q=&name=%DC%A1%DC%AA%DC%9D&start-date=&end-date=&date-type=&gender=&state=&related-place=&place-type=&related-persons=&mentioned=
Please change "The Syriac Prosopography" to "The Syriac Biographical Dictionary"

[2017-01-05 21:11] davidamichelson opened #920 "Missing space in Places in Bibl module rendering"
See: this example http://syriaca.org/bibl/1
There should be a space between the comma and NJ
Piscataway,NJ

This space is present in the TEI

[2017-01-05 22:16] dlschwartz commented on #911
I forgot to mention something in connection with this issue. I did a search for "Lives of the Eastern Saints" in the search box at the top of the page and got this [](http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bhse/search.html?q=Lives+of+the+eastern+saints). It seems odd to me that one of the parts shows up and not all or none. This should probably be a different issue but perhaps @natha

[2017-01-05 22:16] dlschwartz commented on #911
Sorry, link didn't come through: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bhse/search.html?q=Lives+of+the+eastern+saints

[2017-01-06 14:45] wsalesky opened #921 "Bug in q browse, empty tab?"

[2017-01-06 14:46] #921 closed

[2017-01-06 14:52] wsalesky commented on #911
Done.

[2017-01-06 16:20] wsalesky commented on #909
@nathangibson  Okay, I think I have the labeling correct now. You may close this if it looks good.

[2017-01-06 16:25] #920 closed

[2017-01-06 16:26] wsalesky opened #922 "Bug in name spacing in bibl module, subjects."
http://syriaca.org/bibl/1
or
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/11

[2017-01-06 16:31] wsalesky opened #923 "Bad spacing between search param labels in search results."
http://syriaca.org/persons/search.html?coll=sbd&type=&q=&name=%DC%A1%DC%AA%DC%9D&start-date=&end-date=&date-type=&gender=&state=&related-place=&place-type=&related-persons=&mentioned=

RE: https://github.com/srophe/srophe-eXist-app/issues/919

[2017-01-06 16:31] #919 closed

[2017-01-06 16:46] #923 closed

[2017-01-06 19:40] davidamichelson commented on #922
I am on a different computer from when I posted (but same browser) and no longer see the place spacing error on either dev or production. Looks fixed!

[2017-01-09 13:47] wsalesky commented on #806
Should all text fields include a link to the keyboard?

[2017-01-09 17:37] nathangibson commented on #724
Probably all of this is taken care of https://github.com/srophe/srophe-eXist-app/issues/909 but I am cross-referencing that before closing this in case we need to refer back to this.

[2017-01-09 17:37] #724 closed

[2017-01-09 17:43] nathangibson commented on #697
The functionality we're going for here will be similar to isPartOf (containing) relations. We should definitely discuss the details (perhaps this Wed.?). If it's quick you could mock it up using the code you did for isPartOf relations.

cc: @davidamichelson

[2017-01-09 17:45] nathangibson commented on #696
I would think the matching record on top but perhaps also references to that URI lower down in the search. IMHO.

[2017-01-09 17:51] #922 closed

[2017-01-09 18:00] wsalesky commented on #697
Okay, is this going to be 'syriaca:part-of-tradition' or will it be  'syriaca:isPartOfTradition'

[2017-01-10 14:17] wsalesky opened #924 "Bug in transform when there are character values in bibl xml:id following '-'"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/410

XSLT can not cast 2b as an integer for sorting.

[2017-01-10 14:17] #924 closed

[2017-01-10 14:51] wsalesky commented on #697
Sample visualization:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/2057

[2017-01-11 17:36] davidamichelson commented on #697
Revise this label: This tradition is extant in 4 branches.

Please say: This tradition is extant in at least 4 branches

[2017-01-11 17:53] davidamichelson commented on #697
Change to:

Branches
This tradition comprises at least 4 branches.

[2017-01-11 17:58] wsalesky commented on #696
All references:
ref
target
passive
active
mutual

[2017-01-11 18:21] davidamichelson commented on #890
Please change "* 131 have coordinates and are shown on this map. " to:

"This map only plots places with coordinates in the Syriac Gazetteer. See FAQ..."

[2017-01-11 18:34] wsalesky commented on #806
List of available keyboards can be found here:
https://github.com/srophe/srophe-eXist-app/tree/dev/srophe-app/resources/keyboard/layouts

We will be adding a dropdown menu to the keyboard allowing users to select from a predefined list.

[2017-01-11 18:43] davidamichelson commented on #902
Notes on how to possibly divide this up:
We voted to approve using this moving forward. We will ask Winona to push this to production and redesign the documentation page and we will move some but not all documentation into into this format:

The following ought be moved into the srophe-app-data wiki, but some should be checked with Thomas first:
Dates
Frequently Asked Questions (should check with

[2017-01-11 18:45] davidamichelson commented on #890
@wsalesky made a slight change.

[2017-01-11 18:46] wsalesky opened #925 "Bug in sort"
If there are non numeric characters after the - in a bibl xml:id there are issues sorting.

[2017-01-11 18:47] #925 closed

[2017-01-11 19:07] wsalesky commented on #918
@nathangibson Remember when I said it didn't matter if you used the xml extension... well, turns out it does. Can we save the odd file as .xml?

[2017-01-11 19:10] wsalesky commented on #918
I have added the new relationships view... let me know what you all think, I'm on the fence, even though I suggested the shortened view.

Example record:
http://wwwb.library.vanderbilt.edu/work/792

[2017-01-11 21:54] tacarlson commented on #890
I just received a notice about this issue via email, and I would like time to review this before pushing to  production, ideally while I am not traveling internationally for a conference.  However, it is not clear from my brief perusal of the foregoing discussion what link I should be perusing.  Might someone mind providing a summary of what changes (including to the Gazetteer) are being considere

[2017-01-11 22:37] davidamichelson commented on #890
@tacarlson That is, of course acceptable, @wsalesky let's hold off on pushing this to production for now.

[2017-01-12 02:50] wsalesky commented on #890
Sounds good. I will hold off on this one.

[2017-01-12 13:04] nathangibson commented on #918
As far as the odd file, we could save it as XML. There are a couple issues to consider.

 1. The reason I asked to switch it to .odd is so that the TEI plugin in Oxygen recognizes it and makes available the RNG/RNC conversion options. Perhaps I could set up the same transformation scenarios manually for .xml files? Or we could keep it as .xml and rename it to do the conversion?

 2. Will other pro

[2017-01-12 13:14] nathangibson commented on #918
On relationships view, my personal opinion ...

I like having the sentence text with the number. ("This work commemorates 1 person.")
I'm not sure I like hiding the related entities *unless* there's a long list of them. When they are hidden, it looks rather bare and it doesn't spark people's curiosity. However, with them expanded, it does look a bit cluttered or undefined.

Possible solutions:
1.

[2017-01-12 15:24] wsalesky commented on #902
Okay, here is an example of how this new format could look:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/documentation/index.html

We may need to do some CSS tweaking to get some of the github classes to behave, but overall I think it looks pretty good.

[2017-01-12 15:33] wsalesky commented on #697
Done.

[2017-01-12 15:35] wsalesky commented on #918
RE: ODD, let me see if I can do it programatically. eXist is storing it as a binary file, based on extension I guess, I wonder if I could force it to save it as an xml file.

[2017-01-12 16:16] nathangibson commented on #902
I like this. The editors may want to discuss what the clearest labels for the 3 sections would be.

[2017-01-12 16:17] wsalesky commented on #902
Yes, I agree, better labeling would be useful.

[2017-01-12 17:00] wsalesky commented on #806
Add additional keyboard options.
Debug, when keyboard is closed, textbox remain  rtl.

[2017-01-12 17:22] wsalesky commented on #918
Okay, it took some wrangling but I can parse the file as is. No need to save as '.xml'

[2017-01-12 19:08] wsalesky commented on #696
Have enabled this, there are bad things happening with ordering.

[2017-01-12 21:37] wsalesky commented on #696
Fixed order, investigating lag in speed.

[2017-01-16 14:27] wsalesky commented on #696
Fixed lag in speed and bad sorting.

Function of global 'Syriaca.org URI:' is to retrieve any records that contain the URI as a string and also any records that refer to the URI via ref, target, passive, mutual, active attributes. Results are weighted so the record with tei:idno matching search URI will be returned at the top (most relevant).

[2017-01-16 14:27] #696 closed

[2017-01-16 14:37] wsalesky commented on #918
Here is a revised version:
http://wwwb.library.vanderbilt.edu/work/792

Uses the constructed sentence and shows the first two hits. More then two are hidden with the toggle button. I think the indenting helps with the visual separation.

[2017-01-16 14:39] wsalesky commented on #909
@nathangibson can this be closed? (Doing my Monday morning issue roundup.)

[2017-01-16 14:46] wsalesky commented on #877
@davidamichelson does the Syriac Keyboard help here? When I do this search using eXide I get 682 results, does this sound correct for a phrase search? I do have to do some funky typing gymnastics to get it into the eXide window, seems like it may be a browser issue more then an eXist issue.

[2017-01-16 14:52] wsalesky commented on #846
@dlschwartz I think this can be closed. Thanks!

[2017-01-16 14:52] #846 closed

[2017-01-16 14:56] #706 closed

[2017-01-16 14:57] #692 closed

[2017-01-16 14:57] #615 closed

[2017-01-16 15:14] #590 closed

[2017-01-16 15:15] #518 closed

[2017-01-16 15:53] wsalesky opened #926 "Bug in display:"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2821

[2017-01-16 16:59] #596 closed

[2017-01-16 17:14] wsalesky commented on #926
Can we discuss how to show notBefore/notAfter dates in header?

See: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/2821

[2017-01-16 17:28] jsaintlauren commented on #918
I like that!

On Monday, January 16, 2017, Winona Salesky <notifications@github.com>
wrote:

--
Sent by my large poodle - please excuse typos

[2017-01-17 10:50] nathangibson commented on #918
I think this is the best version yet!

[2017-01-17 11:16] nathangibson commented on #909
Hmm, there is something going on with the edition-manuscript-translation prose in http://wwwb.library.vanderbilt.edu/work/9501. Edition 4 (bib9501-6) should say "(Edition from Manuscripts 2, 3.)" instead of "(Edition from Manuscripts 1, 2.)"
And Modern Translations 1, 2, and 3 should be from Editions 1, 2, and 3, respectively (not all from Edition 1 as they are now). As far as I can tell the probl

[2017-01-17 15:02] wsalesky commented on #909
Fixed, good catch.

[2017-01-17 15:02] #909 closed

[2017-01-17 17:37] wsalesky opened #927 "Go through code to add better error handling"
Example:
app:get-feed() was failing if the feed was down, should just return empty string. (This one has been addressed.)

[2017-01-17 22:04] davidamichelson opened #928 "Spacing for icon in bibls"
The final icon in this bibl is spaced oddly (seems to be missing a space).

See notes for sources 2 and 3 in  http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1584

2 Sergey Minov (ed.), A Comprehensive Bibliography on Syriac Christianity (The Center for the Study of Christianity, The Hebrew University of Jerusalem, 2013), entry: St Anastasia.Link to Syriaca.org Bibliographic Record

3

[2017-01-18 15:03] wsalesky commented on #928
Fixed!

[2017-01-18 15:03] #928 closed

[2017-01-18 17:36] wsalesky opened #929 "Timeline bug"
Nested place/persNames do not display.

[2017-01-18 17:39] wsalesky commented on #926
Insert text 'not before DATE and not after DATE'
Also trim dates in title (remove leading zeros).

[2017-01-18 17:44] wsalesky commented on #902
- Editorial Documentation
- Editorial Reference
- Technical Documentation

[2017-01-18 17:50] wsalesky commented on #877
User interface.

[2017-01-18 17:57] wsalesky commented on #806
Languages:
arabic.min.js
ms-Arabic.min.js
ms-Russian.min.js
ms-Greek.min.js

[2017-01-18 20:33] davidamichelson opened #930 "Rendering of TEI in titles for Sources section is unable to handle attribute data"
Somewhat surprisingly (so we could revise the data if need be instead) this record has a problem in the html for the sources list: http://wwwb.library.vanderbilt.edu/person/2679

Note how it renders http://syriaca.org/bibl/675

1 E. W. Brooks (ed.), Text, The Sixth Book of the Select Letters of http://syriaca.org/person/51Severus Patriarch of Antioch in the Syriac Version of http://syriaca.org/per

[2017-01-19 10:21] nathangibson commented on #930
Yes, for now I think that's the best solution. Done.

[2017-01-19 10:21] #930 closed

[2017-01-19 18:45] nathangibson opened #931 "Error on http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/68"
I get the following error. I would guess this is because one of the works it contains (http://wwwb.library.vanderbilt.edu/work/1) has a double `<label>` inside the relation. I did it this way because a double `<desc>` is invalid TEI.

[code]

[2017-01-19 18:52] nathangibson opened #932 "Visualization of http://wwwb.library.vanderbilt.edu/work/1"
I just added a bunch of stuff to http://wwwb.library.vanderbilt.edu/work/1 using a script. I see some visualization problems.

 1. Manuscripts (`bibl/@type="syriaca:Manuscript"`) are not showing up in their own section, as they should, only in footnotes. Am I coding something wrong?
 2. I have more info in the manuscripts than in other records. idno and date are not showing. Could we visualize the

[2017-01-19 19:02] #931 closed

[2017-01-19 19:02] wsalesky commented on #931
Introduces an display issue, but I think we were removing the labels anyway?

[2017-01-19 19:24] wsalesky commented on #932
Still some display issues, but at least they are showing up. I will come back to this tonight, or tomorrow and get it cleaned up.

[2017-01-19 21:59] wsalesky commented on #932
@nathangibson  What the expected display once that ptr to the manuscript is live?
`<ptr target="http://syriaca.org/manuscript/694"/>`

I don't want to write a patch for the display that will then be overwritten later.

[2017-01-20 09:53] nathangibson commented on #911
Unfortunately, it still looks like we're having issues with ordering. When you pull up the list of contained works at http://wwwb.library.vanderbilt.edu/work/9501, they are not in the correct order and the numbers displaying beside them are not the numbers in the relation/desc/label. For example, http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/831 has n="40" but shows as "042" and http:/

[2017-01-20 09:55] nathangibson commented on #931
You’re right, we decided to remove “book”/“part” etc. text from the numbered list.

[2017-01-20 10:03] nathangibson commented on #932
Yes, understandable. Let's pull @davidamichelson in on this one.

[2017-01-20 10:04] nathangibson commented on #932
Also, the "Catalogue" section looks great. Can it go below "Manuscript" section? Thanks.

[2017-01-20 15:10] #929 closed

[2017-01-20 15:40] wsalesky commented on #918
Okay, I think I will close this issue.
@nathangibson is this dev only?

[2017-01-20 15:40] #918 closed

[2017-01-20 16:16] nathangibson commented on #918
As far as dev, perhaps we should ask that at the next meeting.

[2017-01-23 05:15] tacarlson commented on #890
I have looked over the proposed change.  I agree that the current map caveat text could usefully be clarified.  As Dave knows from a long string of earlier conversations, I think the map caveat text is critically important to the intellectual integrity of the Gazetteer, for avoiding the seductive obscurity of a bare map which does not make clear what is being mapped.  Unfortunately, the proposed n

[2017-01-23 14:48] wsalesky commented on #890
@tacarlson thank you for the feed back. I will fix the dynamic function on the dev server first and we can review it.

[2017-01-23 15:10] wsalesky commented on #902
This has been updated. I will need to work on add some technical documentation.

[2017-01-23 15:33] wsalesky commented on #911
Fixed!

Note: order is based on the first tei:desc/tei:label, let me know if this causes any issues.

[2017-01-23 15:33] #911 closed

[2017-01-24 16:21] davidamichelson commented on #874
@tacarlson in preparation for discussing this issue, if time permits, I have reviewed the script posted here. In abbreviated terms, the script does the following (@wsalesky please let me know if I am mistaken):

The script identifies place names which contain left-half ring and only at this level/path place/placeName (thus placeNames which are not the direct child of a tei:place but in a tei:note/